@charset "UTF-8";

/*
Back to top button 
*/
#back-top {
	display:none;
	position: fixed;
	bottom: 10px;
	left:20px;
}
#back-top a {
	width: 108px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}
/* arrow icon (span tag) */
#back-top span {
	width: 108px;
	height: 108px;
	display: block;
	margin-bottom: 7px;
	background: black url("../img/up-arrow.png") no-repeat center center;
	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
	background-color: #777;
}
/* End of Back to Top */

#navbar_inner .nav li a{
	color:white;
}
#navbar_inner .nav li a:hover{
	color:#EFEFEF;
}

body{
	margin-top:80px;
}
.image-preview{
	height:100px;
	width:100px;
	background-color:black;
	float:left;
	margin-right:2px;
	margin-bottom:2px;
}
.image-preview img:hover{
	opacity:0.5;
}
.image-preview img{
	height:100px;
	width:100px;
	transition: opacity 0.3s;
	-moz-transition: opacity 0.3s; /* Firefox 4 */
	-webkit-transition: opacity 0.3s; /* Safari and Chrome */
	-o-transition: opacity 0.3s; /* Opera */
}

.profile-dp-container{
	width:48px;
}

#supportbody{
	background-color:#202328;
}
#chatbtn{
	width:145px;
	position:fixed;
	bottom:0px;
	right:10px;
	z-index:10000;
}

.chat-text{
	overflow:auto;
}
#hidechatlist{
	z-index:10000;
	position:fixed;
	bottom:0px;
	right:0px;
	width:186px;	
}
.chatbox .chat-text img.userdp{
	float:left;
	height:32px;
	width:32px;
	min-width:32px;
	margin-right:5px;
	margin-left:5px;
}
.chatbox .chat-text .chatmessage{
	margin-top:-2px;
	margin-left:5px;
	color:black;
	max-width:195px;
	line-height:15px;
	word-wrap:break-word;
}
#chatlist{
	z-index:10000;
	position:fixed;
	top:46px;
	color:black;
	display:none;
	right:0px;
	background-color:white;
	width:198px;
	border-left:1px solid black;
	
}
#chat-header{
	z-index:10000;
	padding:10px 0px;
	color:white;
	background-color:#202328;
}
#chat-header p{
	font-size:15px;
	margin:0px;
}
#chatlist .chatlist_user{
	padding-left:5px;
	padding-top:5px;
	padding-bottom:9px;
	font-size:13px;
	margin-bottom:3px;
}
#chatlist .chatlist_user:hover{
	background-color:#2f96b4;
}
#chatlist .chatlist_user a{
	color:black;
}
#chatlist .chatlist_user a:hover{
	text-decoration:none;
}
.chatbox{
	z-index:10000;
	position:fixed;
	bottom:0px;
	display:none;
	//right:220px;
	z-index:1000;
	width:270px;
}
.chatbox .chat-text td.chatimg-holder{
	padding-top:10px;
	vertical-align:top;
	width:32px;
	min-width: 32px;
}

.chatbox .chat-text table td:hover{
	background-color:transparent;
}
.chatbox .chat-text table tr:hover{
	background-color:transparent;
}
.chatbox .chat-text table:hover{
	background-color:transparent;
}
.chatbox .chat-text table td.message-holder{
	padding-top:10px;
	vertical-align:top;
	padding-left:5px;
}
.chatbox textarea.message{
	resize: none;
	width:255px;
	position:relative;
	left:1px;
	height:21px;
	border-radius:0px;
}
.chatbox .chat-text{
	font-size:12px;
	overflow:auto;
	padding-top:10px;
	padding-right:5px;
	background-color:white;
	height:220px;
	border-left:1px solid black;
}
.chatbox form{
	margin-bottom:0px;
}
.chatbox input{
	border-radius:0px;
	width:257px;
}
.chatbox .chatbox-header p{
	font-size:14px;
	margin-bottom:0px;
}
.chatclose{
	font-weight:bold;
	font-size:12px;
}
.chatclose:hover{
	text-decoration:none;
	color:black;
	font-weight:bold;
}
.chatbox .chatbox-header{
	margin-bottom:0px;
	border-bottom-right-radius:0px;
	border-bottom-left-radius:0px;
	border-bottom-width:0px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	color:white;
}
.chatbox .chatbox-header:hover{
	background-color:orange;
	border-width:0px;
	border-shadow:none;
	cursor:pointer;
}
#supportbody input,textarea{
	color:black;
}
#supportformsubmit{
	margin-right:10px;
}
.btn-fb{
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#133783));
  background-image: -webkit-linear-gradient(top, #3b5998, #133783);
  background-image: -o-linear-gradient(top, #3b5998, #133783);
  background-image: linear-gradient(to bottom, #3b5998, #133783);
  background-image: -moz-linear-gradient(top, #3b5998, #133783);
  background-repeat: repeat-x;
  border-color: #133783;
/*   border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-fb:hover,
.btn-fb:active,
.btn-fb.active,
.btn-fb.disabled,
.btn-fb[disabled] {
  color: #ffffff;
  background-color:#133783;
  *background-color: #133783;
}
.btn-blue{
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue.active,
.btn-blue.disabled,
.btn-blue[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}


.timestamp{
	font-size:12px;
}

@media all and (max-width:1030px){
	#navbar_inner{
		width:954px;
		padding-left:30px;
		padding-right:20px;
	}
}
@media all and (min-width:1030px){
	#navbar .navbar-search .search-query{
		margin-right:90px;
		width:350px;
	}
	
	#navbar_inner{
		width:96%;
		padding-left:45px;
		padding-right:50px;
		
		/*padding-right:40px;*/
	}
}
#navbar #navbar_inner #brand{
	padding-left:0px;
}


.btn-blue:active,
.btn-blue.active {
  background-color: #003399 \9;
}
.brand #logo{
	width:150px;
	height:30px;
}

.pull-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.navbar #loginformsubmit{
	position:relative;
	top:3px;
}

.navbar .forgetpass {
	margin-left:15%;
	color:#C8C8C8;
}

#myCarousel .carousel-caption p{
	font-size:15px;
}
#myCarousel img{
	height:358px;
	width:600px;
}
#myCarousel{
	margin-bottom:0px;
	margin-top:0px;
}
.navbar a:hover{
	color:orange;
	text-decoration:none;
}
.content{
	margin-top:80px;
	font-famly: 'Lato', sans-serif;
}

.navbar-inner .brand{
	padding-top:5px;
	padding-bottom:10px;
}

.navbar .nav li a{
	font-size:14px;
	font-family: 'Lato', sans-serif;
}
.navbar .dropdown-toggle li a{
	font-size:14px;
	font-family: 'Lato', sans-serif;
}

.navbar .nav li a i{
	font-size:1.5em;
	padding-top:0px;
}

/* big icons */
.huge-icon {
  font-size: 3em;
}

.enormous-icon {
  font-size: 5em;
  line-height: 1;
}
.enormous-icon.circled {
  display: block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.4em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #333333;
  color: white;
}

.nav .dropdown-menu{
	top:45px;
}
#navbar .nav li a{
	padding-left:5px;
	padding-right:8px;
}

#navbar .navbar-search .search-query{
	border-radius:5px;
	height:20px;
	font-size:14px;
}
.sideBar{
	padding-left:40px;
	position:fixed;
	font-family: 'Lato', sans-serif;
}
.dp-container{
	width:48px;
}
.small-activity-container{
	width:40px;
}
.activity-container{
	width:48px;
}
.mainPanel{
	position:relative;
	padding-top:0px;
	font-famly: 'Lato', sans-serif;
	margin-right:90px;
	color:black;
}
.carouselContainer{
	padding-top:30px;
	padding-bottom:30px;
	padding-left:15px;
	padding-right:15px;
	margin-left:0px;
	margin-right:0px;	
}

#signupcontainer{
	margin-left:0px;
}


#personal_name{
	position:relative;
	top:-68px;
	left:60px;
}
#personal_name p{
	font-size:15px;
}

#personal_name h3{
	margin-bottom:0px;
}
#personal_name a{
	margin-top:-6px;
	font-size:13px;
	color:white;
}
#personal_name a:hover{
	text-decoration:none;
	color:orange;
}

#personal_status p:first-child{
	margin-bottom:0px;
	font-size:14px;
	font-weight:bold;
}
.font-italic{
	font-style:italic;
}
.block{
	text-transform:uppercase;
}

#titlearea{
	color:white;
	margin:0px;
	margin-bottom:0px;
	padding-top:5px;
	padding-bottom:5px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	border-bottom-width:0px;
}

.mainPanel #titlearea h3{
	
	font-famly: 'Lato', sans-serif;
	margin:5px;
	font-size:30px;
	
}

#supportButton{
	position:fixed;
	font-famly: 'Lato', sans-serif;
	top:50%;
	right:-30px;	

	/* Safari */
	-webkit-transform: rotate(-90deg);
	
	/* Firefox */
	-moz-transform: rotate(-90deg);
	
	/* IE */
	-ms-transform: rotate(-90deg);
	
	/* Opera */
	-o-transform: rotate(-90deg);
	
	/* Internet Explorer */
	/* filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); */

}


.content #supportmodal .modal-body{
	//background-image:url("../img/whitey.png");
	background-color:white;
	color:black;
}

#closebutton{
	font-famly: 'Lato', sans-serif;	
}
#landing-navbar .navbar-inner{
	padding-right:130px;
	padding-left:150px;
	padding-top:0.5%;
}
.huge-icon {
  font-size: 3em;
}

.enormous-icon {
  font-size: 5em;
  line-height: 1;
}
.enormous-icon.circled {
  display: block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.4em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #333333;
  color: white;
}

.section{
	padding-bottom:0px;
	padding-left:3px;
	padding-right:3px;
	padding-bottom:5px;
	padding-top:10px;
	border-top-width:0px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	background-color:white;
	color:black;
}

.section-header h3{
	margin-top:2px;
}

.section-header{
	color:white;
	padding-top:0px;
	padding-bottom:0px;
	margin-bottom:0px;
	border-bottom-width:0px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}
.section-header h1,h2,h3,h4,h5,h6{
	font-famly: 'Lato', sans-serif;
}
#signupform input,select{
	font-famly: 'Lato', sans-serif;
	color:black;
	height:25px;
	margin-bottom:10px;
}

.successdiv,.errordiv,.loading{
	display:none;
}
#unseen{
	padding-left:1px;
	padding-right:3px;
	position:absolute;
	bottom:5px;
	right:45px;
	display:none;
}