@CHARSET "UTF-8";
/* Like and Comment Section */

td.main-cell .vote a.counter{
	color:black;
	margin-right: 5px;
}
td.main-cell .vote .counter:hover{
	color:orange;
	text-decoration:none;
}

#liketable{
	width:100%;
	text-align: left;
}
#liketable tr td:last-child{
	padding-left:10px;
}
#liketable tr:hover{
	background-color:#272B30;
}

#cliquefeedtable .displaycomments .deletecomment{
	display:none;
	color:black;
	font-size:13px;
}

#cliquefeedtable .displaycomments .deletecomment:hover{
	color:black;
	text-decoration:none;
	
}


.like,.unlike,.numcomments{
	color:black
}

.displaycomments .dp-container{
	padding-right:0px;
}
.displaycomments .school{
	margin-bottom:0px;
	color:black;
}
.displaycomments .school:hover{
	text-decoration:none;
	color:black;
}

.storyname{
	color:black;
}
.storyname:hover{
	color:black;
	text-decoration:none;
}
#cliquefeedtable .displaycomments tr td.dp-container,
#cliquefeedtable .displaycomments tr td.details{
	padding-bottom:0px;
}

#cliquefeedtable .displaycomments{
	display:none;
}

#cliquefeedtable .loadmore{
	color:black;
}
#cliquefeedtable .loadmore:hover{
	color:black;
	text-decoration:underline;
}
#cliquefeedtable .main-cell table.displaycomments{
	margin-left:0px;
	display:none;
	margin-bottom:3px;
	border-spacing:0px;
	border-radius: 3px;
}
#cliquefeedtable .news table.displaycomments td{
	padding-bottom:0px;
	padding-top:2px;
}
#cliquefeedtable .news table.displaycomments tr:first-child td{
	padding-top:5px;
}
#cliquefeedtable .news .displaycomments td{
	border:none;
	border-spacing: 0px;
}
#cliquefeedtable .news .displaycomments tr{
	border-radius:5px;
}

.displaycomments .details p.actualcomment{
	font-size:12px;
	margin-bottom:0px;
}
#cliquefeedtable .news .displaycomments .details p.school{
	
	margin-bottom:0px;
}
.displaycomments .dp-container, .displaycomments .details{
	padding:0px;
	padding-left:3px;
}
#cliquefeedtable td.main-cell .vote a.unlike:hover{
	color:orange;
}
#cliquefeedtable td.main-cell .votes-stats,
#cliquefeedtable td.main-cell .vote{
	display:block;
	clear:both;	
}

#cliquefeedtable td.main-cell .vote a.numcomments:hover,
a.like:hover
{
	color:black;
	text-decoration:underline;
}
.commentform{
	display:none;
	margin-top:3px;
	margin-bottom:0px;
}
.commentform .text-input{
	height:20px;
	font-size: 12px;
}
.news .message{
	display:none;
	font-style: italic;
}
.commentform .post-comment, .commentform .hide-comment-form{
	position:relative;
	bottom:6px;
	height:29px;
}
.notification-text{
	color:white;
}
.vote .like,.unlike{
	margin-right:5px;
	
}
#cliquefeedtable a.unlike{
	color:black;
}


/* End of Section */

#addpeople{
	position:relative;
	bottom:3px;
	
}

#cliquedetails{
	color:white;
	padding:10px;	
}

#cliqueimg{
	margin-right:5px;
	width:70px;
	height:70px;
	float:left;
}

#clique_feed{
	padding-left:0px;
	padding-right:0px;
}

#cliquefeedtable{
	width:100%;
	border-collapse:collapse;
}
#cliquefeedtable tr:hover{
	background-color:#E9E9E9;
}

#cliquefeedtable tr td:first-child{
	vertical-align: top;
}
#cliquefeedtable tr td.activity-container{
	padding-top:0px;
	padding-left:10px;
}
#cliquefeedtable tr td:last-child{
	padding-right:5px;
}
#cliquefeedtable tr td{
	padding-bottom:15px;
	border-bottom: 1px solid #E9E9E9;
}
#schoollist .modal-body{
	overflow:hidden;
}
#cliquename{
	margin-top:0px;
	font-size:18px;
	display:inline;
	text-transform: capitalize;
}

#editpeople{
	position:relative;
	top:8px;
}

#extrainfo{
	display:none;
	color:white;
	
}

#extrainfo table{
	width:100%;
	
}
#extrainfo .comment-dp{
	width:50px;
}

#extrainfo .comment-comment{
	padding-left:10px;
}

#extrainfo .comment-comment p:first-child{
	font-size:17px;
	position:relative;
	top:5px;
}
#extrainfo .comment-comment p:last-child{
	font-style: italic;
}

#extrainfo .comment-comment a:hover{
	color:orange;
	text-decoration:none;
}

.fancyboxgal{
	height:110px;
	width:110px;
	background-color:black;
	float:left;
	margin-right:5px;
	margin-bottom:5px;
}
.fancyboxgal img{
	height:110px;
	width:110px;
	transition: opacity 0.4	s;
	-moz-transition: opacity 0.4s; /* Firefox 4 */
	-webkit-transition: opacity 0.4s; /* Safari and Chrome */
	-o-transition: opacity 0.4s; /* Opera */
}

.fancyboxgal img:hover{
	opacity:0.5;
}

#leftpane{
	width:287px;
}
.main-cell{
	padding-left:10px;
}
.main-cell h4{
	font-size:16px;
	margin-top:0px;
	margin-bottom:0px;
	text-shadow: none;
}

.modal-close{
	margin-left:5px;
}

#nummembers{
	font-size:13px;
	margin-bottom:29px;
	position:relative;
	left:5px;
	
}

#clique_members{
	padding-left:5px;
	padding-right:5px;
	height:210px;	
}

.fancybox-header{
	color:white;
}

#file-upload .file{
	display:none;
}

.friends,.friendselected{
	margin-bottom:5px;
}

.friends:hover{
	cursor:pointer;
	opacity:0.6;
}

.friendselected{
	background-color:lightgray;
	/*opacity:0.6;*/
}
.friendselected:hover{
	cursor:pointer;
}

.members-container{
	width:85px;
	height:85px;
	float:left;
	background-color:black;
	margin-left:5px;
	margin-bottom:5px;
}


.members{
	height:85px;
	width:85px;
}

.members:hover{
	opacity:0.5;
}

#members-header{
	padding-bottom:10px;
	padding-top:10px;
}

#photodiv{
	clear:both;
}

.photo-preview{
	background-color:white;
	float:left;
	margin-right:5px;
	margin-bottom:5px;
	padding:0px;
	width:79px;
	height:86px;
}
.photo-preview .preview-img{
	width:79px;
	height:86px;
}
.photo-preview .photo-loading{
	display:none;
	position:relative;
	top:25px;
	left:24px;
}


#post{
	padding-right:5px;
	padding-left:30px;
	padding-bottom:6px;
	padding-top: 15px
}
#post-status{
	bottom:5px;
	height:35px;
	position:relative;
}
.section{
	position:relative;
	bottom:10px;
}



#rightpane{
	min-width: 635px;
}
#seeall{
	clear:left;
}
#selectallnone{
	margin-right:10px;
}

#statusform{
	margin-bottom:0px;
}
#statusupdateinput{
	height:35px;
	resize:none;
}

#upload-file i{
	font-size:5em;
	margin-top:5px;
}

#upload-all{
	margin-top:10px;
}
#upload-section{
	display:none;
}
.venue_photo{
	margin-bottom:5px;
}
