@CHARSET "UTF-8";

#feedtable .displaycomments .deletecomment{
	display:none;
	font-size:13px;
}
#feedtable .displaycomments .deletecomment:hover{
	color:black;
	text-decoration:none;
	
}
#personal_dp{
	position: relative;
	bottom:5px;
}
#allcliques,#cliquebutton{
	display:none;
}
#liketable{
	width:100%;
	text-align: left;
}
#liketable tr td:last-child{
	padding-left:10px;
}
#liketable tr:hover{
	background-color:#272B30;
}

.vote a.counter{
	margin-right:5px;
}
.vote a.counter:hover{
	text-decoration:none;
	color:orange;
}
td.news .vote a.like:hover{
	text-decoration:none;
}

.cliquename{
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}

#feedtable .displaycomments .dp-container{
	padding-right:0px;
}
#cliquelist{
	text-transform:capitalize;
}
.with{
	color:white;
	font-weight:bold;
}
#post-status{
	position:relative;
	bottom:5px;
}
#photo-upload{
	position:relative;
	bottom:5px;
	height:25px;
}
.school:first-letter{
	text-transform: capitalize;
}
#photo-upload i{
	font-size:1.3em;
	position:relative;
	top:3px;
}
#feedtable{
	width:100%;
	border-collapse:collapse;
}
#feedtable tr:hover,
table tr:hover{
	background-color:#EFEFEF;
}
#feedtable tr td{
	border-bottom: 1px solid #E9E9E9;
	/*border-bottom-color:blue;*/
}
#feedtable tr td:last-child{
	padding-top:5px;
	padding-bottom:20px;
}
#feedtable tr td:first-child{
	padding-left:5px;
	padding-right:10px;
	padding-top:5px;
	vertical-align: top;
}
.taggedbtn{
	margin-left:4px;
	margin-bottom:3px;
}
.tagdetails{
	display:none;
}
.hiddensuggestion{
	display:none;
}
.tagremove{
	display:none;
}
#tag{
	position:relative;
	bottom:5px;
	height:35px;	
}

.tagsuggestionname{
	display:block;
	color:black;
	padding:10px;
}
.tagsuggestionname:first-child{
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}
.tagsuggestionname:last-child{
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}
.tagsuggestionname:hover,.tagfocused{
	background-color:lightgray;
	text-decoration:none;
	color:black;
}
.tagged{
	display:none;
}
#taglist{
	width:200px;
	position:absolute;
	background-color:white;
	display:none;
	border-radius:3px;
}
@media all and (min-width: 1030px){
	
	.cliquediv{
		height:80px;
		width:80px;
		float:left;
		margin-right:5px;
		margin-bottom:18px;
	}
	.cliquename{
		color:black;
		font-size:12px;
		margin-top:0px;
		margin-bottom:0px;
	}
	
	#chatbtn{
		right:36px;
	}
	#stats{
		position:relative;
		top:-20px;
		left:8px;
		padding:5px;
		border-top-width:0px;
		border-top-left-radius:0px;
		border-top-right-radius:0px;
	}
	#personal{
		padding-right:5px;
		padding-left:10px;
		border-bottom-width:0px;
		margin-top:0px;
		color:white;
		padding-bottom:5px;
		height:auto;
		margin-bottom:0px;
		border-bottom-left-radius:0px;
		border-bottom-right-radius:0px;
	}
	
	#feedsection{
		width:640px;
		float:left;
		margin-left:20px;
	}
	
	#main-row{
		width:1225px;
		min-width:1225px;
		margin-left:auto;
		margin-right:auto;
		float:center;
	}	
	
	#personal_status{
		padding-top:10px;
		padding-top:10px;
		padding-bottom:0px;
		border-top-width:0px;
		border-top-left-radius:0px;
		border-top-right-radius:0px;
		/*background-image:url("../img/whitey.png");*/
		background-color:white;
		color:black;
	}
			
	#personalsection{
		/*position:fixed;*/
		float:left;
		width:270px;
	}
	#personalsection #personal_name h3{
		line-height:32px;
		max-width:200px;
		font-size: 20px;
	}
	
	#suggestionsection{
		float:left;
		margin-left:20px;
		width:260px;
		
	}	
}

/*#navbar_inner{
background-color: #333333;
  background-image: -moz-linear-gradient(top, #333333, ##363636);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(##363636));
  background-image: -webkit-linear-gradient(top, #333333, #363636);
  background-image: -o-linear-gradient(top, #333333, #363636);
  background-image: linear-gradient(to bottom, #333333, #363636);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff#363636', GradientType=0);
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
	background-color:#525252;
}	
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
	background-color:#33333;
}
#navbar_inner .nav li a{
	background-color:#333333;
	background-image: -moz-linear-gradient(top, #333333, ##363636);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(##363636));
  background-image: -webkit-linear-gradient(top, #333333, #363636);
  background-image: -o-linear-gradient(top, #333333, #363636);
  background-image: linear-gradient(to bottom, #333333, #363636);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff#363636', GradientType=0);
}*/


@media all and (max-width:1030px){
	
	#cliques-header h4{
		font-size:16px;
	}
	
	.cliquediv{
		height:64px;
		width:64px;
		float:left;
		margin-right:6px;
		margin-bottom:16px;
	}
	.cliquename{
		color:black;
		font-size:10px;
		margin-top:0px;
		margin-bottom:0px;
	}
	
	#main-container{
		padding-left:5px;
		padding-right:0px;
	}
		
	#main-row{
		width:990px;
		
	}
	#feedsection{
		width:500px;
		float:left;
		margin-left:5px;
	}
	#personalsection{
		/*position:fixed;*/
		float:left;
		width:230px;
	}
	
	#suggestionsection{
		float:left;
		margin-left:5px;
		width:240px;
		
	}
	
	#feedsection #titlearea h3{
		margin:0px;
	}
	#most_popular h3,#suggestions-header h3{
		font-size:19px;
	}
	
	#chatbtn{
		right:16px;
	}
	
	#personal{
		border-bottom-width:0px;
		margin-top:0px;
		color:white;
		padding-bottom:5px;
		padding-left:10px;
		height:auto;
		padding-top:7px;
		margin-bottom:0px;
		border-bottom-left-radius:0px;
		border-bottom-right-radius:0px;
	}
	#stats{
		position:relative;
		top:-20px;
		left:5px;
		width:210px;
		padding:3px;
		border-top-width:0px;
		border-top-left-radius:0px;
		border-top-right-radius:0px;
	}
	
	#personalsection #personal_name h3{
		line-height:32px;
		max-width:150px;
		position:relative;
		left:-6px;
		font-size:17px;
	}
	#personal_status{
		padding-left:12px;
		padding-top:1px;
		border-top-width:0px;
		padding-bottom:3px;
		border-top-left-radius:0px;
		border-top-right-radius:0px;
		/*background-image:url("../img/whitey.png");*/
		background-color:white;
		color:black;
	}
	#personal_status p{
		margin-bottom:0px;
		font-size: 13px;
	}
	#personalsection #personal_name a{
		position:relative;
		left:-4px;
		top:-10px;
		font-size:12px;
	}
	#cliques-header,#cliques{
		margin-left:0px;
	}
	
}
#stats{
	margin-bottom:0px;
}

.clique{
	text-shadow:none;
}
#popular_list .venue_actions{
	visibility:hidden;
}

#suggestions table tr.hidden{
	display:none;
}
#popular_list .action-list{
	padding-left:5px;
	display:none;
}
#popular_list{
	position:relative;
	bottom: 11px;
}
#popular_list table .dp-container{
	vertical-align: top;
}
#popular_list table{
	width:100%;
}
#popular_list .name{
	font-size:15px;
	text-shadow:none;
	margin:0px;
}
#popular_list small{
	position:relative;
	left:3px;
}

#feed .loadmore{
	color:black;
}
#feed .loadmore:hover{
	color:black;
	text-decoration:underline;
}
#feed .news table.displaycomments{
	margin-left:0px;
	display:none;
	margin-bottom:3px;
	border-spacing:0px;
	border-radius: 3px;
}
#feed .news table.displaycomments td{
	padding-bottom:0px;
	padding-top:2px;
}
#feed .news table.displaycomments tr:first-child td{
	padding-top:5px;
}
#feed .news .displaycomments td{
	border:none;
	border-spacing: 0px;
}
#feed .news .displaycomments tr{
	border-radius:5px;
}

.displaycomments .details p.actualcomment{
	font-size:12px;
	margin-bottom:0px;
}
#feed .news .displaycomments .details p.school{
	
	margin-bottom:0px;
}
.displaycomments .dp-container, .displaycomments .details{
	padding:0px;
	padding-left:3px;
}
#feed td.news .vote a.unlike:hover{
	color:orange;
}
#feed td.news .votes-stats,
#feed td.news .vote{
	display:block;
	clear:both;	
}
#feed td.news .vote a.like:hover,
#feed td.news .vote a.comment:hover,
#feed td.news .votes-stats a.like-tooltip:hover,
#feed td.news .votes-stats a.numcomments:hover
{
	color:black;
	text-decoration:underline;
}
.commentform{
	display:none;
	margin-top:3px;
	margin-bottom:0px;
}
.commentform .text-input{
	height:20px;
	font-size: 12px;
}
.main-cell .message{
	display:none;
	font-style: italic;
}
.commentform .post-comment, .commentform .hide-comment-form{
	position:relative;
	bottom:6px;
	height:29px;
}
.notification-text{
	color:white;
}
#upload-all{
	margin-top:10px;
}
#upload-section{
	display:none;
}
#file-upload .file{
	display:none;
}
#close-upload{
	margin-bottom:10px;
}
.photo-preview{
	background-color:white;
	float:left;
	margin-right:5px;
	margin-bottom:5px;
	padding:0px;
	width:79px;
	height:86px;
}

.photo-preview .preview-img{
	width:79px;
	height:86px;
}
.photo-preview .photo-loading{
	display:none;
	position:relative;
	top:25px;
	left:24px;
}

#upload-file i{
	font-size:5em;
	margin-top:5px;
}
#feed .names,#suggestions .names{
	text-shadow:none;
	margin-top:0px;
	margin-bottom:2px;
	font-size:15px;
	text-transform:capitalize;
}
#feed .school,#suggestions .school{
	margin-bottom:5px;
}

#suggestions table{
	width:100%;
}
#suggestions table .dp-container{
	vertical-align: top;
}
#suggestions table .suggestion-name{
	padding-left:5px;
	padding-top:6px;
	padding-bottom:0px;
}

#suggestions .school{
	margin-bottom: -2px;
}
/*#suggestions small{
	position:relative;
	left:-6px;
}*/
.closesuggestion{
	position:relative;
	bottom:10px;
	font-size:13px;
}

#statusupdate input{
	height:35px;
}
#statusupdate form{
	margin-bottom:0px;
}
#statusupdate{
	padding-left:35px;
	padding-right:10px;
}


.closemodal{
	margin-left:5px;
}
.dp-container{
	width:48px;
}
#add-to-clique{
	display:none;
}		
#friendlist{
	display:none;
}
/*#currentcliquelist .table tr:hover{
	background-color:#525252;
}*/
#friendlist .table tr:hover{
	background-color:#525252;
}
.deletecliqueuser{
	display:none;
}

#add-friends{
	margin-bottom:10px;
}
.content{
	margin-top:0px;
}
#feed{
	background-color:white;
	padding-top:5px;
	padding-left:3px;
	padding-right:3px;
	color:black;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-top-width:0px;
}

#feed a{
	color:black;
}

.feeddp{
	width:48px;
}
#personal_dp img{
	width:48px;
	height:48px;
}



#cliques-header{
	
	height:50px;
	color:white;
	padding-top:10px;
	padding-bottom:0px;
	margin-bottom:0px;
	border-bottom-width:0px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}
#cliques-header h4{
	margin-top:0px;
	margin-bottom:0px;
}

#cliques a:hover{
	color:orange;
	text-decoration:none;
}
#cliques a{
	color:black;
	text-shadow:none;
}
#cliquelist{
		/*max-height:300px;
		overflow:auto;*/
	margin-bottom:20px;
}
#cliques{
	position:relative;
	padding:5px;
	padding-right:0px;
	padding-left:10px;
	background-color:white;
	border-top-width:0px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
}

#cliques h4{
	margin-bottom:5px;
	margin-top:5px;
}
#feed a:hover{
	text-decoration:none;
	color:orange;	
}
#suggestions a{
	color:black;
}
#suggestions a:hover{
	color:orange;
	text-decoration:none;
}
#suggestions-header{
	padding-top:5px;
	margin-bottom:0px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	border-bottom-width:0px;
	padding-bottom:5px;
	padding-top:0px;
	color:white;
}
#suggestions-header h3{
	margin-top:2px;
}

#suggestions td:first-child{
	padding-top:10px;
}

.vote .like,.unlike{
	margin-right:5px;
	
}
#feed a.unlike{
	color:black;
}
#cliques .alert{
	margin-bottom:10px;
}
#suggestions-header h3{
	margin-bottom:0px;
}
#suggestions table{
	margin-bottom:0px;
}
#suggestions h4.names{
	margin-bottom:0px;
}
#suggestions{
	padding-bottom:5px;
	padding-left:3px;
	padding-right:3px;
	/*//background-image:url("../img/whitey.png");*/
	background-color:white;
	border-top-width:0px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	color:black;
	padding-top:0px;
}

#popular_list{
	background-color:white;
}

/*#stats{
	background-color:white;
}*/
/*tr:hover{
	background-color:lightgray;
}*/

#suggestions td{
	padding-bottom:0px;
}

#addcliquebutton{
	clear:left;
	margin-top:5px;
	margin-right:5px;
}

#cliqueaddformbutton{
	margin-right:10px;
}