.small-dp-container{
	width:40px;
}
#results-table table.event tr td.activity-container{
	padding-right:0px;
}
#results-table table.event tr td:last-child{
	padding-left:0px;
}
#results-table table.event .name{
	font-size:15px;
	margin-bottom:0px;
}
#results-table tr:first-child td{
	border-top-width:0px;
}
#results-table tr td{
	border-top:1px solid #E9E9E9;
}
#results-table table.event .school{
	font-size:12.5px;
}

.event td{
	border-width:0px;
}
.cliqueblockform{
	margin-top:5px;
	margin-bottom:0px;
}
.blockoption{
	position:relative;
	bottom:4px;
	
}
#results-table tr td:last-child{
	vertical-align:middle;
}
#results-table tr td:first-child{
	padding-top:3px;
	padding-bottom:3px;
}
.section #results-table{
	
	color:black;
	text-shadow:none;
	border-radius:5px;
}
#results-table h4{
	text-shadow:none;
	margin-top:0px;
	font-size:16px;
	margin-bottom:4px;
}

#results-table tr td:last-child{
	padding-top:0px;
}
.tag{
	font-size:14px;
	letter-spacing:0px;
	font-weight:normal;
}
#notifications-header{
	padding:5px 3px;
}
#results-table a{
	color:black;
	font-weight:bold;
}
.school:first-letter{
	text-transform:capitalize;
}
#results-table a:hover{
	color:orange;
	text-decoration:none;
}