#liketable{
	width:100%;
	text-align: left;
}
#liketable tr td:last-child{
	padding-left:10px;
}
#liketable tr:hover{
	background-color:#272B30;
}


#feedtable .displaycomments .deletecomment{
	display:none;
	font-size:13px;
}
#feedtable .displaycomments .deletecomment:hover{
	color:black;
	text-decoration:none;
	
}
#feedtable .displaycomments .dp-container{
	padding-right:0px;
}

#activitysection .loadmore{
	color:black;
}
#activitysection .loadmore:hover{
	color:black;
	text-decoration:underline;
}
#activitysection .news table.displaycomments{
	margin-left:0px;
	display:none;
	margin-bottom:3px;
	border-spacing:0px;
	border-radius: 3px;
}
#activitysection .news table.displaycomments td{
	padding-bottom:0px;
	padding-top:2px;
}
#activitysection .news table.displaycomments tr:first-child td{
	padding-top:5px;
}
#activitysection .news .displaycomments td{
	border:none;
	border-spacing: 0px;
}
#activitysection .news .displaycomments tr{
	border-radius:5px;
}

.displaycomments .details p.actualcomment{
	font-size:12px;
	margin-bottom:0px;
}
#activitysection .news .displaycomments .details p.school{
	
	margin-bottom:0px;
}
.displaycomments .dp-container, .displaycomments .details{
	padding:0px;
	padding-left:3px;
}


@media all and (min-width: 1030px){
	#personalsection{
		left:25px;
	}
	#activitysection{
		margin-left:340px;		
	}
}

@media all and (max-width: 1030px){
	#personalsection{
		left:13px;
	}
	#activitysection{
		margin-left:312px;
		width:627px;
	}
}
td.news small.vote{
	clear:left;
	display:block;
}
td.news small.vote .counter{
	margin-left:3px;
	margin-right:5px;
}
.content{
	padding-left:40px;
}
#add{
	margin-right:10px;
}
#photodisplay{	
	margin-left:0px;
	padding-left:3px;
}
.activitypic{
	width:48px;
	height:48px;
}

#personalsection{
	color:white;
	margin-top:-80px;
	position:absolute;
	width:350px;				
}
#activity{
	padding-left:40px;
}
.section-header h2{
	margin-bottom:0px;
}
#activity .well:first-child{
	color:white;
	padding:5px 5px;
}
.school:first-letter{
	text-transform:capitalize;
}

#activitylist{
	margin-left:0px;
	background-color:white;
	color:black;
}
#activitylist a{
	color:black;
}

#activitylist a:hover{
	text-decoration:none;
	color:orange;
}

#dp{
	width:100%;
}
#name{
	margin-bottom:0px;
	margin-top:0px;
}
#school{
	font-size:17px;
}
#checkin{
	margin-top:10px;
	font-size:15px;
	font-style:italic;
}

#stats{
	position:relative;
	top:-20px;
	padding-left:10px;
	padding-right:10px;
}

.details h4{
	margin-top:0px;
}
#activitysection{
	margin-top:-80px;
		
}

.image{
	height:80px;
	width:80px;
	float:left;
	margin-right:5px;
	margin-bottom:5px;
}
