@CHARSET "UTF-8";

#photomodal .modal-footer{
	padding-top:5px;
	padding-bottom:5px;
}
.img-upload{
	width:190px;
	margin-top:5px;
}
.fancybox{
	height:120px;
	width:120px;
	background-color:black;
	float:left;
	margin-right:5px;
	margin-bottom:5px;
}
.fancybox img{
	height:120px;
	width:120px;
	transition: opacity 0.4	s;
	-moz-transition: opacity 0.4s; /* Firefox 4 */
	-webkit-transition: opacity 0.4s; /* Safari and Chrome */
	-o-transition: opacity 0.4s; /* Opera */
}
#photo-modal .modal-body{
	background-color:#BBBFC2;
}
.fancybox img:hover{
	opacity:0.5;
}
#photo-upload{
	margin-bottom:5px;
}
#upload-section{
	display:none;
}
#requestvenueformbuttton{
	margin-right:10px;
}
#upload-all{
	margin-top:10px;
}
#upload-section{
	display:none;
}

#close-upload{
	margin-bottom:10px;
}
.photo-preview{
	background-color:white;
	float:left;
	margin-right:5px;
	margin-bottom:5px;
	padding:0px;
	width:79px;
	height:86px;
}
.photo-preview .preview-img{
	width:79px;
	height:86px;
}
.photo-preview .photo-loading{
	display:none;
	position:relative;
	top:25px;
	left:24px;
}

#upload-file i{
	font-size:5em;
	margin-top:5px;
}
#requestvenueform input,select{
	height:30px;
	margin-bottom:10px;
}
.closebutton{
	margin-left:10px;
}
.userlink:hover{
	text-decoration:none;
	color:orange;
}
#notlisted{
	margin-bottom:10px;
}
.externalselect{
	height:30px;
}
#prevcomments{
	max-height:250px;
	overflow:auto;
	margin-bottom:20px;
}
.comment-dp{
	width:60px;
	padding-right:0px;
}
.comment-comment p:first-child{
	font-size:17px;
	color:white;
	margin-bottom:2px;
}
.comment-comment p:last-child{
	font-style:italic;
	font-size:15px;
	color:white;
}
#commentform input{
	margin-left:5px;
	width:410px;
}
#commentform{
	margin-bottom:0px;
}
#commentform button{
	position:relative;
	bottom:5px;
}
.venuestats{
	margin-bottom:0px;
	margin-right:3px;
	margin-top:3px;
}

.content{
	padding-left:40px;
	color:white;
}
#venues{
	margin-top:-10px;
	//height:70%;
}
.actions{
	position:absolute;
	display:none;
}

.well#venuelistwell,.well#venueheaderwell{
	min-width:1084px;
}
.location{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	margin-top:0px;
	margin-bottom:0px;
	padding-left:5px;
	padding-right:6px;
	padding-top:10px;
	padding-bottom:10px;
	background-color:#202328;
	color:white;
	cursor:pointer;
	font-family:'Oxygen', sans-serif;
}
#venues .thumbnails img{
	-webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
	width:100%;
	background-color:black;
}
#venues li{
	border-radius:3px;
	border:1px solid black;
	position:relative;
}
#venues .thumbnail{
	background-color:black;
	padding:0px;
	border:0px;
	border-shadow:none;
	border-radius:0px;
}
#venues .thumbnails img:hover{
	opacity:0.5;
}
#venues .well{
	background-color:white;
	color:black;
}
#schoolname{
	margin-top:0px;
	z-index:1000;
}
#schoolname .well{
	padding-bottom:10px;
}
.stats{
	padding-top:6px;
	padding-bottom:5px;
	background-color:#202328;
}

.stats h4{
	margin:0px;
	color:white;
	margin-bottom:3px;
}
#file-upload{
	display:block;
}
#file-upload .file{
	display:none;
}