/*Chat*/
.UserChat {
	position: fixed;
	position:expression("absolute");
	width: 200px;
	bottom: 0px;
	z-index: 20;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: #232323;
}
.Chatheader {
	background: #232323;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 4px;
	padding-left: 5px;
	height:18px;
	color: #ffffff;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #232323;
	font-weight: bold;
	font-size: 11px;
	font-style: normal;
	cursor:pointer;
	display: block;
	zoom: 1;
	*display: inline;
	width: 188px;
	position:relative;
	clear: both;
}
.Chatheader:hover {
	background: #FF9C00;
	text-decoration: none;
}
#Menuheader{
	list-style: none;
	padding: 0px;
	margin: 0px;
	display: block;
}
#Menuheader li{
	display: block;
	float: left;
	padding-top: 3px;
	margin: 0px;
}
.header_title {
	position: absolute;
	z-index: 60;
	left: 5px;
	top: 6px;
	color:#fff;
	font-weight: bold;
	font-size: 11px;
	font-style: normal;
	cursor: pointer;
	text-decoration: none;
}
.header_min {
	height: 3px;
	width: 8px;
	background: #FFFFFF;
	text-decoration: none;
}
.header_x {
	position: absolute;
	z-index: 60;
	right: 5px;
	top: 5px;
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-family: Verdana,Arial,"Bitstream Vera Sans",sans-serif;
}

.cheader_left {
	float: left;
}
.cheader_right {
	float: right;
}
.mini_me a{
	height: 3px;
	width: 8px;
	background: #FFFFFF;
	text-decoration: none;
	display: block;
	zoom: 1;
	*display: inline;
	position: absolute;
	z-index: 60;
	right: 26px;
	top: 11px;
}
.mini_me a:hover {
	background: #333;
	text-decoration: none;
}
.mini_x a{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-family: Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	margin-left: 5px;
	display: block;
	zoom: 1;
	*display: inline;
	position: absolute;
	right: 8px;
	top: 5px;
}
.mini_x a:hover{
	color: #333;
	text-decoration: none;
}
.chat_online {
	background: url(images/on.png) 0 0 no-repeat;
	background-position: right 4px;
	padding-right: 11px;
}

#chatcontent {
	font-family: arial,sans-serif;
	font-size: 13px;
	color: #333;
	height: 200px;
	width: 184px;
	overflow-y: auto;
	overflow-x: auto;
	padding: 7px;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #EEE;
	background-color: white;
	line-height: 1.3em;
}
#chatinput {
	border-top: 1px solid #C9D0DA;
	max-height: 77px;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	background-color: white;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-top: 1px solid #C9D0DA;
}
#textinput {
	border: 0;
	display: block;
	height: 0;
	margin: 0;
	outline: none;
	padding: 0;
	resize: none;
	padding:7px;
	overflow: auto;
	width: 184px;
}
.cb_text table {
    border-collapse: collapse;
}
.cb_text th, td {
    padding: 0;
	margin: 0;
}
.cb_text p {
    padding: 0;
	margin: 0;
}
/*Chat*/


/*Minbox*/
#ChatMore {
	position: fixed;
	bottom: 0px;
	z-index: 50;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: #232323;
}

#ChatMoreLink {
	background: #232323 url(images/ChatMore.png) 0 0 no-repeat;
	background-position:2px 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 6px;
	padding-left: 25px;
	color: #ffffff;
	font-weight: bold;
	font-size: 11px;
	font-style: normal;
	cursor: pointer;
	display: block;
	text-decoration: none;
	width:16px;
	text-align:center;
	margin: 0px;
	border: 1px solid #232323;
}
#ChatMoreLink:hover {
	background: #FF9C00 url(images/ChatMoreHover.png) 0 0 no-repeat;
	background-position:2px 5px;
	text-decoration: none;
}
#ChatMore ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
#ChatMore ul li {
	text-align:left;
	padding: 0px;
	margin: 0px;
	background-color: #232323;
}
#ChatMore ul li a{
	margin: 0px;
	text-align:left;
	display: block;
	width:100%;
	text-decoration: none;
	border: 1px solid #151515;
}
#ChatMore ul li a:hover{
	margin: 0px;
	text-align:left;
	display: block;
	width:100%;
	text-decoration: none;
}
#ChatMore ul li a div{
	color: #fff;
	margin: 0px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align:left;
	border: 1px solid #232323;
}
#GetMoreLink {
	position: absolute;
	z-index: 59;
	background-color: #232323;
	display:none;
}
/*Minbox*/


/*Onlinelist*/
#Onlinelist {
	bottom: 0px;
	right: 20px;
	display: block;
	position: fixed;
	position: expression("absolute");
	width: 200px;
	max-height: 301px;
	z-index: 50;
	border-bottom: 2px solid #232323;
	font-size: 11px;
	font-style: normal;
}
#Onlinelistheader {
	background: #232323;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 4px;
	padding-left: 5px;
	height: 18px;
	color: #ffffff;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #232323;
	font-weight: bold;
	font-size: 11px;
	font-style: normal;
	cursor: pointer;
	display: block;
	width: 188px;
	position: relative;
	clear: both;
	text-align:left;
	text-decoration: none;
}
#Onlinelistheader:hover {
	background: #FF9C00;
	color: #FFFFFF;
	text-decoration: none;
}
#Chatmenu {
	background: #232323;
	display: block;
	text-align:center;
	padding-top:4px;
	padding-bottom:2px;
}
#Chatmenu table{
	margin: 0px auto;
}.Chatmenu_left {
	background: #232323 url(images/left.png) 0 0 no-repeat;
	background-position: 3px 3px;
	height:16px;
	width:16px;
	cursor: pointer;
	display: block;
	border: 1px solid #FF9C00;
	margin-right:2px;
}
.Chatmenu_left:hover {
	border: 1px solid #FFFFFF;
	text-decoration: none;
}
.Chatmenu_right {
	background: #232323 url(images/right.png) 0 0 no-repeat;
	background-position: 3px 3px;
	height:16px;
	width:16px;
	cursor: pointer;
	display: block;
	border: 1px solid #FF9C00;
	margin-left:2px;
	text-decoration: none;
}
.Chatmenu_right:hover {
	border: 1px solid #FFFFFF;
	text-decoration: none;
}
.page_number {
	height:16px;
	width:16px;
	cursor: pointer;
	display: block;
	float:left;
	margin-left:2px;
	margin-right:2px;
}
.page_number:hover {
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	text-decoration: none;
}
.onlinelist_hover {
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	text-decoration: none;
}
.onlinelist_none {
	border: 1px solid #FF9C00;
	color: #FF9C00;
	text-decoration: none;
}
.Onlinelistheader_left {
	float: left;
	padding-top:2px;
}
.Onlinelistheader_right {
	background: url("images/settings-alt-icon.png") 0 0 no-repeat;
	background-position:left center;
	margin-top:2px;
	height: 16px;
	width: 16px;
	float:right;
}
#chatoptions_tab {
	position:absolute;
	right: -1px;
	bottom: 24px;
	z-index: 59;
	width: 80px;
	background-color: #232323;
	border: 1px solid #151515;
}
#chatoptions_tab li{
	float:left;
	clear:both;
	border: 1px solid #151515;
	width:100%;
	font-size: 10px;
}
#chatoptions_tab li:hover{
	background-color: #a4a2a2;
}
#chatoptions_tab ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width:100%;
}
#onlinelist_holder {
	margin: 0;
	padding: 0;
	border-left: 1px solid #C9D0DA;
	border-right: 1px solid #C9D0DA;
	border-top: 1px solid #C9D0DA;
	background-color: #F2F4F8;
	overflow: hidden;
	max-height:273px;
	text-align:left;
}
#onlinelist_holder ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#onlinelist_holder li {
	margin: 0;
	padding: 0;
}
#onlinelist_holder li a{
	width: 100%;
	clear:both;
	padding-top:2px;
	padding-bottom:2px;
	margin-bottom:1px;
	display: block;
	height: 30px;
}
#onlinelist_holder li a:hover {
	background: #DADADA;
	cursor:pointer;
}
#onlinelist_holder .Chatlistimg {
	float:left;
	height: 28px;
	width: 28px;
	margin-left: 3px;
	margin-right: 8px;
	border: 0px;
}
#onlinelist_holder .Chatlistimg img {
	border: 0px;
}
#onlinelist_holder .Chatlisttext {
	float:left;
	line-height: 28px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 11px;
	color: #333;
	padding-right: 10px;
	width: 121px;
}
/*Onlinelist*/
