#user-table td:nth-child(2){
	font-family:"Lato",sans-serif;
	padding-left:10px;
	width:50%;
}
.dp-container{
	width:48px;
	height:48px;
	float:left;
}

.large-dp-container{
	width:80px;
	height:80px;
}
.brand-logo{
 max-width:100%;
}
.close-dialog{
	margin-top:20px;
}

.section-header{
	font-family:"Lato",sans-serif;
	padding-top:20px;
}
.pull-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.pull-right{
	text-align:right;
	float:right;
}

.block{
	text-transform:uppercase;
}