<!DOCTYPE>
<html lang = "en">
	<head>
		<title>Dashboard</title>
		{% include 'headsection.twig' %}
		<style>
			.profiledp{
				height:48px;
				width:96px;
			}
			#generic-navbar .brand img{
			height:35px;
			}
			#stacked-pills{
				position:fixed;
			}
			.information .table{
				color:black;
			}
			#addvenue{
				margin:10px;
			}
			#venueform,#schoolform{
				margin-left:30px;
			}
			#venues .table td:nth-child(3){
				width:33%;
			}
			#venues .table td:nth-child(5){
				width:15%;
			}
			#venueform input{
				height:30px;
				color:black;
			}
			#venueform select{
				color:black;
			}
			#addvenuemodal .modal-footer a{
				margin-left:10px;
			}
			#addschool{
				margin:10px;
			}
			#schoolform input{
				height:30px;
				color:black;
			}
			#schoolform select{
				color:black;
			}
			#addschoolmodal .modal-footer a{
				margin-left:10px;
			}
			
			#stacked-pills li .tabs{
				padding-top:10px;
				height:25px;
				font-size:20px;
			}
			#stacked-pills li .tabs i{
				position:relative;
				top:3px;
			}
			#generic-navbar li{
				padding-top:3px;
			}
			#generic-navbar i{
				position:relative;
				top:3px;
			}
			#venues .picture-container{
				width:100px;
			}
			.header{
				padding-top:5px;
				padding-bottom:5px;
				margin-bottom:0px;
			}
			#mainarea{
				padding:5px;
				background-color:#BBBFC2;
				border-radius:5px;
				color:black;
			}
			#users .table .dp-container{
				width:50px;
			}
			#venues .table td{
				vertical-allign:middle;
				color:black;
				font-size:18px;
				
			}
			#users .table td:not(:first-child){
				text-align:left;
				vertical-allign:middle;
				position:relative;
				top:10px;
				color:black;
				font-size:18px;
			}
			#users .table td:last-child{
				position:relative;
				top:5px;
			}
			#venues{
				display:none;
			}
			#schools{
				display:none;
			}
			
			
		</style>
		<link rel="stylesheet" href="css/jquery.fancybox.css?v=2.1.4" type="text/css" media="screen" />
		<link rel="stylesheet" href="css/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
	</head>
	
	<body>
		<header>
		<div class = "navbar navbar-fixed-top" id = "generic-navbar">
			<div class = "navbar-inner">
				
					<a href = "index.php" class = "brand">
						<img id = "landing-logo" src = "img/logo.png"></img>
					</a>
					<ul class = "nav pull-right">
						<li>
							<a href = "logout.php" ><i class = "icon-signout"></i> Logout</a>
						</li>
					</ul>	
			</div>
		</div>
	</header>
	<section class = "content">
		<div class = "container-fluid">
			<div class = "row-fluid">
				<div class = "span12 well header">
					<h2 class = "pull-center">Dashboard</h1>
				</div>
			</div>
			<div class = "row-fluid">
				<div class = "span12 well">
					<div class = "row-fluid">
						<div class = "span3">
							<ul class="nav nav-pills nav-stacked span3" id = "stacked-pills">
								<li class = "active">
									<a href = "#users" class = "tabs" >Users <i class = "pull-right icon-chevron-right"></i></a>
								</li>
								<li>
									<a href = "#venues" class = "tabs" >Venues <i class = "pull-right icon-chevron-right"></i>
									</a>
								</li>
								<li>
									<a href = "#schools" class = "tabs">Schools <i class = "pull-right icon-chevron-right"></i>
									</a>
								</li>
							</ul>
						</div>
						<div class = "span9" id = "mainarea">
							<div class = "alert alert-success successdiv pull-center">
							</div>
							<div class = "alert alert-error errordiv pull-center">
							</div>
							<div id = "users" class = "information">
								{%  if zerouserresults is defined %}
									<div class = "alert alert-danger pull-center">
										<strong>No users found</strong>
									</div>
								{% else %}
									<table class = "table">
										{% for user in users %}
										<tr data-userid = "{{ user.user_id }}">
											<td class = "dp-container">
												<img src = "../img/icons/{{ user.user_dp }}" class = "profiledp"/>
											</td>
											<td>
												<p>{{ user.user_firstname }} {{ user.user_lastname }}</p>
											</td>
											<td>
												<p>{{ user.user_email }}</p>
											</td>
											<td>
												<p>{{ user.school_name }}</p>
											</td>
											<td>
											{% if user.user_blocked == 0 %}
											
												<a href = "#" class = "block-user btn btn-danger btn-block">
												<i class = "icon-ban-circle"></i> 
												Block</a>
											{% else %}
												<a href = "#" class = "unblock-user btn btn-success btn-block">
												<i class = "icon-ok"></i> 
												Unblock</a>
											{% endif %}
												
											</td>
										</tr>
										{% endfor %}
									</table>
								{% endif %}
							</div>
							<div id = "venues" class = "information">
								<button data-toggle = "modal" role = "link" href = "#addvenuemodal" class = "btn pull-right" id = "addvenue" >Add Venue &nbsp;<i class = "icon-plus"></i></button>
								{% if zerovenueresults is defined %}
									<div class = "alert alert-error pull-cener">
										<strong>No Venues added yet!!</strong>
									</div>
								{% else %}
									<table class = "table">
										{% for venue in venues %}
											<tr data-venueid = "{{ venue.venue_id }}">
												<td class = "picture-container">
													<img src = "http://dev.cheersu.com/venue_cover.php?venue_id={{ venue.venue_id }}&&type=rectangle"/>
												</td>
												<td>
													<p>{{ venue.venue_name }}</p>
												</td>
												<td>
													<p>{{ venue.venue_address }}</p>
												</td>
												<td>
													<p>{{ venue.school_name }}</p>
												</td>
												<td>
													<button class = "editvenue btn btn-info">
														<i class = "icon-edit"></i>
													</button>
													<button class = "deletevenue btn btn-danger">
														<i class = "icon-trash"></i>
													</button>
												</td>
											</tr>
										{% endfor %}
									</table>
								{% endif %}
							</div>
							<div id = "schools" class = "information">
								<button data-toggle = "modal" role = "link" href = "#addschoolmodal" class = "btn pull-right" id = "addschool" >
								Add School &nbsp;<i class = "icon-plus"></i></button>
								{% if zeroschoolresults is defined %}
									<div class = "alert alert-error pull-center">
										<strong>No Schools Added</strong>
									</div>
								{% else %}
									<table class = "table">
									
									<th class = "block"><h4>School</h4></th>
									<th class = "block"><h4>State</h4></th>
									<th class = "block"><h4>Actions</h4></th>
									{% for school in schools %}
									<tr data-schoolid = {{ school.school_id }}>
										<td>
											<p>{{ school.school_name }}</p>
										</td>
										
										<td>
											<p>{{ school.state_name }}</p>
										</td>
										<td>
											<button class = "editschool btn btn-info">Edit <i class = "icon-edit"></i></button>
											<button class = "deleteschool btn btn-danger">Delete <i class = "icon-trash"></i></button>  
										</td>
									</tr>
									{% endfor %}	
								{% endif %}
								</table>
							</div>
						</div>
						
					</div>
					
					
				</div>
			</div>
		</div>
	</section>
	
	<div class = "modal hide fade" id = "photomodal">
		<div class = "modal-header text">
			<h3 class = "pull-center">Photos for this venue</h3>
		</div>
		<div class = "modal-body">
			<a href = "#" id = "photo-upload" class = "btn btn-info">Upload Images</a>
			
			<div class = "row-fluid" id = "upload-section">
				<a href = "#" id = "close-upload" class = "btn btn-danger btn-small pull-right"><i class = "icon-remove"></i></a><br/>
				<div class = 'previews'></div>
				<a href = "#" id = "upload-file" class = "btn btn-info pull-left"><i class = "icon-plus"></i></a><br/>
				<a href = "#" id = "upload-all" class = "btn btn-block pull-left disabled" data-disabled = "true">
					Post Photos
				</a>
				<form id = "file-upload" enctype = "multipart/form-data" method = "post">
				<input type = "file" id = "file" name = "file"/>
				</form>
			</div>
			
			<div id = "img-thumbnails">
				<div class = "alert alert-error pull-center errordiv">
						<p>No photos for this venue yet</p>
				</div>
			</div>
		</div>
		<div class = "modal-footer text">
			<a href = "#" id = "close-photo-modal" class = " btn pull-right" data-dismiss="modal" aria-hidden="true">Close</a>
		</div>
	</div>
	
	<div class = "modal hide fade" id = "addschoolmodal">
		<div class = "modal-header">
			<h2 class = "pull-center">
				Add a new School
			</h2>
		</div>
		<div class = "modal-body">
			<div class = "loading pull-center">
				<img src = "img/ajax-loader.gif"/>
			</div>
			<div class = "successdiv alert alert-success pull-center">
				
			</div>
			<div class = "errordiv alert alert-error pull-center">
				
			</div>
			<form id = "schoolform">
				<label>School Name:</label>
				<input type = "text" class = "span6" name = "school_name">
				<label>State:</label>
				<select name = "school_state" class = "span6">
					<option value = "NULL">Choose a State</option>
					{% for stateoption in statelist %}
						<option value = "{{ stateoption.state_id }}">{{ stateoption.state_name }}</option>
					{% endfor %}
				</select>
				<label>Address:</label>
				<input type = "text" class = "span6" name = "school_address"/><br/>
				<input type = "hidden" name = "school_id" value = "NULL"/>
			</form>
		</div>
		<div class = "modal-footer">
			<a href = "#" ariahidden="true" data-dismiss = "modal" class = "btn pull-right">Close</a>
			<button role = "submit" form = "schoolform" class = "btn btn-info">Add</button>
		</div>
	</div>
	<div class = "modal hide fade" id = "addvenuemodal">
		<div class = "modal-header">
			<h2 class = "pull-center">Add a new Venue</h2>
		</div>
		<div class = "modal-body">
			<div class = "loading pull-center">
				<img src = "img/ajax-loader.gif"/>
			</div>
			<div class = "alert alert-error errordiv">
				
			</div>
			<div class = "alert alert-success successdiv">
			</div>
			<form id = "venueform">
				<label>Venue Name:</label>
				<input type = "text" class = "span6" name = "venue_name">
				<label>Venue Address:</label>
				<input type = "text" class = "span6" name = "venue_address">
				<label>Venue School:</label>
				<select name = "venue_school" class = "span6">
					<option value = "NULL">Choose a School</option>
					{% for schooloption in schoollist %}
						<option value = "{{ schooloption.school_id }}">{{ schooloption.school_name }}</option>
					{% endfor %}
				</select>
				<button class = "btn btn-info pull-left" id = "addcover">Add Cover Image</button>
				<button class = "btn btn-danger pull-left" id = "removecover" style = "display:none">Remove Cover</button><br/>
				<input type = "hidden" name = "venue_img" value = "" id = "venue_cover_img"/>
				<input type = "hidden" name = "venue_id" value = "NULL"/>
			</form>
			<form style = "display:none" enctype = "multipart/form-data" method = "POST" id = "file-upload">
				<input type = "file" id = "file" />
			</form>
		</div>
		<div class = "modal-footer">
			<a href = "#" ariahidden="true" data-dismiss = "modal" class = "btn pull-right">Close</a>
			<button role = "submit" form = "venueform" class = "btn btn-info">Add</button> 
		</div>
	</div>
	<script src = "js/admin-dashboard.js" type = "text/javascript"></script>
	<script type="text/javascript" src="js/jquery.fancybox.pack.js?v=2.1.4"></script>
	<script src = "js/jquery.blockUI.js" type = "text/javascript"></script>
	<script type="text/javascript" src="js/jquery.fancybox-thumbs.js?v=1.0.7"></script>
	<script src = "js/ajaxfileupload.js" type = "text/javascript"></script>
</body>
</html>
