<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<link href = "css/slate/bootstrap.min.css" rel="stylesheet">
<link href = "css/admin.css" rel = "stylesheet">
<link href = "css/font-awesome.css" rel="stylesheet">
<script src = "js/jquery.js" type = "text/javascript"></script>
<script src = "js/bootstrap.min.js" type = "text/javascript"> </script>
<script src = "js/jquery.blockUI.js" type = "text/javascript"></script>