<!DOCTYPE>
<html lang = "en">
	<head>
		<title> Admin Login</title>
		{% include 'headsection.twig' %}
		
		<style>
			#generic-navbar .brand img{
			height:35px;
			}
			#generic-navbar .brand{
				margin-left:35px;
			}
			#generic-navbar li{
				padding-top:3px;
			}
			#generic-navbar i{
				position:relative;
				top:3px;
			}
			#loginbox{
				margin-top:150px;
				padding:5px;
			}
			#admin-loginform input{
				height:30px;
			}
			#admin-loginform{
				margin-left:20px;
			}
			#error{
				margin-bottom:0px;
			}
			
			
			
		</style>
	</head>
	<body>
		<header>
		<div class = "navbar navbar-fixed-top" id = "generic-navbar">
			<div class = "navbar-inner">
					<a href = "index.php" class = "brand">
						<img id = "landing-logo" src = "img/logo.png"></img>
					</a>
			</div>
		</div>
	</header>
	
	<section class = "content" >
		<div class = "container">
			<div class = "row">
				<div class = "span4 offset4 well" id = "loginbox" >
					{% if error is defined %}
						<div class = "alert alert-error pull-center" id = "error">
							<strong>{{ message }}</strong>
						</div>
					{% endif %}
					<h3 class = "pull-center">Login to the admin panel</h3>
					<form id = "admin-loginform" method = "POST">
						<label>Username:</label>
						<input type = "text" class = "span3" name = "admin-username"/>
						<label>Password:</label>
						<input type = "password" class = "span3" name = "admin-password"/><br/>
						<input type = "submit" value = "Submit" class = "btn btn-info"/>
					</form>
					
				</div>
			</div>
		</div>
	</section>
	</body>
</html>
