<a href = "#" class = "btn btn-warning" id = "chatbtn">Chat (<span>0</span>)</a>

<audio id = "notification-sound" controls = "false" style = "display:none">
<source src = "media/New_Message.ogg" type = "audio/ogg"></source>
<source src = "media/New_Message.mp3" type = "audio/mpeg"></source>
</audio>
<div id = "chatlist">
	<div id = "chat-header">
		<p class = "pull-center">Online Friends</p>
	</div>
	<div id = "onlinelist">
		
	</div>
	<a href = "#" id = "hidechatlist" class = "btn btn-mini btn-info">Hide</a>
</div>

<img src = 'img/icons/{{ chat_dp_icon }}' id = "chat_dp_icon" style = "display:none"/>


{# <div class = "chatbox" data-state = "open" data-userid = "2">#}
{# 	<div class = "chatbox-header well">#}
{# 		<p><span>Gaurav DasChoudhury</span>#}
		
{# 		<a href = "#" class = "chatclose pull-right">X</a>#}
		
{# 		</p>#}
{# 	</div>#}
{# 	<div class = "chat-text">#}
	
{# 	</div>#}
{# 	<form class = "chatform">#}
{# 	<input type = "text" name = "textbox" class = "message"/>#}
{# 	</form>#}
{# </div>#}