<!DOCTYPE html>
<html lang = "en">
<head>
	<title>{{ title }}</title>
	{% include 'headsection.twig' %}
	{%  include 'analytics.twig' %}
	<link href = "css/cliques.css" type = "text/css" rel = "stylesheet">
	<link rel="stylesheet" href="css/jquery.fancybox.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="css/jquery.fancybox-thumbs.css" type="text/css" media="screen" />
	<link href = "css/jquery.mCustomScrollbar.css" type = "text/css" rel = "stylesheet">
</head>
<body>
	{% include 'navbar.twig' %}
	<div class = "container-fluid" id = "container">
		<div class = "row-fluid">
			<div class = "span3" id = "leftpane">
			<p style = "display:none" id = "chat_dp_name">{{ chat_dp_name }}</p>
				<div class = "well" id = "cliquedetails" data-cliqueid = '{{ cliqueid }}'>
					<a 
						{% if image != "" %}
							class = "fancybox" rel = "cliqueimage" href = "img/clique_cover_img/{{ image }}"
						{% else %}
							href = "#"
						{% endif %} 
					 id = "cliqueimagedisplay">
					
						<img 
						{% if image != "" %}
							src = "img/clique_cover_img/icons/{{ image }}"
						{% else %}
							src = "img/CheersU_Icon.png"
						{% endif %} 
						id = "cliqueimg"/>
					</a>
					
					<h4 id = "cliquename">{{ title }}</h4>
					<p id = "nummembers">{{ nummembers }}
						{%  if nummembers == 1 %}
							member
						{% else %}
							members
						{% endif %}
					</p>
					{% if myclique is defined %}
						<button class = "btn btn-mini btn-info" id = "cliqueimageadd">Add Image <i class = "icon-plus"></i></button>
						<form style = "display:none" action = "clique_cover_img.php" method = "POST" id = "image-form" 
						enctype = "multipart/form-data">
							<input type = "file" name = "cliquefile" id = "cliquefile"/>
							<input type = "hidden" name = "cliqueid" value = "{{ cliqueid }}"/>
						</form>
					{% endif %}
					
				</div>
				
				<div class = "well section-header" id = "members-header">
				
{# 				<button id = "editpeople" class = "btn btn-small pull-left">Edit &nbsp;<i class = "icon-edit"></i></button>#}
					<h4 class = "pull-center">
						Members
						
					<a href = "#" id = "addpeople" class = "btn btn-small pull-right">Add <i class = "icon-plus"></i></a>
					</h4>
				</div>
				<div class = "well section" id = "clique_members">
				
					{% for member in members %}
						{% if loop.index0 < 6 %}
						<div class = "members-container">
							<a class = "memberslink" href = "profile.php?userid={{ member.id }}" data-toggle = "tooltip"
							data-title = "{{ member.name }}" data-placement = "right" data-animation= "false">
								<img src = "img/icons/{{ member.dp }}" class = "members"/>
							</a>
						</div>
						{% endif %}
					{% endfor %}
					{% if members|length < 6 %}
						{% for i in 0..(5-members|length) %}
						<div class = "members-container" style = "visibility:hidden;">
							<img src = "img/CheersU_Icon.png" class = "members"/>
						</div>
						{% endfor %}
					{% endif %}
					{% if members|length != 1 %}
						<a href = "#" id = "seeall" class = "btn btn-info btn-small pull-right">See All</a>
					{% endif %}
					
					

{# 					<div class = "members-container">#}
{# 						<img src = "img/CheersU_Icon.png" class = "members"/>#}
{# 					</div>#}
{# 					<div class = "members-container">#}
{# 						<img src = "img/CheersU_Icon.png" class = "members"/>#}
{# 					</div>#}
{# 					<div class = "members-container">#}
{# 						<img src = "img/CheersU_Icon.png" class = "members"/>#}
{# 					</div>#}
{# 					<div class = "members-container">#}
{# 						<img src = "img/CheersU_Icon.png" class = "members"/>#}
{# 					</div>#}
{# 					<div class = "members-container">#}
{# 						<img src = "img/CheersU_Icon.png" class = "members"/>#}
{# 					</div>#}
					
					
				</div>
				{% if myclique is defined %}
					<button id = "editname" role = "link" href = "#editcliquemodal" data-toggle ="modal" class = "btn btn-block btn-info">
						Rename Clique <i class = "icon-edit"></i>
					</button>
					
					<button id = "deleteclique" class = "btn btn-block btn-danger">
						Delete Clique <i class = "icon-trash"></i>
					</button>
				{% endif %}
				
			</div>
			<div class = "span7" id = "rightpane">
				<div id = "post" class = "well">
					<div id = "maindisplay">
						<form  method = "POST" id = "statusform">
							<textarea id = "statusupdateinput" name = "cliquepost" class = "span10" autocomplete = "off" 
							placeholder = "Share something with the clique"></textarea>
							<input type = "hidden" name = "taggedpeople" id = "taggedpeople" value = ""/>
							<input type = "submit" id = "post-status" value = "Post" class = "btn btn-info"/>
						</form>
					
						<a href = "#" id = "photo-upload" class = "btn btn-info btn-primary btn-small"><i class = "icon-camera"></i></a>
						<a href = "#schoollist" data-toggle = "modal" id = "venue_actions" class = "btn btn-warning btn-small">Checkin/Reserve</a>
					</div>
					
					
					
					<div class = "row-fluid" id = "upload-section">
							<h2 class = "pull-center" style = "color:white">Upload Photos</h2>
							<a href = "#" id = "close-upload" class = "btn btn-danger btn-mini pull-right"><i class = "icon-remove"></i></a><br/>
							<div class = 'previews'></div>
							<a href = "#" id = "upload-file" class = "btn btn-info pull-left"><i class = "icon-plus"></i></a><br/>
							
							<form id = "file-upload" enctype = "multipart/form-data" method = "post"
							action = "multifileupload.php">
							<input type = "file" id = "file" name = "file[]" class = "file"/>
							<input type = "hidden" name = "page" value = "clique"/>
							<input type = "hidden" name = "redirect" value = "cliques.php?id={{ cliqueid }}"/>
							<input type = "hidden" name = "extraparam" value = "{{ cliqueid }}"/>
							<input id = "upload-all" class = "btn btn-block pull-left disabled" data-disabled = "true"
							type = "submit" value = "Post Photos"/>
							</form>	
					</div>
						
				</div>
				<div class = "well section-header">
					<h3 class = "pull-center">Clique Feed</h3>
				</div>
				<div class = "section well" id = "clique_feed">
				{% include 'alertdivs.twig' %}
					{% if activity is not defined %}
						<div class = "alert alert-error">
							<p class = "pull-center">No activity in the clique yet</p> 
						</div>
					{% else %}
						<table id = "cliquefeedtable">
						{% for stories in activity %}
							<tr>
								<td class = "activity-container">
									<img src = "img/icons/{{ stories.dp }}" class = "dp-container"/>
								</td>
								
								<td class = "main-cell" data-activity-id = "{{ stories.actid }}">
								<span class = "timestamp pull-right">{{ stories.timestamp }}</span>
									<h4><a class = "storyname" href = "profile.php?userid={{stories.id}}">{{ stories.name }}</a></h4>
									{% if stories.type == "post" %}
										<p>{{ stories.post }}</p>
									{% elseif stories.type == "checkin" %}
										<p> Checked into <b>{{ stories.venuename }}</b> near <b>{{ stories.schoolname }}</b></p>
									{% elseif stories.type == "reserve" %}
										<p> Made a reservation at <b>{{ stories.venuename }}</b> near <b>{{ stories.schoolname }}</b></p>
									{% elseif stories.type == "photo-activity" %}
										<p> Posted {{ stories.photos|length }} photo{% if stories.photos|length > 1 %}s{% endif %}</p>
										{% for photo in stories.photos %}
											<div class = "image-preview">
												<a class = "fancybox" rel = "cliqueimg" href = "img/clique_img/{{ photo }}"><img src = "img/clique_img/icons/{{ photo }}"/></a> 
											</div>
										{% endfor %}
									{% endif %} 
									<small class = 'vote'>
									
										{% if stories.liked != NULL %}
												<a href = "#" class = "unlike">
													<span class = 'likeaction'>
														<i class = "icon-heart"></i>
													</span>
													
												</a>
											{% else %}
												<a href = "#" class = "like">
													<span class = 'likeaction'>
														<i class = "icon-heart-empty"></i>
													</span>
													
												</a>
											{% endif %}									
									
									
										<a href = "#" class = 'counter'>
											<span class = 'numlikes'>{{ stories.likes }}</span>
												{% if stories.likes == 1 %}
													like
												{% else %}
													likes
												{% endif %}
										</a>
											
												<a href = "#" class = "numcomments">
													<i class = "icon-comments"></i> 
													<span class = "comments">{{ stories.user_comments }}</span>
													<span class = "grammar">
													{% if stories.user_comments == 1 %}
														comment
													{% else %}
														comments
													{% endif %}
													</span>
													
												</a>
												
											</small>
											
											<small class = 'message'></small>
											{% if stories.user_comments > 3 %}
												<small><a href = "#" class = "loadmore">Load earlier comments</a>&nbsp;</small><br/>
											{% endif %}
											<table class = "displaycomments span9">
												{% if stories.topcomments is defined %}
													{% for comment in stories.topcomments %}
														<tr data-time = "{{ comment.time }}" class = 'commentstr'  data-commentid = {{ comment.commentid }}>
															<td class = 'dp-container'>
																<img src = "img/icons/{{ comment.dp }}" class = "small-activity-container"/>
															</td>
															<td class = 'details'>
																{% if comment.userid == userid%}
																	<small class = "pull-right">
																		<a href = '#' class = 'deletecomment'>x</a>
																	</small>
																{% endif %}
																<a href = "profile.php?userid={{ comment.userid }}" class = 'school'><b>{{ comment.name }}</b></a>
																<p class = 'actualcomment'>{{ comment.comment }}</p>
															</td>
														</tr>
													{% endfor %}
												{% endif %}
											</table>
											 <form class = 'commentform'>
											 	<input type = "text" name = 'comment' class = "text-input span9" placeholder = "Write your comment here"/>
											 </form>
											 
						{% endfor %}
						</table>
					{% endif %}
{# 					<table>#}
{# 						<tr>#}
{# 							<td class = "activity-container">#}
{# 								<img src = "img/cheersu_icon.png" class = "dp-container"/>#}
{# 							</td>#}
{# 							<td class = "main-cell">#}
{# 								<h4>Arjun Basu</h4>#}
{# 								<p> What's up guys anything new?</p>#}
{# 							</td>#}
{# 						</tr>#}
{# 						<tr>#}
{# 							<td class = "activity-container">#}
{# 								<img src = "img/cheersu_icon.png" class = "dp-container"/>#}
{# 							</td>#}
{# 							<td class = "main-cell">#}
{# 								<h4>Arjun Basu</h4>#}
{# 								<p> What's up guys anything new?</p>#}
{# 							</td>#}
{# 						</tr>#}
{# 					</table>#}
				</div>
			</div>
		</div>
	</div>
	<div class = "modal hide fade" id = "schoollist">
		<div class = "modal-header">
			<h3 class = "pull-center">SchoolList</h3>
		</div>
		<div class = "modal-body">
			{% include 'alertdivs.twig' %}
			<form id = "schoolsearchform">
				<input type = "text" id = "schoolsearch" class = "span7" placeholder = "Search Schools" autocomplete = "off"/>
			</form>
			<div id = "schools">
				{% for school in schoollist %}
					<a href = "#" data-schoolid = "{{ school.id }}" class = "schoolname btn btn-block">{{ school.name }}</a>
				{% endfor %}
			</div>
		</div>
		<div class = "modal-footer">
			<a class = "btn" href = "#venueslist" data-dismiss="modal" aria-hidden="true">Close</a>
		</div>
	</div>

	<div id = "editcliquemodal" class = "modal hide fade">
		<div class = "modal-header">
			<h3 class = "pull-center">Edit Clique name</h3>
		</div>
		<div class = "modal-body">
		{% include 'alertdivs.twig' %}
			<form id = "editcliqueform" class = "pull-center" >
				<input type = "text" id = "editcliquename" class = "span6" value = "{{ title }}"/>
			</form>
		</div>
		<div class = "modal-footer">
			<a class = "btn pull-right modal-close" href = "#editcliquemodal" data-dismiss = "modal" aria-hidden="true">Close</a>
			<button role = "submit" form = "editcliqueform" value = "Submit" class = "pull-right btn btn-info">Rename</button>
		</div>
	</div>
	
	<div class = "modal hide fade" id = "likemodal">
		<div class = "modal-header">
			<h3 class = "pull-center">People who like this post</h3>
		</div>
		<div class = "modal-body pull-center">
			
			<table id = "liketable">
			</table>
		</div>
		<div class = "modal-footer">
			<a href = "#" data-dismiss = "modal" aria-hidden="true" class="closemodal btn pull-right">Close</a>
			
		</div>
	</div>
	
	<a href = "#venueslist" id = "fancylaunch" style = "display:none"></a>
	<div id = "venueslist" style = "display:none">
		<h2 class = 'pull-center fancybox-header' id = "fancyheader">Venues</h2>
		{% include 'alertdivs.twig' %}
		<div class = "container" id = "venuesrow">
			
		</div>
		<div class = "span8" id = "extrainfo">
		</div>
	</div>
	<p id="back-top">
		<a><span></span></a>
	</p>
	<script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
	<script type="text/javascript" src="js/jquery.fancybox-thumbs.js"></script>
	<script src = "js/cliques.js" type = "text/javascript"></script>
	<script src = "js/jquery.mCustomScrollbar.concat.min.js" type = "text/javascript"></script>
	<script src = "js/jquery.blockUI.js" type = "text/javascript"></script>
	<script src = "js/ajaxfileupload.js" type = "text/javascript"></script>
</body>
</html>