<!DOCTYPE html>
<html lang = "en">
<head>
	<title>Dashboard</title>
	{% set dashboard = true %}
	{% include 'headsection.twig' %}
	<link href = "css/dashboard.css" rel = "stylesheet"/>
	<link rel="stylesheet" href="css/jquery.fancybox.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="css/jquery.fancybox-thumbs.css" type="text/css" media="screen" />
	{%  include 'analytics.twig' %}
</head>

<body>
	{%  include 'navbar.twig' %}
	<section class = "content">
		<div class = "container-fluid" id = "main-container">
			<div class = "errordiv alert alert-error pull-center">
				</div>
				<div class = "successdiv alert alert-success pull-center">
				</div>
			<div class = "row-fluid" id = "main-row">
				<div id = "personalsection">
					<div class = "well" id = "personal">
							<div id = "personal_dp">
								<img src = "img/icons/{{ dp }}"></img>
							</div>
							<div id = "personal_name"">
								<h3>{{ name }}</h3>
								<a href = "profile.php">View my Profile</a>
							</div>
						</div>
						<div id = "personal_status" class = "well">
							 <p>Status:</p>
							 <p class = "font-italic">{{ status }}</p>
						</div>
						<div class = "well span11" id = "stats">
							<a href = "#" class = "pull-left btn btn-info btn-small"><i class = "icon-pushpin"></i> Checkins: {{ checkins }}</a>
							<a href = "friends.php" class = "pull-right btn btn-warning btn-small"><i class = "icon-group"></i> Friends: {{ numfriends }}</a>
						</div>
						
			
						<div class = "well span12" id = "cliques-header">
							<h4 class = "pull-center">My Cliques ({{ cliques|length}})
							
							</h4>
						</div>
						<div class = "well span12" id = "cliques">
						{%  if nocliques is defined %}
							<div class = "alert alert-error pull-center">
								No cliques yet
							</div>
						{% else %}
							<div id = "cliquelist">
								
								{% for clique in cliques%}
									<div class = 'cliquediv'>
										<a href = "cliques.php?id={{ clique.id }}" class = "clique" data-id = "{{ clique.id }}"
										data-toggle = "tooltip" data-title = "{{ clique.name }}" data-placement = "right" data-animation= "false">
											<img src = 'img/clique_cover_img/icons/{{ clique.img }}' class = 'cliquethumbnail'/>
										</a> 
										<p class = 'pull-center cliquename'>{{ clique.name }}</p>
									</div>
								{% endfor %}
								
							</div>
						{%  endif %}
						
							<button role = "link" id = "addcliquebutton" href = "#cliqueadd" data-toggle="modal" class = "btn btn-small btn-info pull-right">
							<i class = "icon-plus"></i> Add</button>
						</div>
						
				</div>
				<div id = "feedsection">
				{% include 'alertdivs.twig' %}
					<div id = "statusupdate" class = "well">
						<form action = "updatestatus.php" method = "POST" id = "statusform">
								<input type = "text" id = "statusupdateinput" name = "status" class = "span9" autocomplete = "off" placeholder = "What's on your mind?">
								<input type = "hidden" name = "taggedpeople" id = "taggedpeople" value = ""/>
								<input type = "submit" id = "post-status" value = "Post" class = "btn btn-info"/>
								<a href = "#" id = "photo-upload" class = "btn btn-info btn-primary"><i class = "icon-camera"></i></a>
						</form>
						<div class = "tagdetails">
							<span class = "with">with</span>
						</div>
						{% if friendlist is defined %}
						
							<div id = "taglist" >
								{% for friend in friendlist %}
									<a href = # class = "tagsuggestionname" id = "tagsuggestion{{ friend.user_id }}" data-user-id = "{{ friend.user_id }}">{{ friend.user_name}}</a>				
								{% endfor %}
							</div>
						
						{% endif %}
						
						
						<div class = "row-fluid" id = "upload-section">
							<h2 class = "pull-center" style = "color:white">Upload Photos</h2>
							<a href = "#" id = "close-upload" class = "btn btn-danger btn-mini pull-right"><i class = "icon-remove"></i></a><br/>
							<div class = 'previews'></div>
							<a href = "#" id = "upload-file" class = "btn btn-info pull-left"><i class = "icon-plus"></i></a><br/>
							
							<form id = "file-upload" enctype = "multipart/form-data" method = "post"
							action = "multifileupload.php">
							<input type = "file" id = "file" name = "file[]" class = "file"/>
							<input type = "hidden" name = "page" value = "dashboard"/>
							<input type = "hidden" name = "redirect" value = "dashboard.php"/>
							<input type = "hidden" name = "extraparam" value = "0"/>
							<input type = "submit" style = "display:none" id = "submituploadform"/>
							<input id = "upload-all" class = "btn btn-block pull-left disabled" data-disabled = "true"
							type = "submit" value = "Post Photos"/>
								
							</form>
							
							
							
						</div>
						
					</div>
					<div id = "titlearea" class = "well">
						<h3 class = "block pull-center">My Feed</h3>
					</div>
					
						<div id = "feed" class = "well">
						
						{% if nofriends is defined or nofriendactivity is defined%}
							<div class = "alert alert-error pull-center">
								<strong>No Friend Activity</strong>
							</div> 
						{% else %}
							<table id = "feedtable">
							{% for activity in activitylist %}
								<tr>
									<td class = "profile-dp-container">
										<img class = "activity-container" src = "img/icons/{{ activity.dp }}"></img>
									</td>
									<td class = 'news' data-activity-id = "{{ activity.activity_id }}">
									<span class = "timestamp pull-right">{{ activity.timestamp }}</span>
										<h4 class = "names">
										<a href = "profile.php?userid={{ activity.id }}">{{ activity.name }}
										</a>
										</h4>
										{% if activity.external is defined %}
											<p class = "school"> {{ activity.type }} <b>{{ activity.venue }}</b> near <b>
											{{ activity.schoolname }}</b></p>
											
										{% elseif activity.status is defined %}
											<p class = "school">
												<i class = "status">{{ activity.comment }}</i>
											
											{% if activity.tagged is defined %}
												<small>with</small> 
												{% for ppl in activity.tagged %}
													<a href = "profile.php?userid={{ ppl.id }}">{{ ppl.name }}</a>,
												{% endfor %}
											{% endif %}
											</p>
										{% elseif activity.photoactivity is defined %}
											<p class = "school">
											added {{ activity.numphotos }} new photo{% if activity.numphotos != 1 %}s{% endif %}
											</p>
											{% for photo in activity.photos %}
												
												<div class = "image-preview">
													<a class = "fancybox" rel = "user{{ activity.id }}" href = "img/wall_img/{{ photo }}"><img src = "img/wall_img/icons/{{ photo }}"/></a> 
												</div>
											{% endfor %}
										{% else %}
											<p class = "school"> {{ activity.type }} <b>{{ activity.venue }}</b> near <b> 
											<a href = "venues.php?schoolid={{ activity.schoolid }}">{{ activity.schoolname }}</a></b>
											{%  if activity.type == "Commented on" %}
											: <i>{{ activity.comment }}</i>	
											{% endif %}
											</p>
											
										{% endif %}
										
										
{# 											<small class = 'votes-stats'> #}
{# 												<a href = "#"  class = 'like-tooltip'>#}
{# 													<span class = 'likes' >{{ activity.likes }}</span> #}
{# 													{% if activity.likes == 1 %}#}
{# 														like#}
{# 													{% else %}#}
{# 														likes#}
{# 													{% endif %}#}
{# 												</a> &nbsp;&nbsp;#}
{# 												<a href = "#" class = "numcomments">#}
{# 													<span class = 'comments'>{{ activity.user_comments }}</span>#}
{# 													{% if activity.comments == 1 %}#}
{# 														comment#}
{# 													{% else %}#}
{# 														comments#}
										
{# 												</a> #}
												 
{# 											</small>#}
											
											<small class = 'vote'>
											
											{% if activity.liked != NULL %}
												<a href = "#" class = "unlike">
													<span class = 'likeaction'>
														<i class = "icon-heart"></i>
													</span>
													
												</a>
												<a class = 'counter' href = "#">
														<span class = 'numlikes'>{{ activity.likes }}</span>
															{% if activity.likes == 1 %}
																like
															{% else %}
																likes
															{% endif %}
												</a>
													
											{% else %}
												<a href = "#" class = "like">
													<span class = 'likeaction'>
														<i class = "icon-heart-empty"></i>
													</span>
													
												</a>
												
												<a class = 'counter' href = "#">
														<span class = 'numlikes'>{{ activity.likes }}</span>
															{% if activity.likes == 1 %}
																like
															{% else %}
																likes
															{% endif %}
												</a>
											{% endif %}
												<a href = "#" class = "numcomments">
													<i class = "icon-comments"></i> 
													<span class = "comments">{{ activity.user_comments }}</span>
													<span class = "grammar">
													{% if activity.user_comments == 1 %}
														comment
													{% else %}
														comments
													{% endif %}
													</span>
													
												</a>
												
											</small>
											<small class = 'message'></small>
											{% if activity.user_comments > 3 %}
												<small><a href = "#" class = "loadmore">Load earlier comments</a>&nbsp;</small><br/>
											{% endif %}
											<table class = "displaycomments span9">
												{% if activity.topcomments is defined %}
													{% for comment in activity.topcomments %}
														<tr data-time = "{{ comment.time }}" data-commentid = {{ comment.commentid }}>
															<td class = 'dp-container'>
																<img src = "img/icons/{{ comment.dp }}" class = "small-activity-container"/>
															</td>
															<td class = 'details'>
																{% if comment.userid == userid%}
																	<small class = "pull-right">
																		<a href = '#' class = 'deletecomment'>x</a>
																	</small>
																{% endif %}
																<a href = "profile.php?userid={{ comment.userid }}" class = 'school'><b>{{ comment.name }}</b></a>
																<p class = 'actualcomment'>{{ comment.comment }}</p>
															</td>
														</tr>
													{% endfor %}
												{% endif %}
											</table>
											 <form class = 'commentform'>
											 	<input type = "text" name = 'comment' class = "text-input span9" placeholder = "Write your comment here"/>
											 </form>
											 
											
										
									</td>
								</tr>
							{% endfor %}
							</table>
						{% endif %}
						</div>
				</div>
				<div id = "suggestionsection">
				
					<div class = "well section-header" id = "most_popular">
						<h3 style = "font-size:18px;">Popular Venues Tonight</h3>
					</div>
					<div class = "well section" id = "popular_list">
						{% include 'alertdivs.twig' %}
						
						{% if popular_venues is not defined %}
							<div class = "alert alert-error pull-center">
								<p>No Venues available</p>
							</div>
						{% else %}
							<table >
							
								{% for venue in popular_venues %}
								<tr class = "popular_venue" data-venue-id = "{{ venue.venue_id }}">
									<td class = "dp-container">
										<img class = "activity-container" src = "venue_cover.php?venue_id={{ venue.venue_id }}&type=small"/>
									</td>
									
									<td>
										<h4 class = "name">
											{{ venue.venue_name }}
										</h4>
										<small>
											<span class = 'numcheckins'>{{ venue.venue_checkins }}</span> Checkin(s) 
											<span class = 'numreservations'>{{ venue.venue_reservations }}</span> Reservation(s)
											<btn class = "venue_actions pull-right btn btn-mini btn-info">
											<i class = "icon-chevron-down"></i></btn>
										</small>
										
										<div class = "action-list">
											<btn class = "venue_reserve btn btn-mini btn-info">Reserve</btn>
											<btn class = "venue_checkin btn btn-mini btn-warning">Check In</btn>
											<btn class = "venue_close btn btn-mini btn-danger">X</btn>		
										</div>
									</td>
								</tr>
							
							{% endfor %}
							</table>
						{% endif %}
						
					</div>
					
					
					<div class = "well" id = "suggestions-header">
							<h3>Do You Know?</h3>
					</div>
					
					<div class = "well" id = "suggestions">
						{% if suggestions is defined %}
						<table>
							{% for suggestion in suggestions %}
							{% if loop.index < 20 %}
							{% if loop.index <4 %}
								<tr class = "suggestion">
							{% else %}
								<tr class = "hidden suggestion">
							{%endif %}
									<td class = "dp-container">
										<a href = "profile.php?userid={{ suggestion.user_id }}"><img class = 'dp-container' src = "img/icons/{{ suggestion.user_dp_icon }}"></img></a>
									</td>
									<td class = "suggestion-name">
									<a href = "#" class = "closesuggestion pull-right"
									data-userid = "{{ suggestion.user_id }}"
									>x</a>
										<h4 class = "names">
										<a href = "profile.php?userid={{ suggestion.user_id }}">
										{{ suggestion.user_firstname }} {{ suggestion.user_lastname }}
										</a>
										</h4>
										<p class = "school">{{ suggestion.school_name }}</p>
										{% if suggestion.mutual is defined %}
											<small>{{ suggestion.mutual }} mutual friends</small>
										{% else %}
											<small>0 mutual friends</small>
										{% endif %}
									</td>
								</tr>
							{% endif %}		
							{% endfor %}
						</table>
						{% else %}
							<div class = "alert alert-error pull-center">
								No Friend Suggestions available
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</section>
	{% include 'support.twig' %}
		<div class = "modal hide fade" id = "editcliquemodal">
			<div class = "modal-header">
				<h2 class = "pull-center">Edit Sampleclique</h2>
				<button id = "add-friends" class = "btn btn-info pull-right">Add <i class = "icon-plus-sign"></i></button>
			</div>
			<div class = "modal-body">
				<div class = "alert alert-error errordiv pull-center">
				</div>
				<div class = "alert alert-success successdiv pull-center">
				</div>
				<div class = "pull-center loading">
					<img src = "img/ajax-loader.gif"/>
				</div>
				<div id = "currentcliquelist">
					<table class = "table">
						
					</table>
				</div>
				<div id = "friendlist">
					
					<table class = "table">
						<td>
							<input type = "checkbox" value = "1" class = "checkfriend"/>
						</td>
						<td class = 'dp-container'>
							<img src = "img/cheersu_icon.png"/>
						</td>
						<td>
							<h4>Arjun Basu</h4>
						</td>
					</table>
				</div>
				
			</div>
			<div class = "modal-footer">
				<button class = "btn btn-info pull-left" id = "add-to-clique">Add to Clique</button>
				<a href = "#" data-dismiss = "modal" aria-hidden="true" class="btn btn-primary pull-right">Close</a>
			</div>
		</div>
		<div class = "modal hide fade" id = "cliqueadd">
			<div class = "modal-header">
				<h3 class = "pull-center">Add a new Clique!</h3>
			</div>
			<div class = "modal-body">
				<div class = "alert alert-error errordiv">
				</div>
				<div class = "alert alert-success successdiv">
				</div>
				<div class = "pull-center loading">
					<img src = "img/ajax-loader.gif"/>
				</div>
				<form id = "addcliqueform" class = "pull-center">
					<input type = "text" name = "clique_name" placeholder = "Name of the Clique" class = "span5"/>
				</form>
			</div>
			<div class = "modal-footer">
				<a href = "#" data-dismiss = "modal" aria-hidden="true" class="btn btn-primary pull-right">Close</a>
				<button id = "cliqueaddformbutton" type = "submit" form = "addcliqueform" class = "btn btn-info">Add</button>
			</div>
		</div>
		
		<div class = "modal hide fade" id = "likemodal">
			<div class = "modal-header">
				<h3 class = "pull-center">People who like this post</h3>
			</div>
			<div class = "modal-body pull-center">
				
				<table id = "liketable">
				</table>
			</div>
			<div class = "modal-footer">
				<a href = "#" data-dismiss = "modal" aria-hidden="true" class="closemodal btn pull-right">Close</a>
				
			</div>
		</div>
		
		<div class = "modal hide fade" id = "renamecliquemodal">
			<div class = "modal-header">
				<h3 class = "pull-center">Rename Clique '<span></span>'</h3>
			</div>
			<div class = "modal-body pull-center">
				<div class = "alert alert-error errordiv">
				</div>
				<div class = "alert alert-success successdiv">
				</div>
				<div class = "pull-center loading">
					<img src = "img/ajax-loader.gif"/>
				</div>
				<form id = "renamecliqueform">
					<input type = "text" name = "clique_name" class = "pull-left span5" placeholder = "New name for clique"/>
					<input type = "hidden" name = "clique_id"/>
				</form>
			</div>
			<div class = "modal-footer">
				<a href = "#" data-dismiss = "modal" aria-hidden="true" class="closemodal btn pull-right">Close</a>
				<button id = "renamemodal" role = "submit" form = "renamecliqueform" class = "btn btn-info pull-right">Update</button>
			</div>
		</div>
		<p id="back-top">
		<a><span></span></a>
	</p>
	<script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
	<script type="text/javascript" src="js/jquery.fancybox-thumbs.js"></script>
	<script src = "js/jquery.blockUI.js" type = "text/javascript"></script>
	<script src = "js/dashboard.js" type = "text/javascript"></script>
	<script src = "js/ajaxfileupload.js" type = "text/javascript"></script>
</body>
</html>