<!DOCTYPE html>
<html lang = "en">

<head>
	<title>Friends</title>
	{% include 'headsection.twig' %}
	<style>
		.dp{
			height:96px;
			width:96px;
		}
		#listname{
			position:relative;
			left:5px;
		}
		#friendssearch{
			
			position:relative;
			top:20px;
			right:10px;			
		}
		.content{
			padding-left:40px;
			color:white;
		}
		
		#friendheader{
			
			margin-top:25px;
			z-index:1000;
		}
		#friendsection{
			margin-top:0px;
			z-index:100;
		}
		#friendsection .well{
			background-color:white;
			padding:20px;
			padding-left:24px;
			padding-right:14px;
		}
		.info{
			display:block;
			background-color:#101214;
			color:#BBBFC2;
			padding-bottom:5px;
		}
		#searchlist{
			display:none;
		}
		
		
		
		.friendsmall{
			float:left;
			height:160px;
			width:160px;
			margin-right:10px;
			margin-bottom:30px;
			border: 1px solid #202328;
			background-color:black;
			border-radius:3px;
		}
		
		.friendsmall img{
			transition: opacity 0.3s;
			-moz-transition: opacity 0.3s; /* Firefox 4 */
			-webkit-transition: opacity 0.3s; /* Safari and Chrome */
			-o-transition: opacity 0.3s; /* Opera */
		}
		
		.friendsmall img:hover{
			opacity:0.5;
		}
		
				
		.friendlist{
			margin-bottom:10px;
		}
		.section{
			padding-bottom:20px;
		}
	</style>
	<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-34421776-1']);
		  _gaq.push(['_setDomainName', 'cheersu.com']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>
</head> 


<body>
	
	{%  set friends = true %}
	{%  include 'navbar.twig' %}
	
	
	<section class = "content" id = "friendheader">
		<div class ="container">
			<div class = "row">
				<div class = "span11 well section-header">
				<form class = "pull-right" id = "friendssearch">
						<input type = "text" id = "friendsearchfield"
						{%  if noresults is defined %}
							disabled = disabled
						{% endif %}
						 
						 placeholder= "Search Friends.."/>
					</form>
					<h2 class  = "pull-left" id = "listname">
						{% if own == "true" %}
						My Friends
						{% else %}
							{{ name }}'s Friends
						{% endif %}  
					</h2>
					
					
				</div>
			</div>
		</div>
	</section>
	
	<section class = "content" id = "friendsection">
		<div class = "container">
			<div class = "row">
				<div class = "span11 well section">
					{%  if noresults is defined %}
						<div class = "alert alert-error">
							<h3>{{ h3message }} </h3>
							<strong> {{ strongmessage }}
							{{ message }}
						</div>
					{% else %}
						<div id = "mainlist">
							{% for friend in friendlist %}
								<div class = "friendsmall">
									<a href = "profile.php?userid={{ friend.userid }}">
									<img src = 'img/icons/{{ friend.dp }}'/>
									</a>
									<p class = "pull-center">{{ friend.name }}</p>
								</div>
							{% endfor %}
							
						</div>
				</div>
				{% endif %}
			</div>
		</div>
	</section>
	
	{%  include 'support.twig' %}
	<script type = "text/javascript" src = "js/friends.js">
	</script>
	
</body>
</html>