<!DOCTYPE html>
<head>
	<title>Cheersu</title>
	<style>
		#statusmessage{
			margin-top:100px;
		}
	</style>
	{% include 'headsection.twig' %}
</head>

<body>
	{% include 'navbar.twig' %}
	<section id = "statusmessage">
		<div class = "container">
			<div class = "row">
				<div class = "span6 offset3 well">
					<h2>{{ message }}</h2>
				</div>
			</div>
		</div>
	</section>
</body>