<!DOCTYPE>
<html lang = "en">
	<head>
		<title>{{title}}</title>
		{% include "headsection.twig" %}
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-34421776-1']);
		  _gaq.push(['_setDomainName', 'cheersu.com']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>
	</head>
	
	<body>
	<header>
		<div class = "navbar navbar-fixed-top" id = "generic-navbar">
			<div class = "navbar-inner">
				
					<a href = "index.php" class = "brand">
						<img id = "landing-logo" src = "img/logo.png"></img>
					</a>	
			</div>
		</div>
	</header>
	
	<section>
		<div class = "container">
			<div class = "row">
				<div class = "well pull-center">
					<div class = "alert alert-error">
						<h3>{{error}}</h3>
					</div>
					
					
				</div>
			</div>
		</div>
	</section>
	</body>
	
</html>