<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<link href = "css/slate/bootstrap.min.css" rel="stylesheet">
{# <link href = "css/responsive.css" rel = "stylesheet">#}
<link href = "css/font-awesome.css" rel="stylesheet">
<link href = "css/cheersu.css" rel = "stylesheet">
<link href = "css/bootstrap.min-jasny.css" rel = "stylesheet">
<link rel="shortcut icon" href="img/favicon.ico" />
<script src = "js/jquery.js" type = "text/javascript"></script>
<script src = "js/detectmobilebrowser.js" type = "text/javascript">
	if(jQuery.browser.mobile == true){
		window.location = "http://m.cheersu.com";
	}
</script>
<script src = "js/cheersu.js" type = "text/javascript"></script>
<script src = "js/chat.js" type = "text/javascript"></script>
<script src = "js/bootstrap.min.js" type = "text/javascript"> </script>
<script src = "js/BrowserDetect.js" type = "text/javascript"></script>
<script src = "js/notifications.js" type = "text/javascript"></script>
 