<!DOCTYPE html>
<html lang = "en">
	<head>
		<title>Cheersu</title>
		<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
		<link href = "css/slate/bootstrap.min.css" rel="stylesheet">
		<link href = "css/font-awesome.css" rel="stylesheet">
		<link href = "css/cheersu.css" rel = "stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="img/favicon.ico" />
		<script src = "js/jquery.js" type = "text/javascript"></script>
		<script src = "js/detectmobilebrowser.js" type = "text/javascript">
			if(jQuery.browser.mobile == true){
				window.location = "http://m.cheersu.com"
			}
		</script>
		<style>
		
			#supportformsubmit{
				margin-right:10px;
			}
		
			#social .social-icon{
				margin-right:10px;
			}
			select{
				color:black;
			}
			#contactButton{
				position:fixed;
				font-famly: 'Lato', sans-serif;
				top:50%;
				right:-33px;	
			
				/* Safari */
				-webkit-transform: rotate(-90deg);
				
				/* Firefox */
				-moz-transform: rotate(-90deg);
				
				/* IE */
				-ms-transform: rotate(-90deg);
				
				/* Opera */
				-o-transform: rotate(-90deg);
				
				/* Internet Explorer */
				filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
			
			}
			#semifooter{
				width:954px;
				position:relative;
				left:20px;
			}
			
			#semifooter .span4:first-child{
					margin-left:20px;
			}
			#content{
				margin-top:90px;
				position:relative;
				left:20px;
			}
			.container,
			.navbar-static-top .container,
			.navbar-fixed-top .container,
			.navbar-fixed-bottom .container{
				width:999px;
			}
			.row{
				width:999px;
			}
			.span8{
				width:600px;
			}
			.span4{
				width:300px;
			}
			
			.signupformcontainer{
				height:408px;
			}
			
			#footer{
				width:985px;
				position:relative;
				left:20px;
				padding:5px 5px;
			}
			#landing-navbar .brand{
				padding-left:3px;
			}	
			#landing-navbar .brand img{
				width:220px;
			}
			#landing-navbar #loginform{
				margin-right:30px;
			}
			#loginform input[type = 'text']{
				color:black;
			}
			#loginform input[type = 'password']{
				color:black;
			}
			#landing-navbar #loginform .checkbox{
				position:relative;
				bottom:3px;
			}
			#loginformsubmit{
				color:white;
			}
			#signupform select{
				color:black;
			}
		</style>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-34421776-1']);
		  _gaq.push(['_setDomainName', 'cheersu.com']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>
	</head> 
	
	<body>
	<header>
		
			<div class = "navbar navbar-fixed-top" id = "landing-navbar">
			<div class = "navbar-inner">
				<div class = "container">
					
						<a href = "index.php" class = "brand">
							<img id = "landing-logo" src = "img/logo.png"></img>
						</a>
						<form class = "control-group warning navbar-form pull-right" id = "loginform" target = "login.php" method = "POST">
							
							<input type = "text" id = "loginemail" name = "email" class = "input-medium" placeholder = "Email"/>
							<input type = "password" id = "loginpassword" name = "password" class = "input-medium" placeholder = "Password"/>
							<input type = "submit" value = "Submit" id = "loginformsubmit" class = "btn btn-warning"/><br/>
							
							<input type = "checkbox" name = "rememberme" value = "remember" class = "checkbox">&nbsp;Remember Me
							
							<a href = "#forgotpassmodal" class = "forgetpass" data-toggle="modal">Forgot Password?</a>
							
							
						</form>
					</div>
				</div>
			</div>
	</header>
	
	<div class = "modal hide fade" id = "forgotpassmodal">
		<div class = "modal-header">
			<h2 class = "pull-center">Enter your registered email</h2>
		</div>
		<div class = "modal-body pull-center">
			<div class = "successdiv alert alert-success pull-center">
				Hello
			</div> 
			<div class = "errordiv alert alert-error pull-center">
				Hello
			</div>
			<div class = "loading pull-center">
				<img src = "img/ajax-loader.gif"/>
			</div> 
			<form id = "forgotpassform" class = "pull-center">
				<input type = "text" name = "email" class = "span6"/>
			</form>
		</div>
		<div class = "modal-footer">
			<a href = "#" id = "closebutton" class = "btn pull-right" data-dismiss="modal" aria-hidden="true">Close</a>
			<button style = "margin-right:10px;" role = "submit" form = "forgotpassform" class = "btn btn-info pull-right">
				Submit
			</button>
		</div>
	</div>
	
	<section  id = "content">
		<div class = "container">
			<div class = "row">
				<div class = "span8 carouselContainer well">
					<div id="myCarousel" class="carousel slide" data-interval = "2000">
					  <!-- Carousel items -->
					  <div class="carousel-inner">
					    <div class="active item">
					    	<img src = "img/1.jpg"></img>
					    	<div class = "carousel-caption">
					    		<h3>Welcome to Cheersu!</h3>
					    		<p><b>Connect with your friends and find out what's happening tonight at your campus</b></p>
					    		<p>-Cheersu Team</p>
					    	</div>
					    </div>
					    
					    <div class="item">
					    	<img src = "img/3.jpg"></img>
					    </div>
					    <div class="item">
					    	<img src = "img/4.jpg"></img>
					    </div>
					  </div>
					  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  						<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
					</div>
				</div>
				
				<div class = "span4 signupformcontainer well" style = "padding-top:5px;padding-bottom:5px">
						<div >
							<h2 class = "pull-center" style = "margin-top:5px;margin-bottom:15px;">Sign Up</h2>
							<form id = "signupform" class = "pull-center control-group warning">
								<input type = "text" class = "span4" name = "firstname" placeholder = "Firstname"/><br/>
								<input type = "text" class = "span4" name = "lastname" placeholder = "Lastname"/><br/>
								<input type = "text" class = "span4" name = "schoolemail" placeholder = "School Email"/><br/>
								<input type = "password" class = "span4" name = "password" placeholder = "Password"/><br/>
								<select class = "span4" name = "school">
									<option value = "NULL">Choose Your School</option>
									{% for school in schools %}
										<option value = {{school.id}}>{{ school.name }}</option>
									{% endfor %}
								</select>
								<select class = "span4" name = "sex">
									<option value = "Male">Male</option>
									<option value = "Female">Female</option>
									<option value = "Not Applicable">Not Applicable</option>
								</select>
								<button role = "submit" class = "btn btn-block btn-warning btn-large" style = "margin-top:15px;">Register</button>
							</form>
						</div>
					
					
				
				</div>
			</div>
		</div>
	</section>
		<section>
			<div class = "container">
				<div class = "row well" id = "semifooter">
						<div class = "span4 pull-center">
					<i class = "icon-check huge-icon"></i>
					<h3 class = "block">Plan Ahead</h3>
					<p>Share your plans for tonight with your friends</p>
				</div>
				
				<div class = "span4 pull-center">
					<i class = "icon-signin huge-icon"></i>
					<h3 class = "block">Check-In</h3>
					<p>Check in any time, wherever you are</p> 
				</div>
				
				<div class = "span4 pull-center">
					<i class = "icon-group huge-icon"></i>
					<h3 class = "block pull-center">Connect</h3>
					<p>Connect with friends from different schools</p>
				</div>
					</div>
				</div>
		</section>
		<section>
			<div class = "container">
				<div class = "row" id = "footer">
					<div class = "span6">
						<a href = "#termsmodal" data-toggle = "modal" class = " btn-large btn btn-block">Terms and Conditions</a>
					</div>
					
					<div class = "span6">
						<a href = "#privacypolicymodal" data-toggle = "modal" class = "btn btn-block btn-large ">Privacy Policies</a>
					</div>
					
					
				</div>
			</div>
		</section>
		
		<div class = "modal hide fade" id = "termsmodal">
			<div class = "modal-header">		
				<h4 class = "pull-center">Terms and Conditions of Use of CheersU LLC</h4>
			</div>
			<div class = "modal-body">
				{% include "terms.twig" %}
			</div>
			<div class = "modal-footer">
				<button role = "link" class = "btn pull-right" data-dismiss = "modal" aria-hidden= "true">Close</button>
			</div>
		</div>
		
		
		<div class = "modal hide fade" id = "privacypolicymodal">
			<div class = "modal-header">
				<h3 class = "pull-center">Privacy Policies</h3>
			</div>
			<div class = "modal-body">
				{% include 'privacy.twig' %}
			</div>
			<div class = "modal-footer">
				<button role = "link" class = "btn pull-right" data-dismiss = "modal" aria-hidden= "true">Close</button>
			</div>
		</div>
		<a href = "#supportmodal" id = "contactButton" class = "btn btn-info pull-right" data-toggle="modal">
			Contact Us</a>
		<div class = "modal hide fade" id = "supportmodal">
			<div class = "modal-header text">
				<h2 class = "pull-center block">Contact Us</h2>
			</div>
			<div class = "modal-body" id = "supportmodal">
				<form id = "supportform" action = "getsupport.php" class = "pull-center" method = "POST">
					<input type = "text" class = "span6" name = "support_email" placeholder = "Your Email"/>
					<input type = "text" class = "span6" name = "support_subject" placeholder = "Subject"/>
					<textarea rows = "8" class = "span6" name = "support_message" placeholder = "What do you want to say" ></textarea>
				</form>
				<div class = "pull-center" id = "social">
					<h4>Find us on</h4>
					<a href = "http://www.facebook.com/CheersUOfficial?fref=ts" class = "btn btn-blue social-icon">
						<i class = "icon-facebook-sign"></i> Facebook
					</a>
					<a href = "https://twitter.com/CheersUOfficial" class = "btn btn-info social-icon">
						<i class = "icon-twitter-sign "></i> Twitter
					</a>
					<a href = "https://plus.google.com/118391257398075986764/posts?tab=XX" class = "btn btn-danger social-icon">
						<i class = "icon-google-plus-sign"></i> Google+
					</a>
				</div>
			</div>
			<div class = "modal-footer text">
				<a href = "#" id = "closebutton" class = " btn pull-right" data-dismiss="modal" aria-hidden="true">
				Close
    			</a>
				<button role = "submit" form = "supportform" class = "btn btn-info pull-right" id = "supportformsubmit">Send</button>
			</div>
		</div>
		<div class = "modal hide fade" id = "statusmodal">
			<div class = "modal-header">
				<h3 class = "pull-center">Message</h3>
			</div>
			<div class = "modal-body">
			{% include 'alertdivs.twig' %}
			</div>
			<div class = "modal-footer">
				<a href = "#" id = "closebutton" class = " btn pull-right" data-dismiss="modal" aria-hidden="true">
				Close
    			</a>
			</div>
		</div>
			
		<script src = "js/jquery.blockUI.js" type = "text/javascript"></script>
		<script src = "js/bootstrap.min.js" type = "text/javascript"> </script>
		<script src = "js/landing.js" type = "text/javascript"></script>
	</body>
</html>