<section class = "header">
		<div class = "container">
			<div class="navbar navbar-fixed-top" id = "navbar">
				<div class = "navbar-inner" id = "navbar_inner">
					<a href = "index.php" class = "brand" id = "brand">
						<img id = "logo" src = "img/logo.png"></img>
					</a>
					<ul class = "nav visible-desktop">
						<li {% if dashboard is defined %} class = "active" {% endif %}><a href = "dashboard.php"><i class = "icon-dashboard"></i> Dashboard</a></li>
					    <li {% if schools is defined %} class = "active" {% endif %}><a href="schools.php"><i class = "icon-pencil"></i> Schools</a></li>
					    <li {% if venues is defined %} class = "active" {% endif %}><a href="venues.php"><i class = "icon-glass"></i> Venues</a></li>
						<li {% if friends is defined %} class = "active" {% endif %}><a href = "friends.php"><i class = "icon-user"></i> Friends</a></li>
					</ul>
					<ul class = "nav pull-right">
						<li>
							<a href = "notifications.php" id = "notificationDropDown">
							<i class = "icon-globe"></i><span id = "unseen" class = "badge badge-important"></span> 
							</a>	
						</li>
						
						<li class = "dropdown">
							<a href = "#" id = "accountDropDown" role = "button" class = "dropdown-toggle header" data-toggle = "dropdown">
							<i class = "icon-cog"></i> 
							</a>	
							<ul class = "dropdown-menu" aria-labelledby="accountDropDown">
								<li><a href = "#supportmodal" data-toggle="modal"><i class = "icon-external-link"></i> Support</a></li>
								<li><a href = "settings.php"><i class = "icon-wrench"></i> Settings</a></li>
								<li><a href = "logout.php"><i class = "icon-signout"></i> Logout</a>
							</ul>
						</li>
						
						
					</ul>
					<form class = "visible-desktop navbar-search pull-right" action = "results.php" method = "POST">
						<input type = "text" class = "search-query span4" name = "searchquery" x-webkit-speech placeholder = "Search for People"/>
					</form>
					
				</div>
		</div>
		</div>
	</section>
	{% include 'chat.twig' %}