<!DOCTYPE html>
<html lang = "en">
	<head>
		<title>My Notifications</title>
		{% include 'headsection.twig' %}
		<link href = "css/notifications.css" type = "text/css" rel = "stylesheet"/>
		<link rel="stylesheet" href="css/jquery.fancybox.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="css/jquery.fancybox-thumbs.css" type="text/css" media="screen" />
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-34421776-1']);
		  _gaq.push(['_setDomainName', 'cheersu.com']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>
	</head>
	
	<body>
		{%  include 'navbar.twig' %}
		
		<section>
			<div class = "container">
				<div class = "row">
					<div class = "span12 well section-header" id = "notifications-header">
						<h2 class = "pull-center">Notifications</h2>
					</div>
				</div>
				<div class = "row">
					<div class = "span12 well section">
					<div class = "alert alert-error errordiv pull-center">
					</div>
					<div class = "alert alert-success successdiv pull-center">
					</div>
					
					{% if friendrequests is not defined and noresults is defined and acceptances is not defined and cliquerequests is not defined%}
						<div class = "alert alert-error pull-center">
							<strong>No notifications</strong>
						</div>
					{% else %}
						<table class = 'table' id = "results-table">
						{%  if cliquerequests is defined %}
							{% for request in cliquerequests %}
								<tr data-userid = "{{ request.userid }}">
									<td class = "dp-container">
										<img class = 'dp-container' src = "img/icons/{{ request.dp }}"/>
									</td>
			
										<td data-cliqueid = "{{ request.cliqueid }}">
										<h4>
											<a href = "profile.php?userid={{ request.userid }}">
												{{ request.username }}
											</a>
										</h4>
											invited you to join the clique
											<a href = "cliques.php?id={{ request.cliqueid }}">
												{{ request.cliquename }}
											</a><br/>
											<button class = "acceptclique btn btn-mini btn-info">Confirm <i class = "icon-plus"></i></button>
											<button class = "rejectclique btn btn-mini btn-danger">Decline <i class = "icon-ban-circle"></i></button>
											<form class = 'cliqueblockform'>
												<input type = "checkbox" value = 'block' class = 'blockoption'/> &nbsp;Block further invitations From this clique
											</form>
										
									</td>
									
								</tr>
							{% endfor %}
						{% endif %}
							{% if friendrequests is defined %}
								{% for request in friendrequests %}
								<tr data-userid = "{{ request.user_id }}">
									<td class = "dp-container">
										<img class = 'dp-container' src = "img/icons/{{ request.user_dp_icon }}"/>
									</td>
									<td>
										<h4> Friend Request from
											<a href = "profile.php?userid={{ request.user_id }}">
												{{ request.user_firstname }} {{ request.user_lastname }}
											</a>
										</h4>
											<button class = "confirmfriend btn btn-mini btn-info">Confirm <i class = "icon-plus"></i></button>
											<button class = "deletefriend btn btn-mini btn-danger">Decline <i class = "icon-ban-circle"></i></button>
										
									</td>
								</tr>
								{% endfor %}
							{% endif %}
							{% if activities is defined %}
								{% for activity in activities %}
									<tr>
										<td class = "dp-container">
											<img class = 'dp-container' src = "img/icons/{{ activity.dp }}"/>
										</td>
										<td>
										<span class = "timestamp pull-right">{{ activity.timestamp }}</span>
											<h4>
												<a href = "profile.php?userid={{ activity.id }}">
												{{ activity.name }}
												</a>
												{% if activity.status is defined %}
													<span class = 'tag'>tagged you in a status:</span>
												{% endif %}
													
											</h4>
											 
											{% if activity.acceptance is defined%}
												<p class = "school">accepted your friend request</p>
											{% elseif activity.clique is defined %}
												<p class = "school">
													{% if activity.cliqueact == 'like' %}
														likes your post in
													{% elseif activity.cliqueact == 'comment' %}
														commented on your post in
													{% elseif activity.cliqueact == 'ownpost' %}
														posted in your clique
													{% elseif activity.cliqueact == 'ownphoto' %}
														uploaded photos to your clique
													{% elseif activity.cliqueact == 'owncheckin' %}
														checked in to a venue in your clique
													{% elseif activity.cliqueact == 'ownreservation' %}
														made a reservation in your clique
													{% endif %}
													<a href = "cliques.php?id={{ activity.cliqueid }}">{{ activity.cliquename }}</a>
												</p>
											{% elseif activity.poke is defined%}
												<p class = "school">Sent you a Cheers <i class = 'icon-glass'></i></p>
											{% elseif activity.status is defined %}
													<p class = "school"><i>{{ activity.comment }}</i>
												{% if activity.tagged is defined %}
													<small>with</small> 
													{% for ppl in activity.tagged %}
														<a href = "profile.php?userid={{ ppl.id }}">{{ ppl.name }}</a>,
													{% endfor %}
													</p>
												{% endif %}
											</p>
											{% elseif activity.like is defined %}
												<p class = "school">likes your
												
													{% if activity.activity_type == 'checkin' %}
														checkin
													{% elseif activity.activity_type == "reserve" %}
														reservation
													{% elseif activity.activity_type == "status" or activity.activity_type == "taggedstatus" %}
														status
													{% elseif activity.activity_type == "comment" %}
														comment on <a href = "venues.php?schoolid={{activity.school_id}}">
														{{ activity.venue_name }}</a>
													{% elseif activity.activity_type == "photo-activity" %}
														photo upload
													{% endif %}
												</p>
												<table class = 'event'>
												<tr>
													<td class = 'activity-container'>
														<img src = 'img/icons/{{ chat_dp_icon }}' class = 'small-dp-container'/>
													</td>
													<td>
														<h4 class = 'name'>{{ myname }}</h4>
														<p class = 'school'>
															{% if activity.activity_type == 'checkin' %}
																checked in to <b>{{ activity.venue_name }}</b> near 
																<b> <a href = 'venues.php?schoolid={{ activity.school_id }}'>{{ activity.school_name }}</a></b>
															{% elseif activity.activity_type == "reserve" %}
																made a reservation at <b>{{ activity.venue_name }}</b> near 
																<b> <a href = 'venues.php?schoolid={{ activity.school_id }}'>{{ activity.school_name }}</a></b>
															{% elseif activity.activity_type == "status" or activity.activity_type == "taggedstatus" %}
																<i>{{ activity.activity_status }}</i>
															{% elseif activity.activity_type == "comment" %}
																comment on <a href = "venues.php?schoolid={{activity.school_id}}">
																{{ activity.venue_name }}</a>
															{% elseif activity.activity_type == "photo-activity" %}
																uploaded {{ activity.photos|length }} photo{% if activity.photos|length >1 %}s{% endif %}
																
																{% for photo in activity.photos %}
																<div class = 'image-preview'>
																	<a class = 'fancybox' href = 'img/wall_img/{{ photo.source }}' rel = 'activity.id'>
																		<img src = 'img/wall_img/icons/{{ photo.source }}' />
																	</a>
																</div>
																{% endfor %}
															{% endif %}
														</p>
													</td>
												</tr>
												
												
											</table>
											{% elseif activity.comment is defined %}
											<p class = "school">commented on your
												{% if activity.activity_type == 'checkin' %}
													checkin
												{% elseif activity.activity_type == "reserve" %}
													reservation
												{% elseif activity.activity_type == "status" %}
													status
												{% elseif activity.activity_type == "comment" %}
													comment on <a href = "venues.php?schoolid={{activity.school_id}}">
													{{ activity.venue_name }}</a>
												{% elseif activity.activity_type == "photo-activity" %}
													photo upload
												{% endif %}
{# 												: <i>{{ activity.user_comment }}</i>#}
											</p>
											<table class = 'event'>
												<tr>
													<td class = 'activity-container'>
														<img src = 'img/icons/{{ chat_dp_icon }}' class = 'small-dp-container'/>
													</td>
													<td>
														<h4 class = 'name'>{{ myname }}</h4>
														<p class = 'school'>
															{% if activity.activity_type == 'checkin' %}
																checked in to <b>{{ activity.venue_name }}</b> near 
																<b> <a href = 'venues.php?schoolid={{ activity.school_id }}'>{{ activity.school_name }}</a></b>
															{% elseif activity.activity_type == "reserve" %}
																made a reservation at <b>{{ activity.venue_name }}</b> near 
																<b> <a href = 'venues.php?schoolid={{ activity.school_id }}'>{{ activity.school_name }}</a></b>
															{% elseif activity.activity_type == "status" or activity.activity_type == "taggedstatus" %}
																<i>{{ activity.activity_status }}</i>
															{% elseif activity.activity_type == "comment" %}
																comment on <a href = "venues.php?schoolid={{activity.school_id}}">
																{{ activity.venue_name }}</a>
															{% elseif activity.activity_type == "photo-activity" %}
																photo upload
															{% endif %}
														</p>
													</td>
												</tr>
												
												
											</table>
											
											{% endif %}
											
										</td>
									</tr>
								{% endfor %}
							{% endif %}
						</table> 
					{% endif %}
											
						</table>
					</div>
				</div>
			</div>
		</section>
		{% include 'support.twig' %}
		<script src = "js/jquery.blockUI.js" type = "text/javascript"></script>
		<script type = "text/javascript" src = "js/notifications_page.js"></script>	
		<script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
		<script type="text/javascript" src="js/jquery.fancybox-thumbs.js"></script>
		</script>
		
	</body>