<!-- START PRIVACY POLICY CODE -->
<div style="font-family:'Lato',sans-serif">
	<strong>What information do we collect?</strong> <br /> <br />We
	collect information from you when you register on our site or fill out
	a form. <br /> <br />When ordering or registering on our site, as
	appropriate, you may be asked to enter your: name or e-mail address.<br />
	<br /> <strong>What do we use your information for?</strong> <br /> <br />Any
	of the information we collect from you may be used in one of the
	following ways: <br /> <br />; To personalize your experience<br />(your
	information helps us to better respond to your individual needs)<br />
	<br />; To improve our website<br />(we continually strive to improve
	our website offerings based on the information and feedback we receive
	from you)<br /> <br />; To improve customer service<br />(your
	information helps us to more effectively respond to your customer
	service requests and support needs)<br /> <br />; To process
	transactions<br />
	<blockquote>Your information, whether public or private, will not be
		sold, exchanged, transferred, or given to any other company for any
		reason whatsoever, without your consent, other than for the express
		purpose of delivering the purchased product or service requested.</blockquote>
	<br />; To send periodic emails<br /> <br />The email address you
	provide may be used to send you information, respond to inquiries,
	and/or other requests or questions.<br /> <br /> <strong>How do we
		protect your information?</strong> <br /> <br />We implement a variety
	of security measures to maintain the safety of your personal
	information when you enter, submit, or access your personal
	information. <br /> <br /> <strong>Do we use cookies?</strong> <br /> <br />Yes
	(Cookies are small files that a site or its service provider transfers
	to your computers hard drive through your Web browser (if you allow)
	that enables the sites or service providers systems to recognize your
	browser and capture and remember certain information<br /> <br /> We
	use cookies to understand and save your preferences for future visits,
	keep track of advertisements and compile aggregate data about site
	traffic and site interaction so that we can offer better site
	experiences and tools in the future. We may contract with third-party
	service providers to assist us in better understanding our site
	visitors. These service providers are not permitted to use the
	information collected on our behalf except to help us conduct and
	improve our business.<br /> <br /> <strong>Do we disclose any
		information to outside parties?</strong> <br /> <br />We do not sell,
	trade, or otherwise transfer to outside parties your personally
	identifiable information. This does not include trusted third parties
	who assist us in operating our website, conducting our business, or
	servicing you, so long as those parties agree to keep this information
	confidential. We may also release your information when we believe
	release is appropriate to comply with the law, enforce our site
	policies, or protect ours or others rights, property, or safety.
	However, non-personally identifiable visitor information may be
	provided to other parties for marketing, advertising, or other uses.<br />
	<br /> <strong>California Online Privacy Protection Act Compliance</strong><br />
	<br />Because we value your privacy we have taken the necessary
	precautions to be in compliance with the California Online Privacy
	Protection Act. We therefore will not distribute your personal
	information to outside parties without your consent.<br /> <br />As
	part of the California Online Privacy Protection Act, all users of our
	site may make any changes to their information at anytime by logging
	into their control panel and going to the 'Edit Profile' page.<br /> <br />
	<strong>Childrens Online Privacy Protection Act Compliance</strong> <br />
	<br />We are in compliance with the requirements of COPPA (Childrens
	Online Privacy Protection Act), we do not collect any information from
	anyone under 13 years of age. Our website, products and services are
	all directed to people who are at least 13 years old or older.<br /> <br />
	<strong>Online Privacy Policy Only</strong> <br /> <br />This online
	privacy policy applies only to information collected through our
	website and not to information collected offline.<br /> <br /> <strong>Terms
		and Conditions</strong> <br /> <br />Please also visit our Terms and
	Conditions section establishing the use, disclaimers, and limitations
	of liability governing the use of our website at <a
		href="http://www.cheersu.com">http://www.cheersu.com</a><br /> <br />
	<strong>Your Consent</strong> <br /> <br />By using our site, you
	consent to our <a style='text-decoration: none; color: #3C3C3C;'
		href='http://www.freeprivacypolicy.com/' target='_blank'>web site
		privacy policy</a>.<br /> <br /> <strong>Changes to our Privacy Policy</strong>
	<br /> <br />If we decide to change our privacy policy, we will post
	those changes on this page, and/or update the Privacy Policy
	modification date below. <br /> <br />This policy was last modified on
	8/30/2012<br /> <br /> <strong>Contacting Us</strong> <br /> <br />If
	there are any questions regarding this privacy policy you may contact
	us using the information below. <br /> <br />www.cheersu.com<br /> <br />
	<span></span><span></span>This policy is powered by Free Privacy Policy
	and Rhino Support. Compare Rhino Support to <a
		style='color: #000; text-decoration: none;'
		href='http://www.rhinosupport.com/zendesk.htm' target='_blank'>Zendesk</a>
	and save!<span></span><span></span><span></span>
	</div>
	<!-- END PRIVACY POLICY CODE -->