<!DOCTYPE html>
<html lang = "en">
	<head>
		<title>{{ title }}</title>
		{% include 'headsection.twig' %}
		<link href = "css/profile.css" rel = "stylesheet" type = "text/css"/>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-34421776-1']);
		  _gaq.push(['_setDomainName', 'cheersu.com']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>
	<link rel="stylesheet" href="css/jquery.fancybox.css?v=2.1.4" type="text/css" media="screen" />
	<link rel="stylesheet" href="css/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
	</head>
	
	<body>
	
	{% include 'navbar.twig' %}
	
	<section class = "content">
		<div class = "container-fluid">
			<div class = "row-fluid">
				<div class = "span5" id = "personalsection" data-userid = {{ id }}>
					<div class = "well span12">
						<div class = "row-fluid">
							<div class = "span4">
								<a href = "img/{{ dp }}" class = "fancybox" rel = "dp">
									<img id = "dp" src = "img/icons/{{ dpicon }}"></img>
								</a>
							</div>
							<div class = "span7">
								<h3 id = "name">{{ name }}</h3>
								<p id = "school">{{ school }}</p>
								<p id = "checkin">{{ bio }}</p>
									{% if confirmedfriends is defined %}
										<a href = "#" class = "btn pull-right btn-success" id = "remove"><i class = "icon-ok"></i> Friends</a>
									{% elseif friendspending is defined%}
										<a href = "#" class = "btn disabled pull-right btn-info">Request Pending</a>
									{% elseif friendawaiting is defined%}
										<a href = "#" class = "btn pull-right btn-info" id = "confirm"><i class = "icon-plus"></i> Confirm</a>
									{% elseif notfriends is defined %}
										<a href = "#" class = "btn pull-right" id = "add"><i class = "icon-plus"></i> Add Friend</a>	
									{% endif %}
							</div>
						</div>
					</div>
						<div class = "span9 offset1 well" id = "stats">
							<a href = "#" class = "pull-left btn-small btn btn-info"><i class = "icon-pushpin"></i> Checkins: {{ numcheckins }}</a>
							<a href = "friends.php?userid={{ id }}" class = "pull-right btn-small btn btn-warning"><i class = "icon-group"></i> Friends: {{ numfriends }}</a><br/>
							<br/>
							{% if confirmedfriends is defined %}
								<a href = "#" id = "cheers" class = "btn btn-small btn-block btn-success">Send a Cheers <i class = "icon-glass"></i></a>
							{% endif %}
						</div>
						
										
							<div class = "well span12  section-header" style = "margin-left:0px;max-width:508px;">
								<h3 class = "pull-center" style = "margin:0px;">Recent Images</h3>
							</div>
						
					<div class = "well span12  section" id = "photodisplay">
						{% if nophotos is defined %}
							<div class = "alert alert-error">
								<p class = "pull-center">
									No Images Uploaded
								</p>
							</div>
							
						{% else %}
						<div style = "float:center">
							{% for img in photos %}
								<div class = "image"
								{% if loop.index > 8 %}
									style = "display:none;"
								{% endif %}			
								>
									<a class = "fancybox" rel = "userimages" href = "img/wall_img/{{ img }}"><img src = "img/wall_img/icons/{{ img }}"/></a> 
								</div>
							{% endfor %}
						</div>
						{% endif %}
					</div>
				</div>
				<div class = "span8" id = "activitysection">
					<div class = "successdiv alert alert-success pull-center">
					</div>
					<div class = "errordiv alert alert-error pull-center">
					</div>
					<div class = "well section-header">
						<h2 class = "pull-center">Activity</h2>
					</div>
					<div class = "well section" id = "activitylist">
						{% if noresults is defined %}
							<div class = "alert alert-error pull-center">
								<strong>No Activity</strong>
							</div>
						{% else %}
							<table class = "table" id = "feedtable">
							{% for activity in activitylist %}
								<tr>
								<td class = "profile-dp-container"><img class = "activity-container" src = "img/icons/{{activity.dp}}"></img></td>
								<td class = "news" data-activity-id = "{{ activity.activity_id  }}">
								<span class = "timestamp pull-right">{{ activity.timestamp }}</span>
									<div class = "details">
										<h4>{{ name }}</h4>
										{% if activity.external is defined %}
											<p> {{ activity.type }} <b>{{ activity.venue }}</b> near <b>
											{{ activity.schoolname }}</b>
											</p>
										{% elseif activity.status is defined %}
											<p class = "school">
												<i class = "status">{{ activity.comment }}</i>
											
											{% if activity.tagged is defined %}
												<small> &nbsp;with</small> 
												{% for ppl in activity.tagged %}
													<a href = "profile.php?userid={{ ppl.id }}">{{ ppl.name }}</a>,
												{% endfor %}
											{% endif %}
											</p>
										{% elseif activity.commentactivity is defined %}
											<p class ="school">{{ activity.comment }}</p>
										{% elseif activity.photoactivity is defined %}
											<p class = "school">
											added {{ activity.numphotos }} new photo{% if activity.numphotos != 1 %}s{% endif %}
											</p>
											{% for photo in activity.photos %}
												
												<div class = "image-preview"
													
												>
													<a class = "fancybox" rel = "user{{ activity.id }}" href = "img/wall_img/{{ photo }}"><img src = "img/wall_img/icons/{{ photo }}"/></a> 
												</div>
											{% endfor %}
										{% else %}
											<p > {{ activity.type }} <b>{{ activity.venue }}</b> near <b> 
											<a href = "venues.php?schoolid={{ activity.schoolid }}">{{ activity.schoolname }}</a>
											</b>
											{%  if activity.type == "commented on" %}
											: <i>{{ activity.comment }}</i>	
											{% endif %}
											</p>
										{% endif %}
									</div>
									<small class = 'vote'>
											
										{% if activity.liked != NULL %}
											<a href = "#" class = "unlike">
												<span class = 'likeaction'>
													<i class = "icon-heart"></i>
												</span>
												
											</a>
											<a class = 'counter' href = "#">
													<span class = 'numlikes'>{{ activity.likes }}</span>
														{% if activity.likes == 1 %}
															like
														{% else %}
															likes
														{% endif %}
											</a>
												
										{% else %}
											<a href = "#" class = "like">
												<span class = 'likeaction'>
													<i class = "icon-heart-empty"></i>
												</span>
												
											</a>
											
											<a class = 'counter' href = "#">
													<span class = 'numlikes'>{{ activity.likes }}</span>
														{% if activity.likes == 1 %}
															like
														{% else %}
															likes
														{% endif %}
											</a>
										{% endif %}
											<a href = "#" class = "numcomments">
												<i class = "icon-comments"></i> 
												<span class = "comments">{{ activity.user_comments }}</span>
												<span class = 'grammar'>
												{% if activity.user_comments == 1 %}
													comment
												{% else %}
													comments
												{% endif %}
												</span>
												
											</a>
											
										</small>
										
										<small class = 'message'></small>
											{% if activity.user_comments > 3 %}
												<small><a href = "#" class = "loadmore">Load earlier comments</a>&nbsp;</small><br/>
											{% endif %}
											<table class = "displaycomments span9">
												{% if activity.topcomments is defined %}
													{% for comment in activity.topcomments %}
														<tr data-time = "{{ comment.time }}" data-commentid = {{ comment.commentid }}>
															<td class = 'dp-container'>
																<img src = "img/icons/{{ comment.dp }}" class = "small-activity-container"/>
															</td>
															<td class = 'details'>
																{% if comment.userid == id%}
																	<small class = "pull-right">
																		<a href = '#' class = 'deletecomment'>x</a>
																	</small>
																{% endif %}
																<p class = 'school'><b>{{ comment.name }}</b></p>
																<p class = 'actualcomment'>{{ comment.comment }}</p>
															</td>
														</tr>
													{% endfor %}
												{% endif %}
											</table>
											 <form class = 'commentform'>
											 	<input type = "text" name = 'comment' class = "text-input span9" placeholder = "Write your comment here"/>
											 </form>
										
								</td>
							</tr>
							{% endfor %}
							</table>
						{% endif %}
						
						
				</div>
				</div>
				
				
			</div>
		</div>
	</section>
	
		<div class = "modal hide fade" id = "likemodal">
			<div class = "modal-header">
				<h3 class = "pull-center">People who like this post</h3>
			</div>
			<div class = "modal-body pull-center">
				
				<table id = "liketable">
				</table>
			</div>
			<div class = "modal-footer">
				<a href = "#" data-dismiss = "modal" aria-hidden="true" class="closemodal btn pull-right">Close</a>
				
			</div>
		</div>
	
	{% include 'support.twig' %}
	<script type="text/javascript" src="js/jquery.fancybox.pack.js?v=2.1.4"></script>
	<script type="text/javascript" src="js/jquery.fancybox-thumbs.js?v=1.0.7"></script>
	<script type = "text/javascript" src = "js/jquery.blockUI.js"></script>
	<script type = "text/javascript" src = "js/profile.js"></script>
	</body>
	</html>