<!DOCTYPE>
<html>
	<head>
		<title>Reset Your Password</title>
		{% include "headsection.twig" %}
		<style>
		body{
			margin-top:180px;
		}
		#resetpasswordform input{
			height:30px;
			
		}
		
		#submitbutton{
			margin-left:14px;
		}
		.errordiv{
			margin-top:5px;
		}
		.successdiv{
			margin-top:10px;
		}
		h2{
			margin-bottom:15px;
		}
		button{
			margin-top:10px;
			position:relative;
			right:14px;
		}
		label{
			font-size:16px;
			margin-bottom:10px;
		}
		#resetpasswordsection .well{
			padding-top:0px;
			padding-bottom:10px;
			width:370px;
		}
		#navbar .search-query{
			height:30px;
		}
		#generic-navbar img{
			height:40px;
		}
		</style>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-34421776-1']);
		  _gaq.push(['_setDomainName', 'cheersu.com']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>
	</head>
	<body>
		<header>
		
	<div class = "navbar navbar-fixed-top" id = "generic-navbar">
		<div class = "navbar-inner">
			
				<a href = "index.php" class = "brand">
					<img id = "landing-logo" src = "img/logo.png"></img>
				</a>	
		</div>
	</div>
</header>
		<section id = "resetpasswordsection">
			<div class = "container">
				<div class = "row">
					<div class = "span4 offset4 well">
						<div class = "alert alert-error errordiv pull-center">
						</div>
						<div class = "alert alert-success successdiv pull-center">
						</div>
						<div class = "loading pull-center">
							<img src = "img/ajax-loader.gif"/>
						</div>
						<h2>Reset your password</h2>
						<form id = "resetpasswordform" method = "POST" action = "updatepassword.php">
							<label>Enter your new password:</label>
							<input class = "span4" name = "newpassword" type = "password"/>
							<label>Confirm your password:</label>
							<input class = "span4" name = "confirmpassword" type = "password"/>
							<input type = "hidden" name = "hash" value = "{{hashvalue}}"/>
							<input type = "hidden" name = "userid" value = "{{user_id}}"/>
							<br/><button role = "submit" id = "submitbutton" class = "btn btn-info">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</section>
		<script>
			$(document).ready(function(){
				$("#resetpasswordform").submit(function(){
					$(".errordiv").hide();
					var newpass = $("#resetpasswordform input").eq(0).val();
					var confirmpass = $("#resetpasswordform input").eq(1).val()
					if(newpass == "" || confirmpass == ""){
						$(".errordiv").html("Please complete all the fields").slideDown("200");
						return false;
					}
					else if(newpass !== confirmpass){
						$(".errordiv").html("Passwords do not match").slideDown("200");
						return false;
					}
					else{
						$(".errordiv").hide();
						$("#resetpasswordform").slideUp("200",function(){
							$("h2").hide();
							$(".loading").slideDown("100");
							data = $(this).serialize();
							$.ajax({
								url:"updatepassword.php",
								type:"POST",
								data:data,
								dataType:"JSON",
								success:function(data){
									if(data.status == "success"){
										$(".loading").fadeOut("100",function(){
											$(".successdiv").html(data.message).slideDown("200");	
										});
									}
									else{
										$(".loading").fadeOut("100",function(){
											$(".errordiv").html(data.message).parent()
											.find(".errordiv,#resetpasswordform").slideDown("200");	
										});
									}
								},
								error:function(){
									$(".loading").fadeOut("100",function(){
										$(".errordiv").html("An Error Occurred").parent()
										.find(".errordiv,#resetpasswordform").slideDown("200");
									});
								}
							})
						})
						return false;
						
					}
					
				})
				
			})
		</script>
	</body>
</html>