<!DOCTYPE html>
<html lang = "en">
	<head>
		<title>{{ title }}</title>
		{% include 'headsection.twig' %}
		<style>
			.content h3{
				color:white;
			}
			.content{
				margin-top:-20px;
			}
			.img-thumbnails{
				background-color:black;
			}
			.content .well{
				padding-top:10px;
				padding-bottom:10px;
			}
			
			.fancybox img{
				height:120px;
				width:120px;
				transition: opacity 0.4	s;
				-moz-transition: opacity 0.4s; /* Firefox 4 */
				-webkit-transition: opacity 0.4s; /* Safari and Chrome */
				-o-transition: opacity 0.4s; /* Opera */
			}
			.fancybox img:hover{
				opacity:0.5;
			}
			#prevcomments .comment-dp{
				width:50px;
			}
			#prevcomments .comment-comment{
				padding-left:0px;
				
			}
			.userlink:hover{
				text-decoration:none;
				color:orange;
			}
			
			.comment-comment p:first-child{
				font-size:17px;
				color:white;
				margin-bottom:2px;
			}
			.comment-comment p:last-child{
				font-style:italic;
				font-size:15px;
				color:white;
			}
			#commentform input{
				margin-left:5px;
				width:410px;
			}
			#commentform{
				margin-bottom:0px;
			}
			#commentform button{
				position:relative;
				bottom:5px;
			}
			.img-thumbnails{
				width:120px;
				height:120px;
				margin-right:5px;
				margin-bottom:5px;
			}
			#navbar .navbar-search .search-query{
				padding:5px;
			}
			.searchtable td{
				background-color:white;
			}
			.searchtable{
				border-radius:5px;
				background-color:#BBBFC2;
				color:black;
			}
			
			.searchtable a{
				color:black;
				text-shadow:none;
			}
			.searchtable a:hover{
				color:orange;
				text-decoration:none;
			}
			.searchtable h4{
				margin-top:0px;
			}
		</style>
		<link rel="stylesheet" href="css/jquery.fancybox.css?v=2.1.4" type="text/css" media="screen" />
		<link rel="stylesheet" href="css/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-34421776-1']);
		  _gaq.push(['_setDomainName', 'cheersu.com']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>
	</head>
	<body>
		{% include 'navbar.twig' %}
		{% include 'alertdivs.twig' %}
		<section class = "content">
			<div class = "container">
				<div class = "row">
					<div class = "span10 offset1 well">
						<h3 class = 'pull-center'>Results for <span>{{ searchquery }}</span></h3>
						<div class = "tabbable">
							<ul class = "nav nav-pills">
								<li {% if usermax is defined %} class="active" {% endif %}><a href="#users" data-toggle="tab">Users ({{ numuserresults}})</a></li>
    							<li {% if schoolmax is defined %} class="active" {% endif %}><a href="#schools" data-toggle="tab">Schools ({{ numschoolresults}})</a></li>
    							<li {% if venuemax is defined %} class="active" {% endif %}><a href = "#venues" data-toggle = "tab">Venues ({{ numvenueresults}})</a>
							</ul>
						</div>
						<div class = "tab-content">
							<div class = "tab-pane {% if usermax is defined %} active {% endif %}" id = "users">
								{%   if noresults is defined %}
									<div class = "alert alert-error pull-center">
										<strong>No results found</strong>
									</div>
									{% else %}
										<table class = "table searchtable">
											{% for result in userresults %}
											<tr>
												<td class = "dp-container">
													<img class = "dp-container" src = "img/icons/{{ result.user_dp }}" />
												</td>
												<td>
													<h4><a href = "profile.php?userid={{result.user_id}}">
													{{ result.user_firstname}} {{ result.user_lastname }}</a></h4>
													<p>{{ result.school_name }}</p>
												</td>
											</tr>
											{% endfor %}
										</table>
									{% endif %}		
							</div>
							<div class = "tab-pane {% if schoolmax is defined %}active{% endif %}" id = "schools">
								{%   if noschoolresults is defined %}
									<div class = "alert alert-error pull-center">
										<strong>No results found</strong>
									</div>
								{% else %}
								
										<table class = "table searchtable">
										{% for result in schoolresults %}
										<tr>
											<td>
												<h4><a href = "venues.php?schoolid={{result.id}}">{{ result.name }}</a></h4>
												<p>{{ result.count }} venue{% if result.count != 1 %}s{% endif %} </p>
											</td>
										</tr>
										{% endfor %}
									</table>	
									
									
								{% endif %}
							</div>
							<div class = "tab-pane {% if venuemax is defined %}active{% endif %}" id = "venues">
								{%   if novenueresults is defined %}
									<div class = "alert alert-error pull-center">
										<strong>No results found</strong>
									</div>
								{% else %}
									<table class = "table searchtable">
										{% for result in venueresults %}
										<tr>
											<td class = "dp-container">
												<img class = "dp-container" src="venue_cover.php?venue_id={{ result.id }}&type=small">
											</td>
											<td data-venueid = "{{ result.id }}">
												<h4>{{ result.name }}</h4>
												<button class = "btn btn-small checkin">Checkin</button>
												<button class = "btn btn-small reserve">Reserve</button>
												<button class = "btn btn-small btn-info photos"> <i class = "icon-camera"></i> </button>
												<button class = "btn btn-small btn-danger comment"> <i class = "icon-comments"></i> </button>
												
											</td>
										</tr>
										{% endfor %}
									</table>
								{% endif %}
							</div>
						</div>
						
						
					</div>
				</div>
			</div>
		</section>
		
		<div class = "modal hide fade" id = "photomodal">
			<div class = "modal-header text">
				<h3 class = "pull-center">Photos for this venue</h3>
			</div>
			<div class = "modal-body">
				<div id = "img-thumbnails">
					<div class = "alert alert-error pull-center errordiv">
							<p>No photos for this venue yet</p>
					</div>
				</div>
			</div>
			<div class = "modal-footer text">
				<a href = "#" id = "close-photo-modal" class = " btn pull-right" data-dismiss="modal" aria-hidden="true">Close</a>
			</div>
		</div>
		<div class = "modal hide fade" id = "commentmodal">
			<div class = "modal-header text">
				<h3 class = "pull-center">Comments</h3>
			</div>
			<div class = "modal-body text">
				<div class = "alert alert-error pull-center errordiv">
					<strong>No comments on this venue yet</strong>
				</div>
				<div class = "alert alert-success pull-center successdiv">
					<strong>No comments on this venue yet</strong>
				</div>
				<div id = "prevcomments">
				
				<table class = "table">
{# 					<tr>#}
{# 						<td class = "comment-dp"><img src = "img/cheersu_icon.png"/></td>#}
{# 						<td class = "comment-comment">#}
{# 							<p class = "block">Arjun</p>#}
{# 							<p>Bad place</p>#}
{# 						</td>#}
{# 					</tr>	#}
				</table>
				</div>
				<form id = "commentform">
					<input type = "text" id = "comment" class = "span4" placeholder = "How is the venue?"/>
					<button role = "submit" class = "btn btn-info">Comment</button>
				</form>
			</div>
			<div class = "modal-footer text">
				<a href = "#" id = "closebuttoncomment" class = "block btn pull-right" data-dismiss="modal" aria-hidden="true">
    		Close
    		</a>
			</div>
		</div>
		<script type="text/javascript" src="js/jquery.fancybox.pack.js?v=2.1.4"></script>
	<script type="text/javascript" src="js/jquery.fancybox-thumbs.js?v=1.0.7"></script>
		<script type = "text/javascript" src = "js/jquery.blockUI.js"></script>
		<script type = "text/javascript" src = "js/cheersu.js"></script>
		<script type = "text/javascript" src = "js/results.js"></script>
	</body>
	
</html>