<!DOCTYPE html>
<html lang = "en">

<head>
	{% set schools = true %}
	<title>Schools</title>
	{% include 'headsection.twig' %}
	<style>
	#requestschoolformbuttton{
		margin-right:10px;
		}
		#requestschoolform input{
			height:25px;
			margin-bottom:10px;
		}
		#requestschoolform select{
			height:30px;
			margin-bottom:10px;
		}
		
		.overlay{
			width:100%;
			height:100%;
			background-color:black;
			z-index:10000;
		}
		.content{
			padding-left:40px;
			color:white;
		}
		#statename{
			margin-top:0px;
			z-index:1000;
		}
		#schoollist .modal-header{
			background-color:#202328;
		}
		#statename .well{
			padding-top:5px;
			padding-bottom:5px;
			min-width:1080px;
			margin-bottom:0px;
			border-bottom-left-radius:0px;
			border-bottom-rigth-radius:0px;
			border-bottom-width:0px;
		}
		#schools{
			height:70%;
			z-index:100;
		}
		#mapsection{
			min-width:1100px;
			border-top-left-radius:0px;
			border-top-right-radius:0px;
			margin-top:0px;
		}
		#mapsection .well{
			background-color:white;
			border-top-left-radius:0px;
			border-top-rigth-radius:0px;
			border-top-width:0px;
		}
		#countrymap{
			margin-left:70px;
		}
		#countrymapmouse{
			width:130px;
			height:30px;
			padding-top:5px;
			border-radius:5px;
			background-color:black;
			color:white;
		}
		.schoolentry{
			padding:0px;
		}
		.schoolentry a:hover{
			text-decoration:none;
			color:orange;
		}
		
	</style>
	<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-34421776-1']);
		  _gaq.push(['_setDomainName', 'cheersu.com']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>
</head>

<body>

	{% include 'navbar.twig' %}
	<section id = "statename" class = "content">
		<div class = "container-fluid">
			<div class = "row-fluid">
				<div class = "span11 well pull-center">
					<h1 class = "block">Schools</h1>
					<a href = "#requestschoolmodal" data-toggle="modal" class = "btn btn-small btn-info">Request a School</a>
				</div>
			</div>
		</div>
	</section>

	<section class = "content" id = "mapsection">
		<div class = "container-fluid">
			<div class = "row-fluid">
			
			<div class = "span11 well pull-center">
			<div class = "alert alert-error pull-center errordiv">
				Unable to fetch the School List. Please try again later
			</div>
				<img id="countrymap" class = "pull-center" usemap="#usa" src="img/countrymap.png" style="height:571px;width:856px;" />
				<map name="usa">
					<area shape="poly" coords="42,57,53,62,54,70,58,76,67,75,81,79,109,79,136,85,141,92,126,112,126,118,128,122,125,126,118,162,14,136,13,130,15,126,14,119,22,110,34,83" id="Oregon" href="/schools/Oregon" />
					<area shape="poly" coords="149,25,160,27,157,47,158,52,161,56,159,58,171,77,174,79,169,98,172,101,178,101,181,116,186,120,188,128,191,130,193,127,209,129,212,126,214,129,207,178,121,163,131,121,128,116,143,94,144,89,141,86,140,74,140,68" id="Idaho" href="/schools/Idaho" />
					<area shape="poly" coords="164,28,211,37,279,46,324,50,318,128,218,118,215,126,213,123,211,123,209,126,194,124,190,126,189,119,184,116,180,98,173,99,172,95,178,79,177,76,174,76,163,59,163,56,159,46,162,34" id="Montana" href="/schools/Montana" />
					<area shape="poly" coords="76,156,162,174,142,287,140,292,135,289,130,290,129,309,127,310,62,214" id="Nevada" href="/schools/Nevada" />
					<area shape="poly" coords="14,140,73,155,59,214,127,313,132,329,127,333,123,342,119,347,119,354,122,357,121,359,78,354,77,341,71,331,63,328,62,320,35,304,30,298,33,292,19,264,21,255,15,233,21,238,20,226,34,231,34,228,31,224,26,222,20,222,15,226,12,223,12,217,5,202,8,186,4,171,11,154" id="California" href="/schools/California" />
					<area shape="poly" coords="165,174,206,181,204,201,234,206,225,285,148,273" id="Utah" href="/schools/Utah" />
					<area shape="poly" coords="219,120,317,131,312,211,208,199" id="Wyoming" href="/schools/Wyoming" />
					<area shape="poly" coords="146,276,224,288,210,402,177,397,118,364,118,361,124,360,125,357,122,353,122,347,129,334,135,332,134,326,132,324,132,321,130,316,130,310,132,305,131,293,133,291,136,292,137,293,139,295,142,295,145,288" id="Arizona" href="/schools/Arizona" />
					<area shape="poly" coords="227,289,322,297,315,398,253,393,254,398,227,395,225,403,212,402" id="New Mexico" href="/schools/New Mexio" />
					<area shape="poly" coords="122,403,148,486,155,486,156,484,169,493,172,490,172,485,175,484,191,493,200,502,213,504,216,510,216,515,214,516,214,510,211,507,208,506,211,512,209,521,206,516,202,516,201,513,199,510,191,510,184,505,176,497,163,492,159,491,156,488,151,490,145,488,139,491,131,489,116,486,113,486,116,494,112,496,104,505,102,505,105,500,102,500,101,495,108,489,109,486,105,485,101,487,97,492,95,500,90,505,89,509,93,510,90,515,89,517,85,519,81,523,79,527,76,531,71,535,66,539,62,539,59,543,52,543,50,546,38,552,37,550,44,547,48,545,52,541,56,541,60,540,64,534,69,533,75,524,76,515,78,513,77,510,74,511,72,512,68,510,66,513,65,510,61,510,59,510,55,512,54,502,52,498,46,501,39,496,41,491,42,488,38,488,37,484,44,471,48,473,53,470,57,470,59,465,60,455,58,453,53,456,41,456,37,454,38,450,34,447,35,444,41,443,42,440,46,439,47,443,50,445,58,443,59,441,54,438,55,434,52,434,50,431,49,428,41,422,42,418,49,418,56,406,61,405,63,401,68,401,72,396,74,397,73,399,75,400,78,398,90,402,97,401,102,403,108,403,112,403,115,401,119,402" id="Alaska" href="/schools/Alaska" />
					<area shape="poly" coords="326,50,323,109,426,113,424,103,422,84,423,81,419,71,418,53" id="North Dakota" href="/schools/North Dakota" />
					<area shape="poly" coords="237,206,227,286,339,295,342,216,307,214" id="Colorado" href="/schools/Colorado" />
					<area shape="poly" coords="325,308,370,310,370,350,377,354,382,353,382,357,398,361,401,361,405,364,410,364,419,368,425,364,432,369,441,364,453,364,463,370,470,371,472,402,480,417,479,429,478,444,475,448,467,451,463,452,459,449,457,450,457,454,455,459,442,470,434,471,430,472,430,476,422,481,417,487,414,487,410,509,414,527,408,524,395,520,386,519,378,502,378,494,371,489,360,468,350,452,340,444,332,443,321,444,310,460,297,451,290,445,285,436,282,427,275,417,257,397,318,400,319,373" id="Texas" href="/schools/Texas" />
					<area shape="poly" coords="292,535,288,532,287,523,285,514,290,507,287,503,272,490,267,485,259,488,254,484,256,482,260,479,252,478,249,479,236,474,228,472,224,466,193,455,187,453,187,450,190,448,193,448,196,449,195,455,224,466,231,464,234,467,238,469,236,474,249,478,250,475,255,476,261,477,261,478,256,483,260,483,261,487,267,485,265,482,266,481,268,482,270,483,274,483,280,488,278,490,272,490,291,507,288,502,297,507,304,510,312,520,310,524,305,526,301,526" id="Hawaii" href="/schools/Hawaii" />
					<area shape="poly" coords="459,300,459,312,462,326,463,366,454,361,440,363,433,366,427,361,421,364,411,361,406,362,405,357,386,356,384,350,381,350,380,351,379,352,374,348,374,307,325,305,325,297,362,299,401,300" id="Oklahoma" href="/schools/Oklahoma" />
					<area shape="poly" coords="322,112,318,169,398,173,405,178,410,176,419,176,428,182,427,177,428,174,427,166,427,163,429,162,428,127,423,124,422,122,426,116,376,115" id="South Dakota" href="/schools/South Dakota" />
					<area shape="poly" coords="318,172,315,211,345,213,344,234,445,236,444,231,439,227,439,221,438,208,434,204,432,195,429,188,425,182,415,179,410,179,407,181,404,180,400,176,361,175" id="Nebraska" href="/schools/Nebraska" />
					<area shape="poly" coords="344,236,342,296,458,298,458,255,454,251,450,246,451,243,454,242,454,240,450,239,448,238,398,238" id="Kansas" href="/schools/Kansas" />
					<area shape="poly" coords="420,53,447,53,448,46,449,46,451,48,451,53,451,56,453,58,464,60,467,62,470,62,472,60,475,60,480,61,485,66,486,67,488,66,489,65,493,68,499,70,506,66,509,68,517,68,520,70,519,71,509,75,488,97,488,108,486,110,482,112,482,115,480,117,481,120,483,123,483,125,482,134,483,140,487,142,493,145,497,148,499,151,505,155,506,161,469,163,431,163,431,127,429,125,428,124,425,122,426,120,428,119,430,114,429,106,427,104,426,102,425,79,422,74,421,62,421,63" id="Minnesota" href="/schools/Minnesota" />
					<area shape="poly" coords="429,165,454,166,507,164,508,167,507,171,508,175,510,178,515,181,524,190,525,195,523,199,520,202,513,203,511,207,511,209,512,211,513,213,508,225,504,221,441,222,440,207,438,204,436,202,432,187,430,180,431,171" id="Iowa" href="/schools/Iowa" />
					<area shape="poly" coords="443,226,470,226,485,225,502,223,507,226,507,231,507,235,510,239,514,245,519,249,521,255,525,258,529,257,531,259,529,264,527,267,528,271,532,275,537,278,540,278,544,291,548,295,549,295,550,301,547,303,544,306,542,315,534,314,537,310,537,306,533,304,500,306,462,307,461,255,457,250,455,247,454,245,457,243,457,240,457,239,454,237,449,236,447,231,446,230" id="Missouri" href="/schools/Missouri" />
					<area shape="poly" coords="73,6,147,24,137,69,136,82,119,77,110,76,92,77,83,77,69,72,62,73,59,72,57,70,56,62,54,58,41,55,42,51,44,52,45,49,44,26,44,12,53,18,60,20,65,24,67,25,67,28,66,32,67,38,71,39,72,30,75,27,75,14,74,10" id="Washington" href="/schools/Washington" />
					<area shape="poly" coords="461,310,496,309,532,307,533,309,533,311,531,313,531,314,531,317,540,317,534,335,530,341,527,350,523,354,521,363,519,365,520,369,520,377,494,379,474,380,474,368,466,368,466,344,466,328" id="Arkansas" href="/schools/Arkansas" />
					<area shape="poly" coords="474,382,500,381,520,380,521,386,523,389,523,393,524,397,520,403,516,410,515,419,515,423,548,420,547,424,548,427,551,433,545,430,539,431,537,433,537,437,539,439,544,440,547,438,549,440,551,442,555,441,555,442,553,444,552,445,552,447,552,448,562,454,562,456,557,453,545,447,542,449,545,452,545,456,544,457,542,453,540,452,537,454,533,457,517,447,511,445,508,445,507,450,490,446,479,447,481,439,481,432,482,426,484,422,481,414,474,401" id="Louisiana" href="/schools/Louisana" />
					<area shape="poly" coords="533,338,569,335,569,387,568,399,572,429,565,429,558,430,555,433,549,425,551,419,550,417,518,419,519,412,523,403,527,397,527,391,524,384,523,371,522,365,529,351,532,345" id="Mississippi" href="/schools/Mississippi" />
					<area shape="poly" coords="490,97,496,98,507,92,509,92,507,98,512,99,516,99,520,103,527,105,538,109,547,109,549,112,553,113,552,120,556,125,552,133,553,137,556,137,560,130,561,131,562,132,560,137,560,144,558,149,557,159,556,164,559,177,518,180,516,178,513,178,512,177,511,164,509,162,508,155,504,150,498,147,493,141,487,139,485,137,485,123,483,119,484,114,489,112,490,106" id="Wisconsin" href="/schools/Wisconsin" />
					<area shape="poly" coords="521,183,559,180,561,186,565,195,569,242,568,246,571,254,566,267,564,271,564,281,560,284,559,287,560,291,553,288,548,289,548,293,545,291,542,278,538,275,534,274,529,269,532,260,531,256,527,254,523,254,522,248,513,241,510,236,509,227,516,215,516,211,514,209,514,205,519,205,526,199,527,194,527,189,523,186" id="Illinois" href="/schools/Illinois" />
					<area shape="poly" coords="598,108,606,111,617,116,617,120,620,124,620,129,620,133,617,136,617,139,614,142,613,145,617,150,620,150,626,140,630,139,635,148,638,158,638,165,635,165,627,185,611,188,581,190,584,180,585,171,583,161,578,152,580,139,581,128,589,120,592,117,596,117,596,114,595,111,595,108" id="Michigan" href="/schools/Michigan" />
					<area shape="poly" coords="568,197,572,242,571,244,570,246,571,248,572,250,573,252,573,255,571,264,567,269,567,275,573,272,576,271,579,272,580,272,583,270,586,271,587,271,591,265,596,267,598,266,601,259,604,255,605,251,608,251,612,250,613,246,606,190,588,192,578,193,576,195,571,197" id="Indiana" href="/schools/Indiana" />
					<area shape="poly" coords="567,302,548,303,550,301,551,297,551,294,551,291,552,290,557,290,559,292,561,292,562,291,561,286,565,284,567,283,567,277,570,276,574,274,577,273,579,275,581,275,585,272,589,273,590,273,591,270,591,268,593,268,595,270,599,269,601,266,602,262,605,260,606,257,607,253,613,252,615,250,616,247,615,243,619,244,624,249,629,250,635,250,641,251,643,249,646,249,650,253,650,258,655,264,662,271,654,277,652,280,650,283,649,286,643,289,640,291,611,294,581,297,567,298,567,300" id="Kentucky" href="/schools/Kentucky" />
					<area shape="poly" coords="536,335,546,306,569,304,570,301,623,296,670,289,670,291,668,295,662,300,655,302,649,309,642,312,638,313,631,326,575,332" id="Tennessee" href="/schools/Tennessee" />
					<area shape="poly" coords="572,334,610,331,623,374,629,384,626,391,630,409,616,410,587,414,586,420,588,422,589,424,589,427,587,430,584,427,582,423,579,421,578,423,578,427,574,427,572,403,571,395,572,352" id="Alabama" href="/schools/Alabama" />
					<area shape="poly" coords="613,330,623,363,627,376,632,382,632,385,629,392,635,414,681,411,683,414,685,415,684,405,692,405,693,393,699,380,696,378,693,375,693,372,690,369,688,367,687,364,681,358,669,347,661,340,658,336,655,335,651,333,649,330,650,325" id="Georgia" href="/schools/Georgia" />
					<area shape="poly" coords="588,416,588,418,591,420,592,424,593,426,596,426,603,425,609,424,616,425,624,429,631,436,644,430,645,427,649,426,655,426,658,428,662,431,669,439,678,444,682,448,681,469,682,471,684,466,687,466,689,467,688,470,685,476,686,479,692,486,694,484,697,486,698,491,703,495,704,501,707,503,711,504,713,506,719,513,720,518,728,517,731,513,732,511,732,504,734,503,733,485,729,476,712,446,712,443,702,429,694,413,693,408,686,408,687,413,686,416,686,417,681,416,680,413,634,416,631,412,608,414" id="Florida" href="/schools/Florida" />
					<area shape="poly" coords="609,191,615,242,619,242,621,242,624,245,626,248,641,248,643,246,645,246,652,251,653,251,655,250,656,241,661,235,664,229,669,227,673,221,674,201,671,176,663,181,657,187,654,188,649,189,646,192,641,192,633,189,627,188,618,190" id="Ohio" href="/schools/Ohio" />
					<area shape="poly" coords="692,322,689,318,665,318,660,322,654,325,652,329,653,332,657,333,660,335,664,341,676,349,683,358,688,360,690,366,694,370,697,376,700,377,701,375,699,371,699,369,702,370,703,372,705,372,705,370,702,369,703,367,708,366,718,357,723,350,724,342,731,334,711,320,692,323" id="South Carolina" href="/schools/South Carolina" />
					<area shape="poly" coords="672,289,710,283,762,273,766,277,762,279,757,282,756,282,752,281,752,282,754,285,760,286,768,285,769,287,769,292,766,294,764,295,750,295,751,297,759,299,759,301,758,303,757,304,754,305,754,307,763,305,763,308,752,312,747,317,743,321,742,329,739,331,733,332,726,328,711,318,693,320,690,316,687,315,667,316,660,319,654,323,634,325,639,315,646,314,656,304,660,303,667,298,671,294" id="North Carolina" href="/schools/North Carolina" />
					<area shape="poly" coords="647,290,696,283,761,270,751,258,754,254,751,251,752,246,739,240,734,241,733,238,733,233,736,230,734,227,727,226,727,222,725,222,724,222,724,225,720,225,716,222,714,223,714,226,714,229,707,237,706,239,705,242,703,244,700,244,698,243,697,245,692,258,692,266,686,269,675,274,663,272,656,279" id="Virginia" href="/schools/Virginia" />
					<area shape="poly" coords="653,253,653,259,660,266,668,271,677,270,690,265,690,257,696,241,699,241,702,242,703,241,704,237,711,230,712,221,714,220,720,222,722,223,723,221,721,218,720,217,718,216,715,216,713,217,712,220,707,220,703,224,698,229,696,229,695,219,679,221,677,210,675,222,674,226,672,228,668,231,665,232,662,239,659,240,657,248,656,252" id="West Virginia" href="/schools/West Virginia" />
					<area shape="poly" coords="810,118,806,114,795,77,798,76,798,69,802,64,801,43,807,28,810,32,813,32,820,27,825,29,827,31,835,56,839,57,842,57,842,62,844,65,849,65,849,68,851,71,844,77,842,79,836,81,834,86,832,84,830,81,828,82,827,85,827,94,823,95,822,100,818,101,814,101,812,110" id="Maine" href="/schools/Maine" />
					<area shape="poly" coords="787,132,798,130,803,128,809,121,803,114,798,96,793,79,790,79,790,92,791,94,791,96,787,101,787,107,787,111,786,113,785,118" id="New Hampshire" href="/schools/New Hampshire" />
					<area shape="poly" coords="764,92,787,86,787,91,788,94,788,96,784,100,784,113,784,134,776,134,773,119,770,118,768,110,767,102,765,97" id="Vermont" href="/schools/Vermont" />
					<area shape="poly" coords="761,93,765,103,767,115,768,121,771,122,774,134,774,152,779,170,776,170,772,167,771,167,772,172,757,166,748,157,683,171,683,166,693,155,694,151,690,145,697,142,700,141,718,141,725,136,729,128,728,121,726,119,730,114,734,106,739,99,745,97" id="New York" href="/schools/New York" />
					<area shape="poly" coords="777,137,776,149,784,148,805,143,808,145,814,151,818,146,819,146,820,149,824,147,830,145,830,142,828,140,827,143,825,146,821,145,816,141,815,138,809,137,810,133,813,130,809,126,806,130,794,133" id="Massachusetts" href="/schools/Massachusetts" />
					<area shape="poly" coords="802,146,805,157,808,156,807,146" id="Rhode Island" href="/schools/Rhode Island" />
					<area shape="poly" coords="777,151,799,147,803,158,788,164,780,171,780,174,792,171,794,172,793,173,785,177,778,181,776,180,775,173,779,171,779,163" id="Connecticut" href="/schools/Connecticut" />
					<area shape="poly" coords="761,171,773,175,773,178,771,182,771,187,776,187,776,200,770,215,768,213,764,213,758,209,758,204,762,201,767,195,767,192,758,186,758,178" id="New Jersey" href="/schools/New Jersey" />
					<area shape="poly" coords="755,204,753,205,760,230,768,229,767,225,763,222,759,216" id="Delaware" href="/schools/Delaware" />
					<area shape="poly" coords="673,175,680,169,682,174,748,160,754,165,755,169,759,169,755,178,755,183,756,188,764,194,757,202,753,201,751,205,737,208,705,215,680,219" id="Pennsylvania" href="/schools/Pennsylvania" />
					<area shape="poly" coords="720,214,729,213,751,208,754,218,758,233,767,232,767,238,762,258,761,241,759,236,753,234,750,225,750,212,747,212,744,216,743,221,743,229,748,238,742,236,737,236,737,233,739,231,738,227,737,226,733,224,730,224,728,221,723,219" id="Maryland" href="/schools/Maryland" />
					</map>
					
					<div id="countrymapmouse" style="display:none;position: absolute;">
						<span id="txtStateName"></span>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	
	<div class = "modal hide fade" id = "schoollist">
		
		<div class = "modal-header text">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h2 class = "pull-center">Schools in <span></span></h2>
			
		</div>
		
		<div class = "modal-body">
			<div class = "alert alert-error errordiv">
			</div>
		</div>
		
		<div class = "modal-footer">
			<a href = "#" class = "btn btn-info pull-right " data-dismiss = "modal" aria-hidden = "true">Close</a>
		</div>
	</div>
	
	<div class = "modal hide fade" id = "requestschoolmodal">
			<div class = "modal-header text">
				<h3 class = "pull-center">
					Request for a school
				</h3>
			</div>
			<div class = "modal-body">
				{% include 'alertdivs.twig' %}
				<form id = "requestschoolform" class = "pull-center">
					<input type = "text" class = "span5" name = "school_name" placeholder = "School Name"/>
					<select name = "school_state_id" class = "span5">
						<option value = "NULL">Choose a State</option>
						{% for state in states %}
						<option value = "{{ state.state_id }}">
						{{ state.state_name }}</option>
						{% endfor %}
					</select>
				</form>
				<div class = "modal-footer">
					<a href = "#" sid = "closebuttonrequest" class = "btn pull-right" data-dismiss="modal" aria-hidden="true">Close</a>
					<button role = "submit" form = "requestschoolform" class = "btn btn-info pull-right" id = "requestschoolformbuttton">
					Submit</button> 				
				</div>
			</div>
		</div>

{% include 'support.twig' %}

<script src = "js/jquery.blockUI.js" type = "text/javascript"></script>
<script src = "js/schools.js" type = "text/javascript"></script>
		
</body>

</html>

		 
