<!DOCTYPE html>
<html lang = "en">
<head>
	<title>Settings</title>
	{% include 'headsection.twig' %}
	<script src = "js/settings.js"></script>
	<link href = "css/bootstrap.min-jasny.css" rel = "stylesheet">
	<style>
		.content{
			margin-top:-20px;
			padding-left:40px;
			position:relative;
			right:50px;
		}
		
		#integrate-buttons{
			margin-top:30px;
		}
		#updatepass{
			margin-right:10px;
		}
		
		#passwordchangemodal .modal-header{
			background-color:#202328;
		}
		#settings{
			margin-top:0px;
		}
		
		#infoform span{
			margin-left:0px;
		}
		#changepass{
			margin-left:0px;
			margin-bottom:20px;
			margin-top:5px;
		}
		#settings label{
			color:white;
		}
		#settings input,textarea{
			color:black;
		}
		#updatebutton{
			margin-left:0px;
		}
		#passwordchange{
			padding-left:40px;
		}
		#dpheader{
			margin-top:-10px;
		}
	</style>
	<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-34421776-1']);
		  _gaq.push(['_setDomainName', 'cheersu.com']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>
</head>
<body>
{% include "fb.twig" %}
{% include "navbar.twig" %}	
	
	<section class = "content">
		<div class = "container">
			<div class = "row">
				<div class = "well span8 offset2 section-header">
					<h1 class = "pull-center">Account Settings</h1>
				</div>
			</div>
		</div>
	</section>
	
	
	<section  id = "settings" class = "content">
		<div class = "container">
			<div class = "row">
				<div class = "well span8 offset2">
					<div class = "row-fluid">
					<form id = "infoform" enctype = "multipart/form-data" action = "updateaccount.php" method = "POST">
						<div class = "span4">
							<h3 class = "pull-left" id = "dpheader">Profile Picture</h3>
							<!-- Image uploading Widget from Bootstrap Jasny-->
								<div class="fileupload fileupload-new" data-provides="fileupload">
								  <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;"><img id = "dp" src="img/{{image}}"/></div>
								  <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
								  <div>
								    <span class="btn btn-file btn-info"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span>
								    <input name = "file" type="file" /></span>
								    <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">Remove</a>
								  </div>
								</div>
								
							<!-- End of Image Upload Widget -->
							
							<div id = "integrate-buttons">
							{% if fb_status == 0 %}
							<a href = "#" class = "btn btn-fb btn-block" id = "fb-integrate">
								<i class = "icon-facebook-sign"></i> Facebook
								</a>
							{% else %}
							<a href = "#" class = "btn btn-danger btn-block" id = "fb-decouple">
								<i class = "icon-facebook-sign"></i> Disconnect
								</a>
							{% endif %}
							</div>
						</div>
						<div class = "span8">
								<label>First Name:</label>
								<input type = "text" name = "firstname" class = "span12" value = "{{firstname}}">
								<label>Last Name:</label>
								<input type = "text" name = "lastname" class = "span12" value = "{{lastname}}">
								<label>Bio (160 characters max):</label>
								<textarea class = "span12" name = "bio" rows = "2">{{bio}}</textarea>
								<a href = "#passwordchangemodal" data-toggle="modal" class = "span12 btn btn-block btn-info" id = "changepass">Change Password</a>
								<label>Email:</label>
								<input name = "email" type = "text" class = "span12" value = "{{email}}">
								{% if email_pending != "" %}
									<span class = "span12 alert alert-error">
									You have not yet verified your new email 
									<strong>{{email_pending}}</strong>.
									
									</span>
								{% endif %}
								<label>School:</label>
								<select name = "school" class = "span12">
									{% for school in schoollist %}
										<option value = "{{ school.school_id }}"
										{% if school.school_id == myschool %}
										selected = "selected"
										{% endif %}>{{ school.school_name }}</option>
									{% endfor %}
								</select>
								
							</form>
						</div>
						<button data-role = "submit" id = "updatebutton" form = "infoform" class = "span12 btn-block btn btn-info btn-large">Update</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	{% include 'support.twig' %}
			
		</div>
		<div class = "modal hide fade" id = "passwordchangemodal">
			<div class = "modal-header">
				<h2 class = "pull-center">Change Password</h2>
			</div>
			<div class = "modal-body">
				<div class = "alert alert-error errordiv pull-center">
				</div>
				<div class = "alert alert-success successdiv pull-center">
				</div>
				<div class = "loading pull-center">
					<img src = "img/ajax-loader.gif"/>
				</div>
				<form id = "passwordchange">
					<label>Old Password:</label>
					<input type = "password" class = "span5" name = "currentPass"/>
					
					<label>New Password:</label>
					<input type = "password" id = "newpass" class = "span5" name = "newPass"/>
					
					<label>Confirm Password:</label>
					<input type = "password" class = "span5" id = "confirmpass" name = "confirmPass"/>
				</form>	
			</div>
			
			<div class = "modal-footer">
				<a href = "#" class = "btn btn-primary pull-right" data-dismiss="modal" aria-hidden="true">
    		Close
    		</a>
    			<button data-role="submit" form="passwordchange" id = "updatepass" class = "btn pull-right">Update</button>
			</div>
		</div>
		
		
	<script src = "js/bootstrap.min-jasny.js" type = "text/javascript"></script>
	</script>
</body>
</html>
