		
		<div class = "modal hide fade" id = "supportmodal">
			<div class = "modal-header text">
				<h2 class = "pull-center block">Contact Us</h2>
			</div>
			<div class = "modal-body text" id = "supportbody">
			{% include 'alertdivs.twig' %}
				<form id = "supportform" method = "POST" action = "sendmails.php" >
					<label>What's it about?</label>
					<input type = "text" name = "subject" class = "span5" placeholder = "Subject"/>
					<label>What do you want to say?</label>
					<textarea cols = "40" rows = "6" placeholder = "Content" name = "message" class = "span5"></textarea>
				</form>
			</div>
			<p class = "pull-center">Thank you for your message! We will get back to you as soon as possible</p>
			<div class = "modal-footer text">
				<a href = "#" id = "closebutton" class = "btn pull-right" data-dismiss="modal" aria-hidden="true">
    		Close
    		</a>
    		<button role = "submit" form = "supportform" class = "btn btn-info pull-right"
    		id = "supportformsubmit"
    		>Submit</button>
			</div>
		</div>