<!DOCTYPE html>
<html lang = "en">
	<head>
		<title>Venues</title>
		{%  set venues = true %}
		{% include 'headsection.twig' %}
		<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
		<link href = "css/venues.css" rel = "stylesheet" type = "text/css"/>
		<link rel="stylesheet" href="css/jquery.fancybox.css?v=2.1.4" type="text/css" media="screen" />
		<link rel="stylesheet" href="css/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-34421776-1']);
		  _gaq.push(['_setDomainName', 'cheersu.com']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>
	</head>
	<body>
		
		{% include 'navbar.twig' %}
	
	<section id = "schoolname" class = "content">
		<div class = "container-fluid">
			<div class = "row-fluid">
				<div class = "span11 well pull-center" id = 'venueheaderwell'>
					<h1 class = "block">{{School}}</h1>
					<a href = "#requestvenuemodal" data-toggle = "modal" class = "btn btn-info">Request a Venue</a>
				</div>
			</div>
		</div>
	</section>
	
	<section id = "venues" class = "content">
		<div class = "container-fluid">
			<div class = "row-fluid">
				<div class = "span11 well" id = 'venuelistwell'>
				
				<div class = "successdiv alert alert-success pull-center">
						
					</div>
					<div class = "errordiv alert alert-error pull-center">
						An error occurred
					</div>
					<a href = "#extraactionmodal" data-toggle = "modal" id = "notlisted" class = "btn btn-block">
					Going somewhere not on the list?
				</a>
				
					{% if noresults is defined %}
					<div class = "alert alert-error">
						<h3>No venues found!</h3>
						Use the Request a Venue button to request for a venue near <strong>{{School}}</strong> 
					</div>
					{% else %}
						{% for venue in venue_list %}
							{% if loop.index0 is divisibleby(4) %}
								<div class = "row-fluid">
									<ul class = "thumbnails">
							{% endif %}
							 <li class="span3">
						  	<h4 class = "pull-center block location" rel = "popover" data-placement = "bottom"
						  	data-content = "{{venue.venue_address}}" data-original-title = "{{venue.venue_name}}" >
						  		{{venue.venue_name}}
						  	</h4>
						  	<a href="#" class="thumbnail" data-venue-id = {{ venue.venue_id }}>
						  		<img src="venue_cover.php?venue_id={{ venue.venue_id }}&type=rectangle">
						      	<span class = "pull-center actions">
							      <button class = "btn btn-small btn-info reserve">Reserve</button>
							      <button class = "btn btn-small btn-warning checkin">Check In</button>
							      <button class = "comment btn btn-small">
							      <i class = "icon-comment-alt"></i></button>
						      </span>
						      </a>
						      <div class = "pull-center stats">
						    	<h4>Tonights Totals</h4>
						    	<a href = "#" class = "btn  pull-center btn-small checkins">Checkins:&nbsp;{{venue.venue_checkins}}</a>
						    	<a href = "#" class = "btn  pull-center btn-small reservations">Reservations:&nbsp;{{venue.venue_reservations}}</a>
						    	<button role = "link" href = "#photomodal" class = "btn btn-small btn-info btn img-upload"><i class = "icon-camera"></i> Photos</button>
						    </div>
						    
						  </li>
						  {% if loop.index is divisibleby(4) %}
						  	</ul>
						
							</div>	
						  {% endif %}
						  {% set index = loop.index %}
						{% endfor %}
						{% if index is not divisibleby(4) %}
							</ul>
							</div>
						{% endif %}
						{% endif %}
				</div>
			</div>
		</div>
	</section>
	
		{% include 'support.twig' %}
		
		
		<div class = "modal hide fade" id = "commentmodal">
			<div class = "modal-header text">
				<h3 class = "pull-center">Comments</h3>
			</div>
			<div class = "modal-body text">
				<div class = "alert alert-error pull-center errordiv">
					<strong>No comments on this venue yet</strong>
				</div>
				<div class = "alert alert-success pull-center successdiv">
					<strong>No comments on this venue yet</strong>
				</div>
				<div id = "prevcomments">
				
				<table class = "table">
{# 					<tr>#}
{# 						<td class = "comment-dp"><img src = "img/cheersu_icon.png"/></td>#}
{# 						<td class = "comment-comment">#}
{# 							<p class = "block">Arjun</p>#}
{# 							<p>Bad place</p>#}
{# 						</td>#}
{# 					</tr>	#}
				</table>
				</div>
				<form id = "commentform">
					<input type = "text" id = "comment" class = "span4" placeholder = "How is the venue?"/>
					<button role = "submit" class = "btn btn-info">Comment</button>
				</form>
			</div>
			<div class = "modal-footer text">
				<a href = "#" id = "closebuttoncomment" class = "block btn pull-right" data-dismiss="modal" aria-hidden="true">
    		Close
    		</a>
			</div>
		</div>
		
		<div class = "modal hide fade" id = "extraactionmodal">
			<div class = "modal-header">
				<h3 class = "pull-center">Where are you going?</h3>
			</div>
			<div class = "modal-body">
			<div class = "alert alert-error pull-center errordiv">
					<p>No comments on this venue yet</p>
				</div>
				<div class = "alert alert-success pull-center successdiv">
					<p>No comments on this venue yet</p>
				</div>
				<div class = "loading pull-center">
					<img src = "img/ajax-loader.gif"/>
				</div>
				<form id = "externalaction" class = "pull-center">
					<select name = "activitytype" class = "span5 externalselect">
						<option value = "checkin">Checkin</option>
						<option value = "reserve">Reserve</option>
					</select>
					<h4>into</h4>
					<input type = "text" class = "span5" name = "venuename" placeholder = "Where you plan to go"/><br/>
					<h4>near</h4>
					<select name = "schoolname" class = "span5 externalselect">
						{% for school in Schools %}
						<option value = "{{ school.school_name }}"
							{% if school.school_name == School %}
								selected = "selected"
							{% endif %}
						>{{ school.school_name }}</option>
						{% endfor %}
					</select>
				</form>
			</div>
			<div class = "modal-footer">
				<a href = "#" class = "closebuttonextra btn pull-right" data-dismiss="modal" aria-hidden="true">Close</a>
				<button role = "submit" form = "externalaction" class = "btn btn-info">Submit</button>
			</div>
		</div>
		<div class = "modal hide fade" id = "requestvenuemodal">
			<div class = "modal-header text">
				<h3 class = "pull-center">
					Request for a venue
				</h3>
			</div>
			<div class = "modal-body">
				{% include 'alertdivs.twig' %}
				<form id = "requestvenueform" class = "pull-center">
					<input type = "text" class = "span5" name = "venue_name" placeholder = "Venue Name"/>
					<select name = "venue_school_id" class = "span5">
						<option value = "NULL">Choose a School</option>
						{% for school in Schools %}
						<option value = "{{ school.school_id }}"
							{% if school.school_name == School %}
								selected = "selected"
							{% endif %}>
						{{ school.school_name }}</option>
						{% endfor %}
					</select>
					<input type = "text" class = "span5" name = "venue_address" placeholder = "Venue Address"/>
				</form>
				<div class = "modal-footer">
					<a href = "#" id = "closebuttonrequest" class = "btn pull-right" data-dismiss="modal" aria-hidden="true">Close</a>
					<button role = "submit" form = "requestvenueform" class = "btn btn-info pull-right" id = "requestvenueformbuttton">
					Submit</button> 				
				</div>
			</div>
		</div>
		
		<div class = "modal hide fade" id = "photomodal">
			<div class = "modal-header text">
				<h3 class = "pull-center">Photos for this venue</h3>
			</div>
			<div class = "modal-body">
				<a href = "#" id = "photo-upload" class = "btn btn-info">Upload Images</a>
			<div class = "row-fluid" id = "upload-section">
				<a href = "#" id = "close-upload" class = "btn btn-danger btn-mini pull-right"><i class = "icon-remove"></i></a><br/>
				<div class = 'previews'></div>
				<a href = "#" id = "upload-file" class = "btn btn-info pull-left"><i class = "icon-plus"></i></a><br/>
				
				<form id = "file-upload" enctype = "multipart/form-data" method = "post"
				action = "multifileupload.php">
				<input type = "file" id = "file" name = "file[]" class = "file"/>
				<input type = "hidden" name = "page" value = "venue"/>
				<input type = "hidden" name = "redirect" value = "venues.php?schoolid={{ Schoolid }}"/>
				<input type = "hidden" name = "extraparam" value = "0" id = "extraparam"/>
				<input id = "upload-all" class = "btn btn-block pull-left disabled" data-disabled = "true"
							type = "submit" value = "Post Photos"/>
				</form>
				
				
				
			</div>
			<div id = "img-thumbnails">
				<div class = "alert alert-error pull-center errordiv">
						<p>No photos for this venue yet</p>
				</div>
			</div>
			</div>
			<div class = "modal-footer text">
				<a href = "#" id = "close-photo-modal" class = " btn pull-right" data-dismiss="modal" aria-hidden="true">Close</a>
			</div>
		</div>
		<div class = "modal hide fade" id = "statsmodal">
			<div class = "modal-header text">
				<h3 class = "pull-center"></h3>
			</div>
			<div class = "modal-body text">
				<table class = "table">
				</table>
			</div>
			
			<div class = "modal-footer text">
				<a href = "#" id = "closebuttonstats" class = "block btn pull-right" data-dismiss="modal" aria-hidden="true">Close</a>
			</div>
		</div>
	<script type="text/javascript" src="js/jquery.fancybox.pack.js?v=2.1.4"></script>
	<script type="text/javascript" src="js/jquery.fancybox-thumbs.js?v=1.0.7"></script>
	<script src = "js/jquery.blockUI.js" type = "text/javascript"></script>
	<script src = "js/venues.js" type = "text/javascript" ></script>
	<script src = "js/ajaxfileupload.js" type = "text/javascript"></script>
	</body>
</html>