html, body {
padding: 0;
margin: 0;
text-align: center;
font-size: 12px;
color: #888;
font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
background-color: #F2F2F2;
}
#wrapper {
width: 1020px;
margin-top: 40px;
margin-bottom: 40px;
margin-left: auto;
margin-right: auto;
text-align: left;
background: #ffffff;
position: relative;
box-shadow: 0px 0px 10px #DEDEDE;
}
#content{
padding:20px;
border-top: 3px solid #FF9C00;
text-align: left;
}
#content .err {
padding-bottom:5px;
font-weight: bold;
}
#wrapper #header {
	background: url("bg.png") 0 0 repeat;
	padding-top: 20px;
	padding-bottom:20px;
	text-align: center;
}
#wrapper #header #logo {
	background: url("header.png") 0 0 no-repeat;
	background-position:center;
	margin-left: auto;
	margin-right: auto;
	width: 350px;
	height: 67px;
}