<!DOCTYPE html> 
<html> 
<head> 
	{% include 'headsection.twig' %}
	
	<body>
		<div data-role = "page" data-theme = "a">
			<script src = "js/dashboard.js"></script>
			<style>
				#personal-section{
					padding-left:10px;
					font-family:"Lato",sans-serif;
				}
				#personal-section h1{
					margin-top:5px;
					margin-bottom:0px;
				}
				#personal-section p{
					margin-top:3px;
					font-size:18px;
				}
				
				#activity-table h3{
					margin-top:0px;
					margin-bottom:0px;
				}
				#activity-table p{
					margin-top:5px;
				}
				#activity-table a{
					color:orange;
					text-decoration:none;
				}
				
			</style>
			<div data-role="header">
				<h1><img class = "brand-logo" src = "img/logo.png"/></h1>
			</div><!-- /header -->
			{% include 'mybar.twig' %}
			<div data-role = "content">
				<table>
					<td>
						<a href = "profile.php"><img src = "http://cheersu.com/img/{{ dp }}" class = "large-dp-container"/>
						</a>
					</td>
					<td id = "personal-section">
						<h1>{{ name }}</h1>
						<p>{{ status}}</p>
					</td>
				</table>
				
				<form id = "updatestatusform" method = "POST" action = "updatestatus.php">
					<input type = "text" name = "status" placeholder = "What's new, {{ username }}?" data-theme = "c"/>
					<input type = "submit" value = "Update Status" data-role = "button" data-theme = "b"/>
				</form>
				
				<h2>Activity Feed</h2>
				{% if nofriends is defined or nofriendactivity is defined%}
					<strong>No Friend Activity</strong>
				{% else %}
					<div class = "ui-grid-solo" id = "activity-table">
					
					{% for activity in activitylist %}
								
									<a href = "profile.php?userid={{ activity.id }}"><img class = "dp-container" style = "float:left;margin-right:5px;margin-bottom:20px;" src = "http://cheersu.com/img/{{ activity.dp }}"/></a>
								
								<p style = "float:right;font-size:12px;">{{ activity.timestamp }}</p>
									<h3>{{ activity.name }}</h3>
									{% if activity.external is defined %}
											<p> {{ activity.type }} <b>{{ activity.venue }}</b> near <b>
											{{ activity.schoolname }}</b></p>
										{% elseif activity.commentactivity is defined %}
											<p> Status:
												{{ activity.comment }}
											</p>
										{% else %}
											<p> {{ activity.type }} <b>{{ activity.venue }}</b> near <b> 
											<a href = "venues.php?schoolid={{ activity.schoolid }}">{{ activity.schoolname }}</a></b>
											{%  if activity.type == "commented on" %}
											: <i>{{ activity.comment }}</i>	
											{% endif %}
											</p>
										{% endif %}
									<br/>
					{% endfor %}
					
					</div>
					
				{% endif %}
			</div>
			<div data-role = "footer" id = "footer" data-position = "fixed">
		<div data-role="navbar">
			<ul>
				<li><a href="dashboard.php" data-icon = "dashboard" class="ui-btn-active ui-state-persist"  data-theme = "e">Dashboard</a></li>
				<li><a href="venues.php" data-icon="glass" data-theme="e">Venues</a></li>
				<li><a href = "schools.php" data-icon="pencil" data-theme="e">Schools</a>
				<li><a href = "friends.php" data-icon="group"  data-theme="e">Friends</a>
			</ul>
		</div>
	</div>
		</div>
	</body>
</head>
