<!DOCTYPE html> 
<html> 
<head> 
	{% include 'headsection.twig' %}
</head>

<div data-role = "page" data-theme = "a">
<style>
		.friend-name{
			margin-left:10px;
			font-size:20px;
			font-family:"Lato",sans-serif;
		}
		.collapsible img{
			margin-left:5px;
		}
		#friendlist{
			margin-top:10px;
		}
	</style>
	<div data-role="header">
		<h1><img class = "brand-logo" src = "img/logo.png"/></h1>
	</div><!-- /header -->
	<div data-role = "listview" data-split-icon = "arrow-d" data-split-theme = "a" data-theme = "b">
		<li>
{# 			<p class = "ui-li-count" id = "unseen">0</p>#}
			<a href = "profile.php">{{ username }}</a>
			<a href = "#extrapopup" data-rel = "popup"></a>
		</li>
		
		<div data-role = "popup" id = "extrapopup" data-theme = "c" data-shadow = "true">
			<div data-role = "listview" data-theme = "c">
				<li><a href = "notifications.php" id = "notificationunseen">Notifications</a>
				<li><a href = "settings.php">Settings</a></li>
				<li><a href = "logout.php">Logout</a></li>
			</div>
		</div>
</div>
	<div data-role = "content">
		<div data-role="listview" id = "friendlist" data-filter="true" data-filter-placeholder= "Search Friends..">
			{% for friend in friendlist %}
				<li>
					<a href = "profile.php?userid={{ friend.userid }}">
					<img class = "large-dp-container" src = "http://cheersu.com/img/{{ friend.dp }}">
					<h1 class = "friend-name">{{ friend.name }}</h1>
					
					</a>
				</li>
			{% endfor %}
			
		</div>
	</div>
	<div data-role = "footer" data-position="fixed">
		<div data-role="navbar">
			<ul>
				<li><a href="dashboard.php" data-icon = "dashboard" data-theme = "e">Dashboard</a></li>
				<li><a href="venues.php" data-icon="glass" data-theme="e">Venues</a></li>
				<li><a href = "schools.php" data-icon="pencil" data-theme="e">Schools</a>
				<li><a href = "friends.php" class="ui-btn-active ui-state-persist" data-icon="group"  data-theme="e">Friends</a>
			</ul>
		</div>
	</div>
</div>