<title>Cheersu</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='http://fonts.googleapis.com/css?family=Lato|Candal' rel='stylesheet' type='text/css'> 
<link href = "css/jquery.mobile.min.css" rel = "stylesheet">
<link href = "font/jqm-icon-pack-2.1.2-fa.css" rel = "stylesheet">
<link href = "css/cheersu.css" rel = "stylesheet"/>
<link rel="shortcut icon" href="img/favicon.ico" />
<script src = "js/jquery.js" type = "text/javascript"></script>
<script src = "js/jquery.mobile.js" type = "text/javascript"></script>
<script src = "js/check_notifications.js" type = "text/javascript"></script>

		