<!DOCTYPE html> 
<html> 
<head> 
	{% include 'headsection.twig' %}
</head>

<body>
<div data-role = "page" id = "login" data-theme = "a">
	<script src = "js/landing.js"></script>
	<style>
		body{	
			font-family: 'Lato',sans-serif;
		}
	</style>
	<div data-role="header">
		<h1><img class = "brand-logo" src = "img/logo.png"/></h1>
	</div><!-- /header -->
	<div data-role="content" class = "content">
		<form action = "" method = "post" id = "loginform">
			<label for="email">Email Address</label>
    		<input type="text" name="email" id="loginemail"/>
    		<label for="pass">Password</label>
    		<input type="password" name="password" id="loginpassword"/>
    		<label for="remember">Remember Me</label><br/>
			<select name="rememberme" id="rememberme" data-role="slider" data-theme="b">
				<option value="off">Off</option>
				<option value="remember">On</option>
			</select> 
			<input type = "submit" value = "Login" data-role="button"/>
			<a href = "#" data-role="button" data-theme="e">Forgot Password?</a>
		</form>
	</div>
	
	<div data-role="footer" data-position="fixed">
		<div data-role="navbar">
			<ul>
				<li><a href="#login"  data-icon="signin" class="ui-btn-active ui-state-persist">Login</a></li>
				<li><a href = "#signup"  data-icon="plus">Register</a>
			</ul>
		</div>
	</div><!-- /footer -->
		
</div>
<div data-role = "page" id = "signup" data-theme = "a">
	<div data-role="header">
		<h1><img class = "brand-logo" src = "img/logo.png"/></h1>
	</div><!-- /header -->

	<div data-role="content" class = "content">	
		<form action = "" method = "post" id = "registerform">
			<label for="firstname">First Name:</label>
			<input type = "text" name = "firstname" id = "firstname"/>		
			<label for="lastname">Last Name:</label>
			<input type = "text" name = "lastname" id = "lastname"/>
			<label for="email">School Email:</label>
			<input type = "text" name = "schoolemail" id = "email"/>
			<label for="pass">Password:</label>
			<input type = "password" name = "password" id = "pass"/>
			<label for = "schoolselect">Choose Your school:</label>
			<select id = "schoolselect" name = "school">
				<option value = "NULL">Choose Your School</option>
				{% for school in schools %}
					<option value = {{school.id}}>{{ school.name }}</option>
				{% endfor %}
			</select>
			<label for="sex">Gender:</label>
			<select id = "gender" name = "sex">
				<option>Male</option>
				<option>Female</option>
				<option>Not Applicable</option>
			</select>
			<input type = "submit" value = "Register" data-role="button" data-theme="c" data-icon="chevron-right" data-iconpos="right"/>
		</form>
	</div><!-- /content -->

	<div data-role="footer" data-position="fixed">
		<div data-role="navbar">
			<ul>
				<li><a href="#login" data-icon="signin">Login</a></li>
				<li><a href = "#signup" class="ui-btn-active ui-state-persist" data-icon="plus">Register</a>
			</ul>
		</div>
	</div><!-- /footer -->
</div>
</body>