<div data-role = "listview" data-split-icon = "arrow-d" data-split-theme = "a" data-theme = "b">
		<li>
{# 			<p class = "ui-li-count" id = "unseen">0</p>#}
			<a href = "profile.php">{{ username }}</a>
			<a href = "#extrapopup" data-rel = "popup"></a>
		</li>
		
		<div data-role = "popup" id = "extrapopup" data-theme = "c" data-shadow = "true">
			<div data-role = "listview" data-theme = "c">
				<li><a href = "notifications.php" id = "notificationunseen">Notifications</a>
				<li><a href = "settings.php">Settings</a></li>
				<li><a href = "logout.php">Logout</a></li>
			</div>
		</div>
</div>
<form id = "searchform" method = "POST" action = "results.php">
	<input type="search" name="searchquery" id="search-basic" value="" placeholder = "Search for friends" />
</form>
	