<!DOCTYPE html> 
<html> 
<head> 
	{% include 'headsection.twig' %}
		
</head>
<body>
	<div data-role="page" id = "venuespage"  data-theme = "a" data-url="venuespage">
	<script src = "js/notifications.js"></script>
		<style>
			#activity-table h3{
				margin-bottom:0px;
			}
			#activity-table p{
				margin-top:5px;
			}
			#activity-table,
			.content{
				font-family:"Lato",sans-serif;
			}
		</style>
		<div data-role="header">
			<h1><img class = "brand-logo" src = "img/logo.png"/></h1>
		</div><!-- /header -->
		{% include 'mybar.twig' %}
		<div data-role = "content" class = "content">
		<div data-role="popup" id="notification" data-overlay-theme = "a" data-theme = "b" class = "ui-content">
		<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
		<p></p>
	</div>
			<h1>Notifications</h1>
			{% if friendrequests is not defined and noresults is defined and acceptances is not defined%}
					<strong>No Notifications</strong>
				{% else %}
					<table data-theme = "b" id = "activity-table">
					{% if friendrequests is defined %}
						{% for request in friendrequests %}
							<tr data-userid = "{{ request.user_id }}">
								<td>
									<a href = "profile.php?userid={{ request.user_id }}"><img class = "dp-container" src = "http://cheersu.com/img/{{ request.user_dp }}"/></a>
								</td>
								<td style = "vertical-align:top">
									<h3>
										Friend Request from {{ request.user_firstname }} {{ request.user_lastname }} 
									</h3>
								</td>
								<td>
									<a href = "#" data-inline = "true" class = "confirmfriend" data-role = "button" data-theme = "b">
										Confirm</a>
										
									<a href = "#" data-inline = "true" class = "deletefriend" data-role = "button" data-theme = "a">
										Delete</a>
								</td>
							</tr>
						{% endfor %}	
					{% endif %}
					{%  if acceptances is defined %}
								{% for accepted in acceptances %}
								<tr>
									<td class = "dp-container">
									<a href = "profile.php?userid={{ accepted.user_id }}">
										<img class = 'dp-container' src = "http://cheersu.com/img/{{ accepted.user_dp }}"/>
									</a>
									</td>
									<td>
										<h4>
										{{ accepted.user_firstname }} {{ accepted.user_lastname }}
										accepted your friend request.
										</h4>
									</td>
								</tr>
								{% endfor %}
							{% endif %}
					{% for activity in activities %}
								<tr>
								<td>
									<a href = "profile.php?userid={{ activity.id }}"><img class = "dp-container" src = "http://cheersu.com/img/{{ activity.dp }}"/></a>
								</td>
								<td>
									<h3>{{ activity.name }}</h3>
									<p>{{ activity.type }} <b>{{ activity.venue }}</b>
									near <b>{{ activity.schoolname }}</b>
									</p>
								</td>
								</tr>
					{% endfor %}
					</table>
					
				{% endif %}
		</div>
		<div data-role = "footer" data-position="fixed">
		<div data-role="navbar">
			<ul>
				<li><a href="dashboard.php" data-icon = "dashboard" data-theme = "e">Dashboard</a></li>
				<li><a href="venues.php" data-icon="glass" data-theme="e">Venues</a></li>
				<li><a href = "schools.php" data-icon="pencil" data-theme="e">Schools</a>
				<li><a href = "friends.php" data-icon="group"  data-theme="e">Friends</a>
			</ul>
		</div>
	</div>
	</div>
</body>
</html>