<!DOCTYPE html> 
<html> 
<head> 
	{% include 'headsection.twig' %}
</head>

<body>
	<div data-role = "page" data-theme = "a">
	<script src = "js/profile.js"></script>
	<style>
		#personal-section{
			padding-left:10px;
			font-family:"Lato",sans-serif;
		}
		#personal-section h1{
			margin-bottom:0px;
		}
		#personal-section p{
			margin-top:3px;
			font-size:18px;
		}
		#activity-table h3{
			margin-top:0px;
			margin-bottom:0px;
		}
		#activity-table{
			max-width:90%;
		}
		#activity-table p{
			margin-top:5px;
		}
		#activity-table a{
			color:orange;
			text-decoration:none;
		}
		
	</style>
		<div data-role="header">
			<h1><img class = "brand-logo" src = "img/logo.png"/></h1>
		</div><!-- /header -->
		{% include "mybar.twig" %}
		
		<div data-role = "content">
			<div data-role="popup" id="notification" data-overlay-theme = "a" data-theme = "b" class = "ui-content">
				<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
				<p></p>
			</div>
			<div class = "ui-grid-solo">
			<table>
				<td>
					<img src = "http://cheersu.com/img/{{ dp }}" class = "large-dp-container" />
				</td>
				<td id = "personal-section" >
					<h1>{{ name }}</h1>
					<p>{{ school }}</p>
				</td>
			</table>
			</div>
			{% if confirmedfriends is defined %}
				<a href = "#" data-role = "button" data-theme = "a" data-userid = "{{ id }}"
					id = "unfriend" >Unfriend</a>
			{% elseif friendspending is defined%}
				<a href = "#" data-role = "button" data-theme = "d" data-userid = "{{ id }}"
					>Request pending</a>
			{% elseif friendawaiting is defined%}
				<a href = "#" data-role = "button" data-theme = "b" data-userid = "{{ id }}"
				id = "confirmfriend">
				Confirm Friend</a>
			{% elseif notfriends is defined %}
				<a href = "#" data-role = "button" data-theme = "e" data-userid = "{{ id }}"
				id = "addfriend">
			Add Friend</a>	
			{% endif %}
			<a href = "friends.php?userid={{ id }}" data-role = "button" data-theme = "c" 
				id = "friends">Friends</a>
			
			{% if noresults is defined %}
				<h2>No Activity Yet</h2>
			{% else %}
			<div class = "ui-grid-solo" id = "activity-table">
				{% for activity in activitylist %}
					
									<img class = "dp-container" style = "float:left;margin-right:5px;margin-bottom:20px;" src = "http://cheersu.com/img/{{dp }}"/>
					
								<p style = "float:right;font-size:12px;">{{ activity.timestamp }}</p>
									<h3>{{ name }}</h3>
									{% if activity.external is defined %}
											<p> {{ activity.type }} <b>{{ activity.venue }}</b> near <b>
											{{ activity.schoolname }}</b></p>
										{% elseif activity.commentactivity is defined %}
											<p> Status:
												{{ activity.comment }}
											</p>
										{% else %}
											<p> {{ activity.type }} <b>{{ activity.venue }}</b> near <b> 
											<a href = "venues.php?schoolid={{ activity.schoolid }}">{{ activity.schoolname }}</a></b>
											{%  if activity.type == "commented on" %}
											: <i>{{ activity.comment }}</i>	
											{% endif %}
											</p>
										{% endif %}
									<br/>
								
				{% endfor %}
			{% endif %}
		</div>
		<div data-role = "footer" data-position="fixed">
		<div data-role="navbar">
			<ul>
				<li><a href="dashboard.php" data-icon = "dashboard" data-theme = "e">Dashboard</a></li>
				<li><a href="venues.php" data-icon="glass" data-theme="e">Venues</a></li>
				<li><a href = "schools.php" data-icon="pencil" data-theme="e">Schools</a>
				<li><a href = "friends.php" data-icon="group"  data-theme="e">Friends</a>
			</ul>
		</div>
	</div>
	</div>
</body>