<!DOCTYPE>
<html>
	<head>
		{% include 'headsection.twig' %}
	</head>
	<body>
		<div data-role = "page" data-theme = "a">
			<div data-role="header">
				<h1><img class = "brand-logo" src = "img/logo.png"/></h1>
			</div><!-- /header -->
			{% include 'mybar.twig' %}
			<div data-role = "content">
				<h1> {{ title  }}</h1>
				{% if noresults is defined%}
					<strong>No results found</strong>
				{% else %}
					<div data-role = "listview" data-theme = "a">
						{%  for result in userresults %}
						<li>
							<a href = "profile.php?userid={{ result.user_id }}">
							<img class = "large-dp-container" src = "http://cheersu.com/img/{{ result.user_dp }}">
							<h1 class = "friend-name">{{ result.user_firstname }} {{ result.user_lastname }}</h1>
							
							</a>
						</li>
						{% endfor %}
					</div>
				{% endif %}
			</div>
			<div data-role = "footer" data-position= "fixed">
				<div data-role="navbar">
					<ul>
						<li><a href="dashboard.php" data-icon = "dashboard" data-theme = "e">Dashboard</a></li>
						<li><a href="venues.php" data-icon="glass" data-theme="e">Venues</a></li>
						<li><a href = "schools.php" data-icon="pencil" data-theme="e">Schools</a>
						<li><a href = "friends.php" data-icon="group"  data-theme="e">Friends</a>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>