<!DOCTYPE html> 
<html> 
<head> 
	{% include 'headsection.twig' %}
</head>

<body>
	<div data-role="page"  data-theme = "a">
	<script src = "js/schools.js"></script>
	<div data-role="header">
		<h1><img class = "brand-logo" src = "img/logo.png"/></h1>
	</div><!-- /header -->

	{% include "mybar.twig" %}
	<div data-role="content" class = "content">	
		<ul data-role="listview" data-filter = "true" data-filter-placeholder = "Search States...">
		{% for state in states %}
		<li><a class = "statename" href = "#schoollist" data-stateid = {{ state.state_id }}>{{ state.state_name }}</a></li>
		{% endfor %}
	</ul>
				
	</div><!-- /content -->
	
	<div data-role = "footer" data-position="fixed">
		<div data-role="navbar">
			<ul>
				<li><a href="dashboard.php" data-icon = "dashboard" data-theme = "e">Dashboard</a></li>
				<li><a href="venues.php" data-icon="glass"  data-theme="e">Venues</a></li>
				<li><a href = "schools.php" data-icon="pencil" class="ui-btn-active ui-state-persist"  data-theme="e">Schools</a>
				<li><a href = "friends.php" data-icon="group"  data-theme="e">Friends</a>
			</ul>
		</div>
	</div>
	<div data-role="popup" id="notification" data-overlay-theme = "a" data-theme = "b" class = "ui-content">
		<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
		<p></p>
	</div>
	<div data-role="popup" id="schoollistpop" data-overlay-theme = "a" data-theme = "b" class = "ui-content">
		<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
		<h1>Schools in <span id = "statenamespan">xyz</span></h1>
		<ul data-role = "listview" data-theme = "b">
		</ul>
	</div>

</div><!-- /page -->

</body>
</html>