<html>
	<head>
		{% include 'headsection.twig' %}
	</head>
	<body>
		<div data-role = "page" data-theme = "a">
			<div data-role="header">
				<h1><img class = "brand-logo" src = "img/logo.png"/></h1>
			</div><!-- /header -->
			{% include 'mybar.twig' %}
			<div data-role = "content">
				<form id = "infoform" data-ajax="false" action = "updateaccount.php" method = "POST"> 
					<label>First Name:</label>
					<input type = "text" name = "firstname" class = "span12" value = "{{firstname}}">
					<label>Last Name:</label>
					<input type = "text" name = "lastname" class = "span12" value = "{{lastname}}">
					<label>Bio (160 characters max):</label>
					<textarea class = "span12" name = "bio" rows = "2">{{bio}}</textarea>
					<label>Email:</label>
					<input name = "email" type = "text" class = "span12" value = "{{email}}">
					<label>School:</label>
					<select name = "school" class = "span12">
						{% for school in schoollist %}
							<option value = "{{ school.school_id }}"
							{% if school.school_id == myschool %}
							selected = "selected"
							{% endif %}>{{ school.school_name }}</option>
						{% endfor %}
					</select>			
					<input type = "submit" data-role = "button" data-theme = "c" value = "Submit">
				</form>
			</div>
			<div data-role = "footer" data-position = "fixed">
				<div data-role="navbar">
					<ul>
						<li><a href="dashboard.php" data-icon = "dashboard" data-theme = "e">Dashboard</a></li>
						<li><a href="venues.php" data-icon="glass" data-theme="e">Venues</a></li>
						<li><a href = "schools.php" data-icon="pencil" data-theme="e">Schools</a>
						<li><a href = "friends.php" data-icon="group"  data-theme="e">Friends</a>
					</ul>
				</div>
			</div> 
		</div>
	</body>
</html>