<!DOCTYPE html> 
<html> 
<head> 
	{% include 'headsection.twig' %}
</head>
<body>
	
	<div data-role="page" id = "venuespage"  data-theme = "a" data-url="venuespage">
	<script src = "js/venues.js"></script>
	<style>
	#schoolname{
			margin-left:auto;
			margin-right:auto;
			float:center;
			font-family:"Lato",sans-serif;
		}
		#logout{
			margin-top:10px;
		}
		.dp-container{
			max-width:48px;
			height:48px;
			float:left;
		}
		body{	
			font-family: 'Lato',sans-serif;
		}
		.content{
			padding-bottom:80px;
		}
		.brand-logo{
			max-width:100%;
		}
		.footer{
			position:fixed;
			bottom:0px;
			z-index:1000;
			width:100%;
		}
		.venue-img{
			width:100%;
		}
		
	</style>

	<div data-role="header">
		<h1><img class = "brand-logo" src = "img/logo.png"/></h1>
	</div><!-- /header -->
	{% include "mybar.twig" %}
	<div data-role="content" class = "content" id = "venuespage" data-link = "venuespage">
	
	<div data-role="popup" id="notification" data-overlay-theme = "a" data-theme = "b" class = "ui-content">
		<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
		<p></p>
	</div>
		<h1 id = "schoolname">{{ School }}</h1>
		{% if schoolid is defined %}
			<p style = "display:none" id = "schoolidparam">{{ schoolid }}</p>
		{% endif %}
	{% if noresults is defined  %}
		<h2>No venues found</h2>
	{% else %}
		<div data-role="collapsible-set">	
		{% for venue in venue_list %}
		<div data-role="collapsible" data-venueid={{ venue.venue_id }} class = "collapsible">
			<h1>{{ venue.venue_name }}</h1>
			
			
				<a data-theme="b" href = "#" data-role = "button" class = 'checkin'>Checkin</a>
		<a data-theme="b" href = "#" data-role = "button" class = 'reserve'>Reserve</a>
			
		   <img class = "venue-img" src="http://maps.googleapis.com/maps/api/streetview?size=600x300&location={{venue.venue_img}}&key=AIzaSyArqXfxwQi8It0K4RIKEQHoEx1ztYfaOL0&sensor=false"/>
		   
				<a data-theme = "a" href = "#" data-role="button" class = 'checkins'>Checkins: &nbsp;<span class = 'numcheckins'>{{venue.venue_checkins}}</span></a>
				<a data-theme = "a" href = "#" data-role="button" class = 'reservations'>Reservations: &nbsp;<span class = 'numreservations'>{{ venue.venue_reservations}}</span></a>
			
			<a data-theme="b" href = "#" data-role = "button" class = 'comment' data-icon ="comment-alt">Comment</a>
		</div>
		{% endfor %}
	</div>
	{% endif %}
	</div><!-- /content -->
	
	<div data-role = "footer" data-position="fixed">
		<div data-role="navbar">
			<ul>
				<li><a href="dashboard.php" data-icon = "dashboard" data-theme = "e">Dashboard</a></li>
				<li><a href="venues.php" data-icon="glass" class="ui-btn-active ui-state-persist"  data-theme="b">Venues</a></li>
				<li><a href = "schools.php" data-icon="pencil" data-theme="e">Schools</a>
				<li><a href = "friends.php" data-icon="group"  data-theme="e">Friends</a>
			</ul>
		</div>
	</div>

</div><!-- /page -->

<div id = "commentdialog" data-role = "dialog" data-url="commentdialog">
<style>
		.dp-container{
			max-width:48px;
			height:48px;
			float:left;
		}
		.nocomments{
			margin-top:10px;
			margin-bottom:10px;
		}
		#prevcomments{
			font-family:"Lato",sans-serif;
			color:white;
			padding-left:10px;
		}
		#prevcomments h3{
			margin-top:0px;
			margin-bottom:0px;
		}
		#prevcomments p{
			margin-top:3px;
		}
		#prevcomments table td:last-child{
			padding-left:5px;
		}
</style>
		<div data-role = "header">
			<h1>Comments</h1>
		</div>
		<div data-role = "content">
			<div data-role="popup" id="notification-dialog" data-overlay-theme = "a" data-theme = "b" class = "ui-content">
			<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
			<p></p>
			</div>
			<div id = "prevcomments">
			</div>
			
			<form id = "commentform">
				<input type = "text" id = "comment" placeholder = "How is the venue?"/>
				<input type = "submit" value = "Post" data-role="button" data-theme="b"/>
			</form>
			
			<a class = "close-dialog" data-role = "button" data-theme = "e">Close</a> 
		</div>
</div>

<div id = "statsdialog" data-role = "dialog" data-url = "statsdialog" data-theme = "a">
	<style>
		#statsdialog{
			font-family:"Lato", sans-serif;
		}
		.dp-container{
			max-width:48px;
			height:48px;
			float:left;
		}
		#statsdialog h4{
			margin-top:5px;
		}
		#statsdialog a{
			color:white;
			font-family:"Lato", sans-serif;
			text-decoration:none;
		}
	</style>
	<div data-role = "header" class = "header">
		<h3></h3>
	</div>
	<div data-role = "content" class = "content">
		{% if schoolid is defined %}
			<p style = "display:none" id = "schoolidparam1">{{ schoolid }}</p>
		{% endif %}
		<table>
		</table>
	<a class = "close-dialog" data-role = "button" data-theme = "e">Close</a>
	</div>
	
</div>
	
</body>
</html>