#photomodal .modal-footer{
	padding-top:5px;
	padding-bottom:5px;
}

.fancybox{
	height:120px;
	width:120px;
	background-color:black;
	float:left;
	margin-right:5px;
	margin-bottom:5px;
}
.fancybox img{
	height:120px;
	width:120px;
	transition: opacity 0.4	s;
	-moz-transition: opacity 0.4s; /* Firefox 4 */
	-webkit-transition: opacity 0.4s; /* Safari and Chrome */
	-o-transition: opacity 0.4s; /* Opera */
}
#photo-modal .modal-body{
	background-color:#BBBFC2;
}
.fancybox img:hover{
	opacity:0.5;
}
#photo-upload{
	margin-bottom:5px;
}
#upload-section{
	display:none;
}

#upload-all{
	margin-top:10px;
}
#upload-section{
	display:none;
}

#close-upload{
	margin-bottom:10px;
}
#close-upload i{
	margin-top:3px;
}
.photo-preview{
	background-color:white;
	float:left;
	margin-right:5px;
	margin-bottom:5px;
	padding:0px;
	width:79px;
	height:86px;
}
 .preview-img{
	width:150px;
	height:150px;
	margin-left:0px;
}
.photo-preview .photo-loading{
	display:none;
	position:relative;
	top:25px;
	left:24px;
}

#upload-file i{
	font-size:5em;
	margin-top:5px;
}


.pull-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.content{
	margin-top:80px;
}
.block{
	text-transform:uppercase;
}
.successdiv,.errordiv,.loading{
	display:none;
}